.version.dogzito /* version checker */
{
	color: #000013;
	background-color: #E34E22;
}

@font-face
{
	font-family: '__Open Sans_5';
	src: url('../fonts/open-sans-v18-latin-regular.eot');
	src: local('☺'), url('../fonts/open-sans-v18-latin-regular.woff') format('woff'), url('../fonts/open-sans-v18-latin-regular.svg') format('svg');
	font-weight: 400;
	font-style: normal;
}

@font-face
{
	font-family: '__Open Sans_5';
	src: url('../fonts/open-sans-v18-latin-700.eot');
	src: local('☺'), url('../fonts/open-sans-v18-latin-700.woff') format('woff'), url('../fonts/open-sans-v18-latin-700.svg') format('svg');
	font-weight: 700;
	font-style: normal;
}

@font-face
{
	font-family: '__Open Sans_5';
	src: url('../fonts/opensans-bolditalic-webfont.eot');
	src: local('☺'), url('../fonts/opensans-bolditalic-webfont.woff') format('woff'), url('../fonts/opensans-bolditalic-webfont.svg') format('svg');
	font-weight: 700;
	font-style: italic;
}

#page
{
	margin-left: auto;
	border-width: 0px;
	border-color: #000000;
	background-image: none;
	background-color: #F1F1F1;
	z-index: 1;
	width: 100%;
	margin-right: auto;
}

#buttonu524045
{
	min-height: 55px;
	top: 0px;
	background-color: #FFFFFF;
	position: fixed;
	border-color: #787878;
	z-index: 53;
}

#buttonu524045:hover
{
	min-height: 55px;
	margin: 0px;
}

#buttonu524045.ButtonSelected
{
	min-height: 55px;
	margin: 0px;
}

#buttonu524045_align_to_page
{
	margin-left: auto;
	margin-right: auto;
	position: relative;
}

#buttonu524224
{
	width: 55px;
	z-index: 68;
	filter: alpha(opacity=100);
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
	position: relative;
	height: 55px;
	margin-right: -10000px;
	border-color: #787878;
	opacity: 1;
	background: #FFFFFF url("../images/anterior1.svg?crc=430490106") no-repeat center bottom;
	background-size: cover;
}

.nosvg #buttonu524224
{
	background-image: url('../images/anterior1_poster_u524602.png?crc=528006061');
}

#buttonu524224:hover
{
	width: 55px;
	background-repeat: no-repeat;
	background-position: center bottom;
	min-height: 0px;
	height: 55px;
	margin: 0px -10000px 0px 0px;
	background-size: cover;
}

#buttonu524224:active
{
	width: 55px;
	background-repeat: no-repeat;
	background-position: center bottom;
	min-height: 0px;
	height: 55px;
	margin: 0px -10000px 0px 0px;
	background-size: cover;
}

#buttonu524224.ButtonSelected
{
	width: 55px;
	background-repeat: no-repeat;
	background-position: center bottom;
	min-height: 0px;
	height: 55px;
	margin: 0px -10000px 0px 0px;
	background-size: cover;
}

#u524074-4
{
	color: #B4B4B4;
	z-index: 58;
	margin-right: -10000px;
	font-weight: 700;
	font-family: '__Open Sans_5';
	position: relative;
	min-height: 55px;
	line-height: 3.4;
	background-color: transparent;
	width: 35px;
	letter-spacing: 0px;
	text-align: center;
	font-size: 16px;
}

#buttonu524045:hover #u524074-4
{
	min-height: 55px;
	padding-top: 0px;
	width: 35px;
	padding-bottom: 0px;
	margin: 0px -10000px 0px 0%;
}

#buttonu524045:hover #u524074-4 p
{
	line-height: 3.4;
	text-align: center;
	font-size: 16px;
}

#u524073-4
{
	color: #B4B4B4;
	z-index: 54;
	margin-right: -10000px;
	font-weight: 700;
	font-family: '__Open Sans_5';
	position: relative;
	min-height: 55px;
	line-height: 3.4;
	background-color: transparent;
	width: 35px;
	letter-spacing: 0px;
	text-align: center;
	font-size: 16px;
}

#buttonu524045.ButtonSelected #u524074-4,#buttonu524045:hover #u524073-4
{
	min-height: 55px;
	padding-top: 0px;
	width: 35px;
	padding-bottom: 0px;
	margin: 0px -10000px 0px 0%;
}

#buttonu524045.ButtonSelected #u524074-4 p,#buttonu524045:hover #u524073-4 p
{
	line-height: 3.4;
	text-align: center;
	font-size: 16px;
}

#u524075-4
{
	z-index: 62;
	margin-right: -10000px;
	font-weight: 700;
	font-family: '__Open Sans_5';
	position: relative;
	min-height: 55px;
	line-height: 3.4;
	background-color: transparent;
	width: 35px;
	letter-spacing: 0px;
	text-align: center;
	font-size: 16px;
}

#buttonu524045.ButtonSelected #u524073-4,#buttonu524045:hover #u524075-4
{
	min-height: 55px;
	padding-top: 0px;
	width: 35px;
	padding-bottom: 0px;
	margin: 0px -10000px 0px 0%;
}

#buttonu524045.ButtonSelected #u524075-4
{
	min-height: 55px;
	padding-top: 0px;
	width: 35px;
	padding-bottom: 0px;
	margin: 0px -10000px 0px 0%;
}

#buttonu524045.ButtonSelected #u524073-4 p,#buttonu524045:hover #u524075-4 p
{
	line-height: 3.4;
	text-align: center;
	font-size: 16px;
}

#buttonu524045.ButtonSelected #u524075-4 p
{
	line-height: 3.4;
	text-align: center;
	font-size: 16px;
}

#buttonu524207
{
	width: 55px;
	z-index: 67;
	filter: alpha(opacity=100);
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
	position: relative;
	height: 55px;
	margin-right: -10000px;
	border-color: #787878;
	opacity: 1;
	background: #FFFFFF url("../images/proximo1.svg?crc=329782524") no-repeat center bottom;
	background-size: cover;
}

.nosvg #buttonu524207
{
	background-image: url('../images/proximo1_poster_u524610.png?crc=447422520');
}

#buttonu524207:hover
{
	width: 55px;
	background-repeat: no-repeat;
	background-position: center bottom;
	min-height: 0px;
	height: 55px;
	margin: 0px -10000px 0px 0%;
	background-size: cover;
}

#buttonu524207.ButtonSelected
{
	width: 55px;
	background-repeat: no-repeat;
	background-position: center bottom;
	min-height: 0px;
	height: 55px;
	margin: 0px -10000px 0px 0%;
	background-size: cover;
}

#buttonu524189
{
	left: -55px;
	width: 55px;
	z-index: 66;
	filter: alpha(opacity=100);
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
	position: relative;
	height: 55px;
	margin-right: -10000px;
	margin-left: 100%;
	border-color: #787878;
	opacity: 1;
	background: #FFFFFF url("../images/fechar.svg?crc=4163833896") no-repeat center top;
	background-size: cover;
}

.nosvg #buttonu524189
{
	margin-left: 100%;
	left: -55px;
	background-image: url('../images/fechar_poster_u524618.png?crc=4121185911');
}

#buttonu524189:hover
{
	left: -55px;
	width: 55px;
	background-repeat: no-repeat;
	background-position: center bottom;
	min-height: 0px;
	height: 55px;
	margin: 0px -10000px 0px 100%;
	background-size: cover;
}

#buttonu524189:active
{
	left: -55px;
	width: 55px;
	background-repeat: no-repeat;
	background-position: center top;
	min-height: 0px;
	height: 55px;
	margin: 0px -10000px 0px 100%;
	background-size: cover;
}

#buttonu524045-bw
{
	z-index: 53;
}

#pu521319
{
	margin-top: 105px;
	margin-right: -10000px;
	z-index: 29;
}

#u521319
{
	left: 0%;
	background-color: #FFFFFF;
	position: relative;
	border-radius: 10px;
	padding-bottom: 30px;
	z-index: 29;
}

#u521313-13
{
	color: #000000;
	z-index: 30;
	margin-right: -10000px;
	font-weight: 400;
	font-family: '__Open Sans_5';
	position: relative;
	line-height: 2;
	background-color: transparent;
	margin-top: 30px;
	text-align: justify;
	font-size: 13px;
}

#u521313
{
	font-style: italic;
	font-weight: 700;
	font-family: '__Open Sans_5';
}

#u521313-3,#u521313-5,#u521313-7,#u521313-9
{
	font-weight: 700;
	font-family: '__Open Sans_5';
}

#u521316
{
	z-index: 46;
	border-radius: 10px;
	border-width: 0px;
	filter: alpha(opacity=100);
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
	position: relative;
	border-color: transparent;
	opacity: 1;
	background: transparent url("../images/logo_site_1.svg?crc=202978823") no-repeat center center;
	background-size: cover;
}

.nosvg #u521316
{
	background-image: url('../images/logo_site_1_poster_u528614.png?crc=3817659405');
}

#u521322
{
	z-index: 43;
	border-radius: 10px;
	margin-right: -10000px;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
	position: relative;
	filter: alpha(opacity=100);
	opacity: 1;
	background: transparent url("../images/logo_site_2.svg?crc=99906430") no-repeat center center;
	background-size: cover;
}

.nosvg #u521322
{
	background-image: url('../images/logo_site_2_poster_u528622.png?crc=257815638');
}

#u521445
{
	z-index: 51;
	border-radius: 10px;
	margin-right: -10000px;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
	position: relative;
	filter: alpha(opacity=100);
	opacity: 1;
	background: transparent url("../images/logo_site_3.svg?crc=3820901826") no-repeat center center;
	background-size: cover;
}

.nosvg #u521445
{
	background-image: url('../images/logo_site_3_poster_u522523.png?crc=266646658');
}

#pu529114
{
	margin-top: 20px;
	left: 0%;
	z-index: 2;
}

#u529114
{
	z-index: 2;
	border-radius: 10px;
	margin-right: -10000px;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
	position: relative;
	filter: alpha(opacity=100);
	opacity: 1;
	background: transparent url("../images/cor1.svg?crc=3782675965") no-repeat center center;
	background-size: cover;
}

.nosvg #u529114
{
	background-image: url('../images/cor1_poster_u529226.png?crc=151394747');
}

#u529115
{
	z-index: 3;
	border-radius: 10px;
	margin-right: -10000px;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
	position: relative;
	filter: alpha(opacity=100);
	opacity: 1;
	background: transparent url("../images/cor2.svg?crc=449085210") no-repeat center center;
	background-size: cover;
}

.nosvg #u529115
{
	background-image: url('../images/cor2_poster_u529234.png?crc=105131317');
}

#u529116
{
	z-index: 4;
	border-radius: 10px;
	margin-right: -10000px;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
	position: relative;
	filter: alpha(opacity=100);
	opacity: 1;
	background: transparent url("../images/cor3.svg?crc=406250454") no-repeat center center;
	background-size: cover;
}

.nosvg #u529116
{
	background-image: url('../images/cor3_poster_u529242.png?crc=3766563469');
}

#u524864
{
	left: 0%;
	position: relative;
	border-radius: 10px;
	filter: alpha(opacity=100);
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
	z-index: 27;
	opacity: 1;
	background: #FFFFFF url("../images/font.svg?crc=3782171975") no-repeat center center;
	background-size: cover;
}

.nosvg #u524864
{
	left: 0%;
	background-image: url('../images/font_poster_u528958.png?crc=401624791');
}

#u524864 .fluid_height_spacer
{
	padding-bottom: 110.00000000000001%;
}

#pu522903
{
	left: 0%;
	z-index: 28;
}

#u522903
{
	background-color: #6998CD;
	position: relative;
	border-radius: 10px;
	margin-right: -10000px;
	z-index: 28;
}

#u521311
{
	z-index: 44;
	border-radius: 10px;
	margin-right: -10000px;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
	position: relative;
	filter: alpha(opacity=100);
	opacity: 1;
	background: transparent url("../images/site_chihuahua.svg?crc=207017050") no-repeat center center;
	background-size: cover;
}

.nosvg #u521311
{
	background-image: url('../images/site_chihuahua_poster_u528654.png?crc=4109508681');
}

#u521320
{
	z-index: 47;
	border-radius: 10px;
	margin-right: -10000px;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
	position: relative;
	filter: alpha(opacity=100);
	opacity: 1;
	background: transparent url("../images/site_buldogue.svg?crc=372485676") no-repeat center top;
	background-size: cover;
}

.nosvg #u521320
{
	background-image: url('../images/site_buldogue_poster_u528646.png?crc=174520106');
}

#u521318
{
	z-index: 49;
	border-radius: 10px;
	margin-right: -10000px;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
	position: relative;
	filter: alpha(opacity=100);
	opacity: 1;
	background: transparent url("../images/site_golden.svg?crc=4133389063") no-repeat center center;
	background-size: cover;
}

.nosvg #u521318
{
	background-image: url('../images/site_golden_poster_u528662.png?crc=275705576');
}

#u521640
{
	z-index: 52;
	border-radius: 10px;
	margin-right: -10000px;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
	position: relative;
	filter: alpha(opacity=100);
	opacity: 1;
	background: transparent url("../images/site_poodle.svg?crc=170873420") no-repeat center center;
	background-size: cover;
}

.nosvg #u521640
{
	background-image: url('../images/site_poodle_poster_u528678.png?crc=318561349');
}

#u521317
{
	z-index: 45;
	border-radius: 10px;
	margin-right: -10000px;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
	position: relative;
	filter: alpha(opacity=100);
	opacity: 1;
	background: transparent url("../images/site_husky.svg?crc=315688294") no-repeat center center;
	background-size: cover;
}

.nosvg #u521317
{
	background-image: url('../images/site_husky_poster_u528670.png?crc=287723544');
}

#u528549
{
	left: 0%;
	position: relative;
	border-radius: 10px;
	filter: alpha(opacity=100);
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
	z-index: 11;
	opacity: 1;
	background: transparent url("../images/icon.svg?crc=351616138") no-repeat center center;
	background-size: cover;
}

.nosvg #u528549
{
	left: 0%;
	background-image: url('../images/icon_poster_u528702.png?crc=243759752');
}

#pu528989
{
	margin-top: 20px;
	left: 0%;
	z-index: 5;
}

#u528989
{
	z-index: 5;
	border-radius: 10px;
	margin-right: -10000px;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
	position: relative;
	filter: alpha(opacity=100);
	opacity: 1;
	background: transparent url("../images/cor4.svg?crc=3795716753") no-repeat center center;
	background-size: cover;
}

.nosvg #u528989
{
	background-image: url('../images/cor4_poster_u529250.png?crc=373794747');
}

#u528998
{
	z-index: 6;
	border-radius: 10px;
	margin-right: -10000px;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
	position: relative;
	filter: alpha(opacity=100);
	opacity: 1;
	background: transparent url("../images/cor5.svg?crc=4270327609") no-repeat center center;
	background-size: cover;
}

.nosvg #u528998
{
	background-image: url('../images/cor5_poster_u529258.png?crc=3813098896');
}

#u529021
{
	z-index: 7;
	border-radius: 10px;
	margin-right: -10000px;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
	position: relative;
	filter: alpha(opacity=100);
	opacity: 1;
	background: transparent url("../images/cor6.svg?crc=499131049") no-repeat center center;
	background-size: cover;
}

.nosvg #u529021
{
	background-image: url('../images/cor6_poster_u529266.png?crc=209284796');
}

#u529062
{
	z-index: 8;
	border-radius: 10px;
	margin-right: -10000px;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
	position: relative;
	filter: alpha(opacity=100);
	opacity: 1;
	background: transparent url("../images/cor7.svg?crc=3944384417") no-repeat center center;
	background-size: cover;
}

.nosvg #u529062
{
	background-image: url('../images/cor7_poster_u529274.png?crc=245824254');
}

#u529063
{
	z-index: 9;
	border-radius: 10px;
	margin-right: -10000px;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
	position: relative;
	filter: alpha(opacity=100);
	opacity: 1;
	background: transparent url("../images/cor8.svg?crc=3904055218") no-repeat center center;
	background-size: cover;
}

.nosvg #u529063
{
	background-image: url('../images/cor8_poster_u529282.png?crc=472504121');
}

#u529064
{
	z-index: 10;
	border-radius: 10px;
	margin-right: -10000px;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
	position: relative;
	filter: alpha(opacity=100);
	opacity: 1;
	background: transparent url("../images/cor9.svg?crc=454961998") no-repeat center center;
	background-size: cover;
}

.nosvg #u529064
{
	background-image: url('../images/cor9_poster_u529213.png?crc=357200602');
}

#u521310
{
	left: 0%;
	position: relative;
	border-radius: 10px;
	filter: alpha(opacity=100);
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
	z-index: 48;
	opacity: 1;
	background: transparent url("../images/template_todos.svg?crc=376004341") no-repeat center center;
	background-size: cover;
}

.nosvg #u521310
{
	left: 0%;
	background-image: url('../images/template_todos_poster_u529295.png?crc=3954685780');
}

#u521324
{
	z-index: 20;
	border-radius: 10px;
	filter: alpha(opacity=100);
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
	position: relative;
	opacity: 1;
	background: transparent url("../images/template_chihuahua.svg?crc=421596624") no-repeat center center;
	background-size: cover;
}

.nosvg #u521324
{
	background-image: url('../images/template_chihuahua_poster_u528846.png?crc=231761957');
}

#u521314
{
	z-index: 21;
	border-radius: 10px;
	filter: alpha(opacity=100);
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
	position: relative;
	opacity: 1;
	background: transparent url("../images/template_poddle.svg?crc=448948448") no-repeat center center;
	background-size: cover;
}

.nosvg #u521314
{
	background-image: url('../images/template_poddle_poster_u528942.png?crc=86239775');
}

#u521312
{
	z-index: 22;
	border-radius: 10px;
	filter: alpha(opacity=100);
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
	position: relative;
	opacity: 1;
	background: transparent url("../images/template_golden1.svg?crc=4108763501") no-repeat center center;
	background-size: cover;
}

.nosvg #u521312
{
	background-image: url('../images/template_golden1_poster_u528854.png?crc=95882069');
}

#u525035
{
	z-index: 24;
	border-radius: 10px;
	filter: alpha(opacity=100);
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
	position: relative;
	opacity: 1;
	background: transparent url("../images/template_golden2.svg?crc=188407590") no-repeat center center;
	background-size: cover;
}

.nosvg #u525035
{
	background-image: url('../images/template_golden2_poster_u528862.png?crc=3862070140');
}

#u525044
{
	position: relative;
	border-radius: 10px;
	filter: alpha(opacity=100);
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
	z-index: 25;
	opacity: 1;
	background: transparent url("../images/template_golden3.svg?crc=4230799373") no-repeat center center;
	background-size: cover;
}

.nosvg #u525044
{
	background-image: url('../images/template_golden3_poster_u528870.png?crc=4020474741');
}

#u525053
{
	position: relative;
	border-radius: 10px;
	filter: alpha(opacity=100);
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
	z-index: 26;
	margin-top: 20px;
	opacity: 1;
	background: transparent url("../images/template_golden4.svg?crc=4061509616") no-repeat center center;
	background-size: cover;
}

.nosvg #u525053
{
	background-image: url('../images/template_golden4_poster_u528878.png?crc=3990458677');
}

#u521323
{
	position: relative;
	border-radius: 10px;
	filter: alpha(opacity=100);
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
	z-index: 23;
	opacity: 1;
	background: transparent url("../images/template_buldogue.svg?crc=243182654") no-repeat center center;
	background-size: cover;
}

.nosvg #u521323
{
	background-image: url('../images/template_buldogue_poster_u528934.png?crc=3956793391');
}

#u521322 .fluid_height_spacer,#u521445 .fluid_height_spacer,#u528549 .fluid_height_spacer,#u521324 .fluid_height_spacer,#u521312 .fluid_height_spacer,#u521323 .fluid_height_spacer
{
	padding-bottom: 100%;
}

#u527203
{
	left: 0%;
	position: relative;
	border-radius: 10px;
	filter: alpha(opacity=100);
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
	z-index: 13;
	margin-top: 20px;
	opacity: 1;
	background: transparent url("../images/template_husky.svg?crc=46371999") no-repeat center center;
	background-size: cover;
}

.nosvg #u527203
{
	left: 0%;
	background-image: url('../images/template_husky_poster_u528886.png?crc=4066019818');
}

#u526139
{
	left: 0%;
	background-color: #FFFFFF;
	position: relative;
	border-radius: 10px;
	z-index: 14;
}

#u524841
{
	z-index: 15;
	border-radius: 10px 10px 0px 0px ;
	filter: alpha(opacity=100);
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
	position: relative;
	width: 100%;
	opacity: 1;
	background: transparent url("../images/template_dalmata1.svg?crc=3767928365") no-repeat center center;
	background-size: cover;
}

.nosvg #u524841
{
	background-image: url('../images/template_dalmata1_poster_u528894.png?crc=36884812');
}

#u525118
{
	width: 100%;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
	z-index: 16;
	position: relative;
	filter: alpha(opacity=100);
	opacity: 1;
	background: transparent url("../images/template_dalmata2.svg?crc=417804220") no-repeat center center;
	background-size: cover;
}

.nosvg #u525118
{
	background-image: url('../images/template_dalmata2_poster_u528902.png?crc=164143495');
}

#u525127
{
	width: 100%;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
	z-index: 17;
	position: relative;
	filter: alpha(opacity=100);
	opacity: 1;
	background: transparent url("../images/template_dalmata3.svg?crc=402804769") no-repeat center center;
	background-size: cover;
}

.nosvg #u525127
{
	background-image: url('../images/template_dalmata3_poster_u528910.png?crc=3869711571');
}

#u525165
{
	z-index: 18;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
	position: relative;
	filter: alpha(opacity=100);
	width: 100%;
	opacity: 1;
	background: transparent url("../images/template_dalmata4.svg?crc=4201684621") no-repeat center center;
	background-size: cover;
}

.nosvg #u525165
{
	background-image: url('../images/template_dalmata4_poster_u528918.png?crc=3951625955');
}

#u525166
{
	z-index: 19;
	border-radius: 0px 0px 10px 10px ;
	filter: alpha(opacity=100);
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
	position: relative;
	width: 100%;
	opacity: 1;
	background: transparent url("../images/template_dalmata5.svg?crc=486123481") no-repeat center center;
	background-size: cover;
}

.nosvg #u525166
{
	background-image: url('../images/template_dalmata5_poster_u528926.png?crc=397702531');
}

#u528538
{
	left: 0%;
	position: relative;
	filter: alpha(opacity=100);
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
	z-index: 12;
	margin-top: 20px;
	opacity: 1;
	background: transparent url("../images/template_layout_tecnico.svg?crc=22942449") no-repeat center center;
	background-size: cover;
}

.nosvg #u528538
{
	left: 0%;
	background-image: url('../images/template_layout_tecnico_poster_u528630.png?crc=252916333');
}

#u521309
{
	width: 140px;
	z-index: 50;
	border-radius: 10px 10px 0px 0px ;
	filter: alpha(opacity=100);
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
	position: relative;
	height: 50px;
	opacity: 1;
	background: #000000 url("../images/uminimo.svg?crc=507500714") no-repeat center center;
	background-size: contain;
}

.nosvg #u521309
{
	background-image: url('../images/uminimo_poster_u524327.png?crc=330049046');
}

.html
{
	background-color: #FFFFFF;
}

body
{
	position: relative;
}

@media (min-width: 861px), print
{
	#muse_css_mq
	{
		background-color: #FFFFFF;
	}

	#bp_infinity.active
	{
		display: block;
	}

	#page
	{
		min-height: 6703px;
		max-width: 1210px;
	}

	#buttonu524045_align_to_page
	{
		max-width: 1210px;
	}

	#u524074-4
	{
		left: 26.04%;
	}

	#u524073-4
	{
		left: 28.93%;
	}

	#u524075-4
	{
		left: 31.82%;
	}

	#buttonu524207
	{
		left: 56.2%;
	}

	#pu521319
	{
		padding-bottom: 0px;
		width: 96.7%;
	}

	#u521319
	{
		width: 72.65%;
		margin-left: 15.39%;
	}

	#u521313-13
	{
		min-height: 69px;
		width: 90.59%;
		left: 4.71%;
	}

	#pu521316
	{
		z-index: 46;
		margin-top: 50px;
		width: 100%;
		left: 0%;
		margin-left: 1.71%;
	}

	#u521316
	{
		margin-right: -10000px;
		width: 49.15%;
	}

	#u521316 .fluid_height_spacer
	{
		padding-bottom: 48.17391304347826%;
	}

	#u521322
	{
		width: 23.68%;
		left: 50.77%;
	}

	#u521445
	{
		width: 23.68%;
		left: 76.33%;
	}

	#u529116
	{
		width: 32.23%;
		left: 67.78%;
	}

	#u529114 .fluid_height_spacer,#u529115 .fluid_height_spacer,#u529116 .fluid_height_spacer
	{
		padding-bottom: 100.79575596816977%;
	}

	#u524864
	{
		margin-top: 20px;
		width: 100%;
		margin-left: 1.71%;
	}

	#u522903
	{
		width: 32.14%;
	}

	#u529115,#u521311
	{
		width: 32.23%;
		left: 33.94%;
	}

	#pu521318
	{
		z-index: 49;
		margin-top: 19px;
		width: 100%;
		left: 0%;
		margin-left: 1.71%;
	}

	#u529114,#u521318
	{
		width: 32.23%;
	}

	#u521311 .fluid_height_spacer,#u521318 .fluid_height_spacer
	{
		padding-bottom: 124.6684350132626%;
	}

	#u521640
	{
		width: 32.14%;
		left: 33.94%;
	}

	#u521320,#u521317
	{
		width: 32.14%;
		left: 67.87%;
	}

	#u522903 .fluid_height_spacer,#u521320 .fluid_height_spacer,#u521640 .fluid_height_spacer,#u521317 .fluid_height_spacer
	{
		padding-bottom: 125%;
	}

	#u528549
	{
		margin-top: 20px;
		width: 100%;
		margin-left: 1.71%;
	}

	#u528989
	{
		width: 15.22%;
	}

	#u528998
	{
		margin-top: 1px;
		width: 15.22%;
		left: 16.93%;
	}

	#u529021
	{
		width: 15.22%;
		left: 33.77%;
	}

	#u529062
	{
		width: 15.22%;
		left: 50.95%;
	}

	#u529063
	{
		width: 15.22%;
		left: 67.87%;
	}

	#u529064
	{
		width: 15.22%;
		left: 84.79%;
	}

	#u528989 .fluid_height_spacer,#u528998 .fluid_height_spacer,#u529021 .fluid_height_spacer,#u529062 .fluid_height_spacer,#u529063 .fluid_height_spacer,#u529064 .fluid_height_spacer
	{
		padding-bottom: 100%;
	}

	#pu522903,#u521310
	{
		margin-top: 21px;
		width: 100%;
		margin-left: 1.71%;
	}

	#u521310 .fluid_height_spacer
	{
		padding-bottom: 74.78632478632478%;
	}

	#ppu521324
	{
		z-index: 0;
		margin-top: 20px;
		width: 100%;
		left: 0%;
		margin-left: 1.71%;
	}

	#pu521324
	{
		z-index: 20;
		padding-bottom: 0px;
		margin-right: -10000px;
		width: 49.15%;
	}

	#ppu521312
	{
		z-index: 0;
		margin-top: 20px;
		width: 100%;
	}

	#pu521312
	{
		z-index: 22;
		padding-bottom: 0px;
		margin-right: -10000px;
		width: 48.18%;
	}

	#u525053 .fluid_height_spacer
	{
		padding-bottom: 177.9783393501805%;
	}

	#pu525035
	{
		z-index: 24;
		padding-bottom: 0px;
		margin-right: -10000px;
		width: 48.35%;
		margin-left: 51.66%;
	}

	#u525035 .fluid_height_spacer
	{
		padding-bottom: 177.33812949640287%;
	}

	#u525044 .fluid_height_spacer
	{
		padding-bottom: 99.64028776978418%;
	}

	#pu521314
	{
		z-index: 21;
		margin-right: -10000px;
		width: 49.15%;
		margin-left: 50.86%;
	}

	#u521324,#u521312,#u525053,#u525035,#u521314
	{
		width: 100%;
	}

	#u521314 .fluid_height_spacer
	{
		padding-bottom: 137.3913043478261%;
	}

	#u525044,#u521323
	{
		margin-top: 20px;
		width: 100%;
	}

	#pu529114,#pu528989,#u527203
	{
		width: 100%;
		margin-left: 1.71%;
	}

	#u526139
	{
		margin-top: 21px;
		width: 100%;
		margin-left: 1.71%;
	}

	#u527203 .fluid_height_spacer,#u524841 .fluid_height_spacer,#u525118 .fluid_height_spacer,#u525127 .fluid_height_spacer,#u525165 .fluid_height_spacer,#u525166 .fluid_height_spacer
	{
		padding-bottom: 85.47008547008546%;
	}

	#u528538
	{
		height: 3508px;
		width: 100%;
		margin-left: 1.71%;
	}

	.nosvg #u524864,.nosvg #u528549,.nosvg #u521310,.nosvg #u527203,.nosvg #u528538
	{
		margin-left: 1.71%;
	}

	#u521309
	{
		margin-top: 20px;
		margin-left: 51.71%;
		left: -70px;
	}

	.nosvg #u521309
	{
		margin-left: 51.71%;
		left: -70px;
	}

	.css_verticalspacer .verticalspacer
	{
		height: calc(100vh - 16585px);
	}

}

@media (min-width: 481px) and (max-width: 860px)
{
	#muse_css_mq
	{
		background-color: #00035c;
	}

	#bp_860.active
	{
		display: block;
	}

	#page
	{
		min-height: 5118px;
		max-width: 860px;
	}

	#buttonu524045_align_to_page
	{
		max-width: 860px;
	}

	#u524074-4
	{
		left: 25%;
	}

	#u524073-4
	{
		left: 29.07%;
	}

	#u524075-4
	{
		left: 33.14%;
	}

	#buttonu524207
	{
		left: 55.82%;
	}

	#pu521319
	{
		width: 95.35%;
	}

	#u521319
	{
		width: 92.69%;
		margin-left: 6.1%;
	}

	#u521313-13
	{
		min-height: 69px;
		width: 89.48%;
		left: 5.27%;
	}

	#u521316
	{
		margin-top: 50px;
		width: 100%;
		left: 0%;
		margin-left: 2.44%;
	}

	#u521316 .fluid_height_spacer
	{
		padding-bottom: 47.4390243902439%;
	}

	#pu521322
	{
		z-index: 43;
		margin-top: 20px;
		width: 100%;
		left: 0%;
		margin-left: 2.44%;
	}

	#u521322
	{
		width: 48.79%;
	}

	#u521445
	{
		width: 48.79%;
		left: 51.22%;
	}

	#u524864
	{
		margin-top: 19px;
		width: 100%;
		margin-left: 2.44%;
	}

	#pu521318
	{
		z-index: 49;
		margin-top: 20px;
		width: 100%;
		left: 0%;
		margin-left: 2.44%;
	}

	#u529114,#u522903,#u521318
	{
		width: 31.71%;
	}

	#u529115,#u521311,#u521640
	{
		width: 31.71%;
		left: 34.15%;
	}

	#u529116,#u521320,#u521317
	{
		width: 31.71%;
		left: 68.3%;
	}

	#u522903 .fluid_height_spacer,#u521311 .fluid_height_spacer,#u521320 .fluid_height_spacer,#u521318 .fluid_height_spacer,#u521640 .fluid_height_spacer,#u521317 .fluid_height_spacer
	{
		padding-bottom: 126.92307692307692%;
	}

	#u528549
	{
		margin-top: 21px;
		width: 100%;
		margin-left: 2.44%;
	}

	#u528989
	{
		width: 14.64%;
	}

	#u528998
	{
		width: 14.64%;
		left: 17.08%;
	}

	#u529021
	{
		width: 14.64%;
		left: 34.15%;
	}

	#u529062
	{
		width: 14.64%;
		left: 51.22%;
	}

	#u529063
	{
		width: 14.64%;
		left: 68.3%;
	}

	#u529064
	{
		width: 14.64%;
		left: 85.37%;
	}

	#u528989 .fluid_height_spacer,#u528998 .fluid_height_spacer,#u529021 .fluid_height_spacer,#u529062 .fluid_height_spacer,#u529063 .fluid_height_spacer,#u529064 .fluid_height_spacer
	{
		padding-bottom: 98.33333333333333%;
	}

	#pu522903,#u521310
	{
		margin-top: 20px;
		width: 100%;
		margin-left: 2.44%;
	}

	#u521310 .fluid_height_spacer
	{
		padding-bottom: 75%;
	}

	#u521324
	{
		margin-top: 20px;
		width: 100%;
		left: 0%;
		margin-left: 2.44%;
	}

	#u521314
	{
		margin-top: 20px;
		width: 100%;
		left: 0%;
		margin-left: 2.44%;
	}

	#u521314 .fluid_height_spacer
	{
		padding-bottom: 121.95121951219512%;
	}

	#ppu521312
	{
		z-index: 0;
		margin-top: 20px;
		width: 100%;
		left: 0%;
		margin-left: 2.44%;
	}

	#pu521312
	{
		z-index: 22;
		padding-bottom: 0px;
		margin-right: -10000px;
		width: 48.79%;
	}

	#pu525035
	{
		z-index: 24;
		padding-bottom: 0px;
		margin-right: -10000px;
		width: 48.79%;
		margin-left: 51.22%;
	}

	#u525053 .fluid_height_spacer,#u525035 .fluid_height_spacer
	{
		padding-bottom: 140.75%;
	}

	#u525044
	{
		margin-top: 20px;
		width: 100%;
	}

	#u529114 .fluid_height_spacer,#u529115 .fluid_height_spacer,#u529116 .fluid_height_spacer,#u525044 .fluid_height_spacer
	{
		padding-bottom: 100%;
	}

	#u521323
	{
		margin-top: 21px;
		width: 100%;
		left: 0%;
		margin-left: 2.44%;
	}

	.nosvg #u521316,.nosvg #u521324,.nosvg #u521314,.nosvg #u521323
	{
		left: 0%;
		margin-left: 2.44%;
	}

	#pu529114,#pu528989,#u527203
	{
		width: 100%;
		margin-left: 2.44%;
	}

	#u526139
	{
		padding-bottom: 0px;
		margin-top: 21px;
		width: 100%;
		margin-left: 2.44%;
	}

	#u521312,#u525053,#u525035,#u526139_position_content
	{
		width: 100%;
	}

	#u527203 .fluid_height_spacer,#u524841 .fluid_height_spacer,#u525118 .fluid_height_spacer,#u525127 .fluid_height_spacer,#u525165 .fluid_height_spacer,#u525166 .fluid_height_spacer
	{
		padding-bottom: 85.36585365853658%;
	}

	#u528538
	{
		height: 2459px;
		width: 100%;
		margin-left: 2.44%;
	}

	.nosvg #u524864,.nosvg #u528549,.nosvg #u521310,.nosvg #u527203,.nosvg #u528538
	{
		margin-left: 2.44%;
	}

	#u521309
	{
		margin-top: 20px;
		margin-left: 52.44%;
		left: -70px;
	}

	.nosvg #u521309
	{
		margin-left: 52.44%;
		left: -70px;
	}

	.css_verticalspacer .verticalspacer
	{
		height: calc(100vh - 15110px);
	}

	body
	{
		overflow-x: hidden;
	}

}

@media (max-width: 480px)
{
	/*

*/

	#muse_css_mq
	{
		background-color: #0001e0;
	}

	#bp_480.active
	{
		display: block;
	}

	#page
	{
		min-height: 6757px;
		max-width: 480px;
	}

	#buttonu524045_align_to_page
	{
		max-width: 480px;
	}

	#u524074-4
	{
		left: 20.84%;
	}

	#u524073-4
	{
		left: 28.13%;
	}

	#u524075-4
	{
		left: 35.42%;
	}

	#buttonu524207
	{
		left: 52.09%;
	}

	#pu521319
	{
		padding-bottom: 0px;
		width: 91.88%;
	}

	#u521319
	{
		width: 86.17%;
		margin-left: 11.34%;
	}

	#u521313-13
	{
		min-height: 103px;
		width: 78.95%;
		left: 10.53%;
	}

	#u521316
	{
		margin-top: 50px;
		width: 99.78%;
		left: 0%;
		margin-left: 4.54%;
	}

	#u521316 .fluid_height_spacer
	{
		padding-bottom: 47.72727272727273%;
	}

	#pu521322
	{
		z-index: 43;
		margin-top: 20px;
		width: 99.78%;
		left: 0%;
		margin-left: 4.54%;
	}

	#u529115
	{
		width: 30.23%;
		left: 35%;
	}

	#u524864
	{
		margin-top: 20px;
		width: 99.78%;
		margin-left: 4.54%;
	}

	#pu521320
	{
		z-index: 47;
		margin-top: 20px;
		width: 99.78%;
		left: 0%;
		margin-left: 4.54%;
	}

	#pu521640
	{
		z-index: 52;
		margin-top: 20px;
		width: 99.78%;
		left: 0%;
		margin-left: 4.54%;
	}

	#u521322,#u522903,#u521320,#u521640
	{
		width: 47.73%;
	}

	#u521445,#u521311,#u521318,#u521317
	{
		width: 47.73%;
		left: 52.28%;
	}

	#u522903 .fluid_height_spacer,#u521311 .fluid_height_spacer,#u521320 .fluid_height_spacer,#u521318 .fluid_height_spacer,#u521640 .fluid_height_spacer,#u521317 .fluid_height_spacer
	{
		padding-bottom: 123.80952380952381%;
	}

	#pu522903,#u528549
	{
		margin-top: 20px;
		width: 99.78%;
		margin-left: 4.54%;
	}

	#u529114,#u528989
	{
		width: 30.46%;
	}

	#u528998
	{
		width: 30.23%;
		left: 35.23%;
	}

	#u529116,#u529021
	{
		width: 30.23%;
		left: 69.78%;
	}

	#pu529062
	{
		z-index: 8;
		margin-top: 20px;
		width: 100%;
		left: 0%;
		margin-left: 4.54%;
	}

	#u529062
	{
		width: 30.16%;
	}

	#u529063
	{
		width: 30.39%;
		left: 34.93%;
	}

	#u529114 .fluid_height_spacer,#u528989 .fluid_height_spacer,#u529063 .fluid_height_spacer
	{
		padding-bottom: 99.25373134328358%;
	}

	#u529064
	{
		width: 30.16%;
		left: 69.85%;
	}

	#u521310
	{
		margin-top: 20px;
		width: 99.78%;
		margin-left: 4.54%;
	}

	#u521310 .fluid_height_spacer
	{
		padding-bottom: 75%;
	}

	#u521324
	{
		margin-top: 20px;
		width: 99.78%;
		left: 0%;
		margin-left: 4.54%;
	}

	#u521314
	{
		margin-top: 20px;
		width: 99.78%;
		left: 0%;
		margin-left: 4.54%;
	}

	#u521312
	{
		margin-top: 20px;
		width: 99.78%;
		left: 0%;
		margin-left: 4.54%;
	}

	#u525035
	{
		margin-top: 20px;
		width: 99.78%;
		left: 0%;
		margin-left: 4.54%;
	}

	#u525044
	{
		margin-top: 19px;
		width: 99.78%;
		left: 0%;
		margin-left: 4.54%;
	}

	#u529115 .fluid_height_spacer,#u529116 .fluid_height_spacer,#u528998 .fluid_height_spacer,#u529021 .fluid_height_spacer,#u529062 .fluid_height_spacer,#u529064 .fluid_height_spacer,#u525044 .fluid_height_spacer
	{
		padding-bottom: 100%;
	}

	#u525053
	{
		width: 99.78%;
		left: 0%;
		margin-left: 4.54%;
	}

	#u521314 .fluid_height_spacer,#u525035 .fluid_height_spacer,#u525053 .fluid_height_spacer
	{
		padding-bottom: 123.86363636363636%;
	}

	#u521323
	{
		margin-top: 19px;
		width: 99.78%;
		left: 0%;
		margin-left: 4.54%;
	}

	.nosvg #u521316,.nosvg #u521324,.nosvg #u521314,.nosvg #u521312,.nosvg #u525035,.nosvg #u525044,.nosvg #u525053,.nosvg #u521323
	{
		left: 0%;
		margin-left: 4.54%;
	}

	#pu529114,#pu528989,#u527203
	{
		width: 99.78%;
		margin-left: 4.54%;
	}

	#u526139
	{
		margin-top: 20px;
		width: 99.78%;
		margin-left: 4.54%;
	}

	#u526139_position_content
	{
		width: 100%;
	}

	#u525165
	{
		top: -3px;
		margin-bottom: -3px;
	}

	#u527203 .fluid_height_spacer,#u524841 .fluid_height_spacer,#u525118 .fluid_height_spacer,#u525127 .fluid_height_spacer,#u525165 .fluid_height_spacer,#u525166 .fluid_height_spacer
	{
		padding-bottom: 90.9090909090909%;
	}

	#u528538
	{
		height: 1319px;
		width: 99.78%;
		margin-left: 4.54%;
	}

	.nosvg #u524864,.nosvg #u528549,.nosvg #u521310,.nosvg #u527203,.nosvg #u528538
	{
		margin-left: 4.54%;
	}

	#u521309
	{
		margin-top: 19px;
		margin-left: 54.43%;
		left: -71px;
	}

	.nosvg #u521309
	{
		margin-left: 54.43%;
		left: -71px;
	}

	.css_verticalspacer .verticalspacer
	{
		height: calc(100vh - 10827px);
	}

	body
	{
		overflow-x: hidden;
		min-width: 320px;
	}

}

