.version.dogzito /* version checker */
{
	color: #0000EF;
	background-color: #6B1459;
}

@font-face
{
	font-family: '__Open Sans_5';
	src: url('../fonts/open-sans-v18-latin-regular.eot');
	src: local('☺'), url('../fonts/open-sans-v18-latin-regular.woff') format('woff'), url('../fonts/open-sans-v18-latin-regular.svg') format('svg');
	font-weight: 400;
	font-style: normal;
}

@font-face
{
	font-family: '__Open Sans_5';
	src: url('../fonts/open-sans-v18-latin-700.eot');
	src: local('☺'), url('../fonts/open-sans-v18-latin-700.woff') format('woff'), url('../fonts/open-sans-v18-latin-700.svg') format('svg');
	font-weight: 700;
	font-style: normal;
}

@font-face
{
	font-family: '__Open Sans_5';
	src: url('../fonts/opensans-bolditalic-webfont.eot');
	src: local('☺'), url('../fonts/opensans-bolditalic-webfont.woff') format('woff'), url('../fonts/opensans-bolditalic-webfont.svg') format('svg');
	font-weight: 700;
	font-style: italic;
}

#page
{
	background-color: #F1F1F1;
	border-color: #000000;
	background-image: none;
	margin-left: auto;
	margin-right: auto;
	width: 100%;
	border-width: 0px;
	z-index: 1;
}

#buttonu524045
{
	background-color: #FFFFFF;
	border-color: #787878;
	min-height: 55px;
	position: fixed;
	top: 0px;
	z-index: 44;
}

#buttonu524045:hover
{
	min-height: 55px;
	margin: 0px;
}

#buttonu524045.ButtonSelected
{
	min-height: 55px;
	margin: 0px;
}

#buttonu524045_align_to_page
{
	margin-left: auto;
	margin-right: auto;
	position: relative;
}

#buttonu524224
{
	width: 55px;
	opacity: 1;
	position: relative;
	z-index: 59;
	filter: alpha(opacity=100);
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
	border-color: #787878;
	margin-right: -10000px;
	height: 55px;
	background: #FFFFFF url("../images/anterior1.svg?crc=430490106") no-repeat center bottom;
	background-size: cover;
}

.nosvg #buttonu524224
{
	background-image: url('../images/anterior1_poster_u524602.png?crc=528006061');
}

#buttonu524224:hover
{
	background-repeat: no-repeat;
	min-height: 0px;
	width: 55px;
	background-position: center bottom;
	height: 55px;
	margin: 0px -10000px 0px 0px;
	background-size: cover;
}

#buttonu524224:active
{
	background-repeat: no-repeat;
	min-height: 0px;
	width: 55px;
	background-position: center bottom;
	height: 55px;
	margin: 0px -10000px 0px 0px;
	background-size: cover;
}

#buttonu524224.ButtonSelected
{
	background-repeat: no-repeat;
	min-height: 0px;
	width: 55px;
	background-position: center bottom;
	height: 55px;
	margin: 0px -10000px 0px 0px;
	background-size: cover;
}

#u524074-4
{
	background-color: transparent;
	color: #B4B4B4;
	line-height: 3.4;
	position: relative;
	margin-right: -10000px;
	text-align: center;
	min-height: 55px;
	font-weight: 700;
	font-size: 16px;
	width: 35px;
	letter-spacing: 0px;
	font-family: '__Open Sans_5';
	z-index: 49;
}

#buttonu524045:hover #u524074-4
{
	width: 35px;
	min-height: 55px;
	padding-bottom: 0px;
	padding-top: 0px;
	margin: 0px -10000px 0px 0%;
}

#buttonu524045:hover #u524074-4 p
{
	text-align: center;
	line-height: 3.4;
	font-size: 16px;
}

#u524073-4
{
	background-color: transparent;
	color: #B4B4B4;
	line-height: 3.4;
	position: relative;
	margin-right: -10000px;
	text-align: center;
	min-height: 55px;
	font-weight: 700;
	font-size: 16px;
	width: 35px;
	letter-spacing: 0px;
	font-family: '__Open Sans_5';
	z-index: 45;
}

#buttonu524045.ButtonSelected #u524074-4,#buttonu524045:hover #u524073-4
{
	width: 35px;
	min-height: 55px;
	padding-bottom: 0px;
	padding-top: 0px;
	margin: 0px -10000px 0px 0%;
}

#buttonu524045.ButtonSelected #u524074-4 p,#buttonu524045:hover #u524073-4 p
{
	text-align: center;
	line-height: 3.4;
	font-size: 16px;
}

#u524075-4
{
	background-color: transparent;
	line-height: 3.4;
	position: relative;
	margin-right: -10000px;
	text-align: center;
	min-height: 55px;
	font-weight: 700;
	font-size: 16px;
	width: 35px;
	letter-spacing: 0px;
	font-family: '__Open Sans_5';
	z-index: 53;
}

#buttonu524045.ButtonSelected #u524073-4,#buttonu524045:hover #u524075-4
{
	width: 35px;
	min-height: 55px;
	padding-bottom: 0px;
	padding-top: 0px;
	margin: 0px -10000px 0px 0%;
}

#buttonu524045.ButtonSelected #u524075-4
{
	width: 35px;
	min-height: 55px;
	padding-bottom: 0px;
	padding-top: 0px;
	margin: 0px -10000px 0px 0%;
}

#buttonu524045.ButtonSelected #u524073-4 p,#buttonu524045:hover #u524075-4 p
{
	text-align: center;
	line-height: 3.4;
	font-size: 16px;
}

#buttonu524045.ButtonSelected #u524075-4 p
{
	text-align: center;
	line-height: 3.4;
	font-size: 16px;
}

#buttonu524207
{
	width: 55px;
	opacity: 1;
	position: relative;
	z-index: 58;
	filter: alpha(opacity=100);
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
	border-color: #787878;
	margin-right: -10000px;
	height: 55px;
	background: #FFFFFF url("../images/proximo1.svg?crc=329782524") no-repeat center bottom;
	background-size: cover;
}

.nosvg #buttonu524207
{
	background-image: url('../images/proximo1_poster_u524610.png?crc=447422520');
}

#buttonu524207:hover
{
	background-repeat: no-repeat;
	min-height: 0px;
	width: 55px;
	background-position: center bottom;
	height: 55px;
	margin: 0px -10000px 0px 0%;
	background-size: cover;
}

#buttonu524207.ButtonSelected
{
	background-repeat: no-repeat;
	min-height: 0px;
	width: 55px;
	background-position: center bottom;
	height: 55px;
	margin: 0px -10000px 0px 0%;
	background-size: cover;
}

#buttonu524189
{
	left: -55px;
	width: 55px;
	opacity: 1;
	position: relative;
	z-index: 57;
	filter: alpha(opacity=100);
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
	border-color: #787878;
	margin-right: -10000px;
	margin-left: 100%;
	height: 55px;
	background: #FFFFFF url("../images/fechar.svg?crc=4163833896") no-repeat center top;
	background-size: cover;
}

.nosvg #buttonu524189
{
	left: -55px;
	background-image: url('../images/fechar_poster_u524618.png?crc=4121185911');
	margin-left: 100%;
}

#buttonu524189:hover
{
	background-repeat: no-repeat;
	min-height: 0px;
	width: 55px;
	background-position: center bottom;
	left: -55px;
	height: 55px;
	margin: 0px -10000px 0px 100%;
	background-size: cover;
}

#buttonu524189:active
{
	background-repeat: no-repeat;
	min-height: 0px;
	width: 55px;
	background-position: center top;
	left: -55px;
	height: 55px;
	margin: 0px -10000px 0px 100%;
	background-size: cover;
}

#buttonu524045-bw
{
	z-index: 44;
}

#pu521319
{
	margin-top: 105px;
	margin-right: -10000px;
	z-index: 20;
}

#u521319
{
	background-color: #FFFFFF;
	left: 0%;
	z-index: 20;
	border-radius: 10px;
	padding-bottom: 30px;
	position: relative;
}

#u521313-13
{
	background-color: transparent;
	color: #000000;
	position: relative;
	margin-top: 30px;
	margin-right: -10000px;
	text-align: justify;
	font-weight: 400;
	font-size: 13px;
	line-height: 2;
	font-family: '__Open Sans_5';
	z-index: 21;
}

#u521313
{
	font-style: italic;
	font-family: '__Open Sans_5';
	font-weight: 700;
}

#u521313-3,#u521313-5,#u521313-7,#u521313-9
{
	font-family: '__Open Sans_5';
	font-weight: 700;
}

#u521316
{
	border-width: 0px;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
	z-index: 37;
	filter: alpha(opacity=100);
	border-radius: 10px;
	position: relative;
	border-color: transparent;
	opacity: 1;
	background: transparent url("../images/logo_site_1.svg?crc=202978823") no-repeat center center;
	background-size: cover;
}

.nosvg #u521316
{
	background-image: url('../images/logo_site_1_poster_u528614.png?crc=3817659405');
}

#u521322
{
	filter: alpha(opacity=100);
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
	z-index: 34;
	border-radius: 10px;
	position: relative;
	margin-right: -10000px;
	opacity: 1;
	background: transparent url("../images/logo_site_2.svg?crc=99906430") no-repeat center center;
	background-size: cover;
}

.nosvg #u521322
{
	background-image: url('../images/logo_site_2_poster_u528622.png?crc=257815638');
}

#u521445
{
	filter: alpha(opacity=100);
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
	z-index: 42;
	border-radius: 10px;
	position: relative;
	margin-right: -10000px;
	opacity: 1;
	background: transparent url("../images/logo_site_3.svg?crc=3820901826") no-repeat center center;
	background-size: cover;
}

.nosvg #u521445
{
	background-image: url('../images/logo_site_3_poster_u522523.png?crc=266646658');
}

#u524864
{
	left: 0%;
	position: relative;
	opacity: 1;
	margin-top: 20px;
	filter: alpha(opacity=100);
	z-index: 18;
	border-radius: 10px;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
	width: 100%;
	background: #FFFFFF url("../images/font.svg?crc=4284905148") no-repeat center center;
	background-size: cover;
}

.nosvg #u524864
{
	left: 0%;
	background-image: url('../images/font_poster_u528830.png?crc=4238757724');
}

#pu522903
{
	width: 100%;
	left: 0%;
	z-index: 19;
}

#u522903
{
	background-color: #6998CD;
	border-radius: 10px;
	position: relative;
	margin-right: -10000px;
	z-index: 19;
}

#u521311
{
	filter: alpha(opacity=100);
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
	z-index: 35;
	border-radius: 10px;
	position: relative;
	margin-right: -10000px;
	opacity: 1;
	background: transparent url("../images/site_chihuahua.svg?crc=207017050") no-repeat center center;
	background-size: cover;
}

.nosvg #u521311
{
	background-image: url('../images/site_chihuahua_poster_u528654.png?crc=4109508681');
}

#u521320
{
	filter: alpha(opacity=100);
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
	z-index: 38;
	border-radius: 10px;
	position: relative;
	margin-right: -10000px;
	opacity: 1;
	background: transparent url("../images/site_buldogue.svg?crc=372485676") no-repeat center top;
	background-size: cover;
}

.nosvg #u521320
{
	background-image: url('../images/site_buldogue_poster_u528646.png?crc=174520106');
}

#u521318
{
	filter: alpha(opacity=100);
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
	z-index: 40;
	border-radius: 10px;
	position: relative;
	margin-right: -10000px;
	opacity: 1;
	background: transparent url("../images/site_golden.svg?crc=4133389063") no-repeat center center;
	background-size: cover;
}

.nosvg #u521318
{
	background-image: url('../images/site_golden_poster_u528662.png?crc=275705576');
}

#u521640
{
	filter: alpha(opacity=100);
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
	z-index: 43;
	border-radius: 10px;
	position: relative;
	margin-right: -10000px;
	opacity: 1;
	background: transparent url("../images/site_poodle.svg?crc=170873420") no-repeat center center;
	background-size: cover;
}

.nosvg #u521640
{
	background-image: url('../images/site_poodle_poster_u528678.png?crc=318561349');
}

#u521317
{
	filter: alpha(opacity=100);
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
	z-index: 36;
	border-radius: 10px;
	position: relative;
	margin-right: -10000px;
	opacity: 1;
	background: transparent url("../images/site_husky.svg?crc=315688294") no-repeat center center;
	background-size: cover;
}

.nosvg #u521317
{
	background-image: url('../images/site_husky_poster_u528670.png?crc=287723544');
}

#u528549
{
	left: 0%;
	margin-top: 20px;
	filter: alpha(opacity=100);
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
	z-index: 2;
	border-radius: 10px;
	position: relative;
	width: 100%;
	opacity: 1;
	background: transparent url("../images/icon.svg?crc=351616138") no-repeat center center;
	background-size: cover;
}

.nosvg #u528549
{
	left: 0%;
	background-image: url('../images/icon_poster_u528702.png?crc=243759752');
}

#u521310
{
	left: 0%;
	filter: alpha(opacity=100);
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
	z-index: 39;
	border-radius: 10px;
	position: relative;
	width: 100%;
	opacity: 1;
	background: transparent url("../images/template_todos.svg?crc=3989581773") no-repeat center center;
	background-size: cover;
}

.nosvg #u521310
{
	left: 0%;
	background-image: url('../images/template_todos_poster_u528718.png?crc=3945988853');
}

#u521324
{
	filter: alpha(opacity=100);
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
	z-index: 11;
	border-radius: 10px;
	position: relative;
	width: 100%;
	opacity: 1;
	background: transparent url("../images/template_chihuahua.svg?crc=421596624") no-repeat center center;
	background-size: cover;
}

.nosvg #u521324
{
	background-image: url('../images/template_chihuahua_poster_u528515.png?crc=231761957');
}

#u521314
{
	filter: alpha(opacity=100);
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
	z-index: 12;
	border-radius: 10px;
	position: relative;
	width: 100%;
	opacity: 1;
	background: transparent url("../images/template_poddle.svg?crc=448948448") no-repeat center center;
	background-size: cover;
}

.nosvg #u521314
{
	background-image: url('../images/template_poddle_poster_u528408.png?crc=86239775');
}

#u521312
{
	filter: alpha(opacity=100);
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
	z-index: 13;
	border-radius: 10px;
	position: relative;
	width: 100%;
	opacity: 1;
	background: transparent url("../images/template_golden1.svg?crc=4108763501") no-repeat center center;
	background-size: cover;
}

.nosvg #u521312
{
	background-image: url('../images/template_golden1_poster_u528507.png?crc=95882069');
}

#u525035
{
	filter: alpha(opacity=100);
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
	z-index: 15;
	border-radius: 10px;
	position: relative;
	width: 100%;
	opacity: 1;
	background: transparent url("../images/template_golden2.svg?crc=188407590") no-repeat center center;
	background-size: cover;
}

.nosvg #u525035
{
	background-image: url('../images/template_golden2_poster_u528499.png?crc=3862070140');
}

#u525044
{
	filter: alpha(opacity=100);
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
	z-index: 16;
	border-radius: 10px;
	position: relative;
	width: 100%;
	opacity: 1;
	background: transparent url("../images/template_golden3.svg?crc=4230799373") no-repeat center center;
	background-size: cover;
}

.nosvg #u525044
{
	background-image: url('../images/template_golden3_poster_u528491.png?crc=4020474741');
}

#u525053
{
	margin-top: 20px;
	filter: alpha(opacity=100);
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
	z-index: 17;
	border-radius: 10px;
	position: relative;
	width: 100%;
	opacity: 1;
	background: transparent url("../images/template_golden4.svg?crc=4061509616") no-repeat center center;
	background-size: cover;
}

.nosvg #u525053
{
	background-image: url('../images/template_golden4_poster_u528483.png?crc=3990458677');
}

#u521323
{
	filter: alpha(opacity=100);
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
	z-index: 14;
	border-radius: 10px;
	position: relative;
	width: 100%;
	opacity: 1;
	background: transparent url("../images/template_buldogue.svg?crc=243182654") no-repeat center center;
	background-size: cover;
}

.nosvg #u521323
{
	background-image: url('../images/template_buldogue_poster_u528427.png?crc=3956793391');
}

#u521322 .fluid_height_spacer,#u521445 .fluid_height_spacer,#u528549 .fluid_height_spacer,#u521324 .fluid_height_spacer,#u521312 .fluid_height_spacer,#u521323 .fluid_height_spacer
{
	padding-bottom: 100%;
}

#u527203
{
	left: 0%;
	filter: alpha(opacity=100);
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
	z-index: 4;
	border-radius: 10px;
	position: relative;
	width: 100%;
	opacity: 1;
	background: transparent url("../images/template_husky.svg?crc=46371999") no-repeat center center;
	background-size: cover;
}

.nosvg #u527203
{
	left: 0%;
	background-image: url('../images/template_husky_poster_u528475.png?crc=4066019818');
}

#u526139
{
	background-color: #FFFFFF;
	left: 0%;
	border-radius: 10px;
	position: relative;
	margin-top: 20px;
	width: 100%;
	z-index: 5;
}

#u524841
{
	filter: alpha(opacity=100);
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
	z-index: 6;
	border-radius: 10px 10px 0px 0px ;
	position: relative;
	width: 100%;
	opacity: 1;
	background: transparent url("../images/template_dalmata1.svg?crc=3767928365") no-repeat center center;
	background-size: cover;
}

.nosvg #u524841
{
	background-image: url('../images/template_dalmata1_poster_u528467.png?crc=36884812');
}

#u525118
{
	filter: alpha(opacity=100);
	opacity: 1;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
	width: 100%;
	position: relative;
	z-index: 7;
	background: transparent url("../images/template_dalmata2.svg?crc=417804220") no-repeat center center;
	background-size: cover;
}

.nosvg #u525118
{
	background-image: url('../images/template_dalmata2_poster_u528459.png?crc=164143495');
}

#u525127
{
	filter: alpha(opacity=100);
	opacity: 1;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
	width: 100%;
	position: relative;
	z-index: 8;
	background: transparent url("../images/template_dalmata3.svg?crc=402804769") no-repeat center center;
	background-size: cover;
}

.nosvg #u525127
{
	background-image: url('../images/template_dalmata3_poster_u528451.png?crc=3869711571');
}

#u525165
{
	filter: alpha(opacity=100);
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
	z-index: 9;
	position: relative;
	width: 100%;
	opacity: 1;
	background: transparent url("../images/template_dalmata4.svg?crc=4201684621") no-repeat center center;
	background-size: cover;
}

.nosvg #u525165
{
	background-image: url('../images/template_dalmata4_poster_u528443.png?crc=3951625955');
}

#u525166
{
	filter: alpha(opacity=100);
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
	z-index: 10;
	border-radius: 0px 0px 10px 10px ;
	position: relative;
	width: 100%;
	opacity: 1;
	background: transparent url("../images/template_dalmata5.svg?crc=486123481") no-repeat center center;
	background-size: cover;
}

.nosvg #u525166
{
	background-image: url('../images/template_dalmata5_poster_u528435.png?crc=397702531');
}

#u528538
{
	left: 0%;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
	opacity: 1;
	filter: alpha(opacity=100);
	position: relative;
	z-index: 3;
	width: 100%;
	background: transparent url("../images/template_layout_tecnico.svg?crc=22942449") no-repeat center center;
	background-size: cover;
}

.nosvg #u528538
{
	left: 0%;
	background-image: url('../images/template_layout_tecnico_poster_u528630.png?crc=252916333');
}

#u521309
{
	left: -70px;
	position: relative;
	opacity: 1;
	filter: alpha(opacity=100);
	z-index: 41;
	border-radius: 10px 10px 0px 0px ;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
	width: 140px;
	height: 50px;
	background: #000000 url("../images/uminimo.svg?crc=507500714") no-repeat center center;
	background-size: contain;
}

.nosvg #u521309
{
	left: -70px;
	background-image: url('../images/uminimo_poster_u524327.png?crc=330049046');
}

.html
{
	background-color: #FFFFFF;
}

body
{
	position: relative;
}

@media (min-width: 861px), print
{
	#muse_css_mq
	{
		background-color: #FFFFFF;
	}

	#bp_infinity.active
	{
		display: block;
	}

	#page
	{
		min-height: 6703px;
		max-width: 1210px;
	}

	#buttonu524045_align_to_page
	{
		max-width: 1210px;
	}

	#u524074-4
	{
		left: 26.04%;
	}

	#u524073-4
	{
		left: 28.93%;
	}

	#u524075-4
	{
		left: 31.82%;
	}

	#buttonu524207
	{
		left: 56.2%;
	}

	#pu521319
	{
		width: 96.7%;
	}

	#u521319
	{
		width: 72.65%;
		margin-left: 15.39%;
	}

	#u521313-13
	{
		min-height: 69px;
		width: 90.59%;
		left: 4.71%;
	}

	#pu521316
	{
		z-index: 37;
		margin-top: 50px;
		width: 100%;
		left: 0%;
		margin-left: 1.71%;
	}

	#u521316
	{
		margin-right: -10000px;
		width: 49.15%;
	}

	#u521316 .fluid_height_spacer
	{
		padding-bottom: 48.17391304347826%;
	}

	#u521322
	{
		width: 23.68%;
		left: 50.77%;
	}

	#u521445
	{
		width: 23.68%;
		left: 76.33%;
	}

	#u524864
	{
		height: 1287px;
		margin-left: 1.71%;
	}

	#u522903
	{
		width: 32.14%;
	}

	#u521311
	{
		width: 32.23%;
		left: 33.94%;
	}

	#pu521318
	{
		z-index: 40;
		margin-top: 19px;
		width: 100%;
		left: 0%;
		margin-left: 1.71%;
	}

	#u521318
	{
		width: 32.23%;
	}

	#u521311 .fluid_height_spacer,#u521318 .fluid_height_spacer
	{
		padding-bottom: 124.6684350132626%;
	}

	#u521640
	{
		margin-top: 1px;
		width: 32.14%;
		left: 33.94%;
	}

	#u521320,#u521317
	{
		width: 32.14%;
		left: 67.87%;
	}

	#u522903 .fluid_height_spacer,#u521320 .fluid_height_spacer,#u521640 .fluid_height_spacer,#u521317 .fluid_height_spacer
	{
		padding-bottom: 125%;
	}

	.nosvg #u524864,#u528549
	{
		margin-left: 1.71%;
	}

	#pu522903,#u521310
	{
		margin-top: 21px;
		margin-left: 1.71%;
	}

	#u521310 .fluid_height_spacer
	{
		padding-bottom: 74.78632478632478%;
	}

	#ppu521324
	{
		z-index: 0;
		margin-top: 20px;
		width: 100%;
		left: 0%;
		margin-left: 1.71%;
	}

	#pu521324
	{
		z-index: 11;
		padding-bottom: 0px;
		margin-right: -10000px;
		width: 49.15%;
	}

	#ppu521312
	{
		z-index: 0;
		margin-top: 20px;
		width: 100%;
	}

	#pu521312
	{
		z-index: 13;
		padding-bottom: 0px;
		margin-right: -10000px;
		width: 48.18%;
	}

	#u525053 .fluid_height_spacer
	{
		padding-bottom: 177.9783393501805%;
	}

	#pu525035
	{
		z-index: 15;
		padding-bottom: 0px;
		margin-right: -10000px;
		width: 48.35%;
		margin-left: 51.66%;
	}

	#u525035 .fluid_height_spacer
	{
		padding-bottom: 177.33812949640287%;
	}

	#u525044 .fluid_height_spacer
	{
		padding-bottom: 99.64028776978418%;
	}

	#pu521314
	{
		z-index: 12;
		margin-right: -10000px;
		width: 49.15%;
		margin-left: 50.86%;
	}

	#u521314 .fluid_height_spacer
	{
		padding-bottom: 137.3913043478261%;
	}

	#u525044,#u521323
	{
		margin-top: 20px;
	}

	#u527203
	{
		margin-top: 20px;
		margin-left: 1.71%;
	}

	#u527203 .fluid_height_spacer,#u524841 .fluid_height_spacer,#u525118 .fluid_height_spacer,#u525127 .fluid_height_spacer,#u525165 .fluid_height_spacer,#u525166 .fluid_height_spacer
	{
		padding-bottom: 85.47008547008546%;
	}

	#u528538
	{
		height: 3508px;
		margin-top: 21px;
		margin-left: 1.71%;
	}

	.nosvg #u528549,.nosvg #u521310,.nosvg #u527203,#u526139,.nosvg #u528538
	{
		margin-left: 1.71%;
	}

	#u521309
	{
		margin-top: 20px;
		margin-left: 51.71%;
	}

	.nosvg #u521309
	{
		margin-left: 51.71%;
	}

	.css_verticalspacer .verticalspacer
	{
		height: calc(100vh - 16012px);
	}

}

@media (min-width: 481px) and (max-width: 860px)
{
	#muse_css_mq
	{
		background-color: #00035c;
	}

	#bp_860.active
	{
		display: block;
	}

	#page
	{
		min-height: 5118px;
		max-width: 860px;
	}

	#buttonu524045_align_to_page
	{
		max-width: 860px;
	}

	#u524074-4
	{
		left: 25%;
	}

	#u524073-4
	{
		left: 29.07%;
	}

	#u524075-4
	{
		left: 33.14%;
	}

	#buttonu524207
	{
		left: 55.82%;
	}

	#pu521319
	{
		padding-bottom: 0px;
		width: 95.35%;
	}

	#u521319
	{
		width: 92.69%;
		margin-left: 6.1%;
	}

	#u521313-13
	{
		min-height: 69px;
		width: 89.48%;
		left: 5.27%;
	}

	#u521316
	{
		margin-top: 50px;
		width: 100%;
		left: 0%;
		margin-left: 2.44%;
	}

	#u521316 .fluid_height_spacer
	{
		padding-bottom: 47.4390243902439%;
	}

	#pu521322
	{
		z-index: 34;
		margin-top: 20px;
		width: 100%;
		left: 0%;
		margin-left: 2.44%;
	}

	#u521322
	{
		width: 48.79%;
	}

	#u521445
	{
		width: 48.79%;
		left: 51.22%;
	}

	#u524864
	{
		height: 902px;
		margin-left: 2.44%;
	}

	#pu522903
	{
		margin-top: 19px;
		margin-left: 2.44%;
	}

	#pu521318
	{
		z-index: 40;
		margin-top: 21px;
		width: 100%;
		left: 0%;
		margin-left: 2.44%;
	}

	#u522903,#u521318
	{
		width: 31.71%;
	}

	#u521311,#u521640
	{
		width: 31.71%;
		left: 34.15%;
	}

	#u521320,#u521317
	{
		width: 31.71%;
		left: 68.3%;
	}

	#u522903 .fluid_height_spacer,#u521311 .fluid_height_spacer,#u521320 .fluid_height_spacer,#u521318 .fluid_height_spacer,#u521640 .fluid_height_spacer,#u521317 .fluid_height_spacer
	{
		padding-bottom: 126.92307692307692%;
	}

	.nosvg #u524864,#u528549
	{
		margin-left: 2.44%;
	}

	#u521310
	{
		margin-top: 20px;
		margin-left: 2.44%;
	}

	#u521310 .fluid_height_spacer
	{
		padding-bottom: 75%;
	}

	#u521324
	{
		margin-top: 20px;
		left: 0%;
		margin-left: 2.44%;
	}

	#u521314
	{
		margin-top: 21px;
		left: 0%;
		margin-left: 2.44%;
	}

	#u521314 .fluid_height_spacer
	{
		padding-bottom: 121.95121951219512%;
	}

	#ppu521312
	{
		z-index: 0;
		margin-top: 20px;
		width: 100%;
		left: 0%;
		margin-left: 2.44%;
	}

	#pu521312
	{
		z-index: 13;
		padding-bottom: 0px;
		margin-right: -10000px;
		width: 48.79%;
	}

	#pu525035
	{
		z-index: 15;
		padding-bottom: 0px;
		margin-right: -10000px;
		width: 48.79%;
		margin-left: 51.22%;
	}

	#u525053 .fluid_height_spacer,#u525035 .fluid_height_spacer
	{
		padding-bottom: 140.75%;
	}

	#u525044
	{
		margin-top: 20px;
	}

	#u525044 .fluid_height_spacer
	{
		padding-bottom: 100%;
	}

	#u521323
	{
		margin-top: 20px;
		left: 0%;
		margin-left: 2.44%;
	}

	.nosvg #u521316,.nosvg #u521324,.nosvg #u521314,.nosvg #u521323
	{
		left: 0%;
		margin-left: 2.44%;
	}

	#u527203
	{
		margin-top: 21px;
		margin-left: 2.44%;
	}

	#u526139
	{
		padding-bottom: 0px;
		margin-left: 2.44%;
	}

	#u526139_position_content
	{
		width: 100%;
	}

	#u527203 .fluid_height_spacer,#u524841 .fluid_height_spacer,#u525118 .fluid_height_spacer,#u525127 .fluid_height_spacer,#u525165 .fluid_height_spacer,#u525166 .fluid_height_spacer
	{
		padding-bottom: 85.36585365853658%;
	}

	#u528538
	{
		height: 2459px;
		margin-top: 20px;
		margin-left: 2.44%;
	}

	.nosvg #u528549,.nosvg #u521310,.nosvg #u527203,.nosvg #u528538
	{
		margin-left: 2.44%;
	}

	#u521309
	{
		margin-top: 20px;
		margin-left: 52.44%;
	}

	.nosvg #u521309
	{
		margin-left: 52.44%;
	}

	.css_verticalspacer .verticalspacer
	{
		height: calc(100vh - 14719px);
	}

	body
	{
		overflow-x: hidden;
	}

}

@media (max-width: 480px)
{
	/*

*/

	#muse_css_mq
	{
		background-color: #0001e0;
	}

	#bp_480.active
	{
		display: block;
	}

	#page
	{
		min-height: 6757px;
		max-width: 480px;
	}

	#buttonu524045_align_to_page
	{
		max-width: 480px;
	}

	#u524074-4
	{
		left: 20.84%;
	}

	#u524073-4
	{
		left: 28.13%;
	}

	#u524075-4
	{
		left: 35.42%;
	}

	#buttonu524207
	{
		left: 52.09%;
	}

	#pu521319
	{
		padding-bottom: 0px;
		width: 91.67%;
	}

	#u521319
	{
		width: 86.37%;
		margin-left: 11.37%;
	}

	#u521313-13
	{
		min-height: 103px;
		width: 78.95%;
		left: 10.53%;
	}

	#u521316
	{
		margin-top: 50px;
		width: 100%;
		left: 0%;
		margin-left: 4.55%;
	}

	#u521316 .fluid_height_spacer
	{
		padding-bottom: 47.72727272727273%;
	}

	#pu521322
	{
		z-index: 34;
		margin-top: 20px;
		width: 100%;
		left: 0%;
		margin-left: 4.55%;
	}

	#u524864
	{
		height: 484px;
		margin-left: 4.55%;
	}

	#pu521320
	{
		z-index: 38;
		margin-top: 20px;
		width: 100%;
		left: 0%;
		margin-left: 4.55%;
	}

	#pu521640
	{
		z-index: 43;
		margin-top: 20px;
		width: 100%;
		left: 0%;
		margin-left: 4.55%;
	}

	#u521322,#u522903,#u521320,#u521640
	{
		width: 47.73%;
	}

	#u521445,#u521311,#u521318,#u521317
	{
		width: 47.73%;
		left: 52.28%;
	}

	#u522903 .fluid_height_spacer,#u521311 .fluid_height_spacer,#u521320 .fluid_height_spacer,#u521318 .fluid_height_spacer,#u521640 .fluid_height_spacer,#u521317 .fluid_height_spacer
	{
		padding-bottom: 123.80952380952381%;
	}

	.nosvg #u524864,#u528549
	{
		margin-left: 4.55%;
	}

	#pu522903,#u521310
	{
		margin-top: 20px;
		margin-left: 4.55%;
	}

	#u521310 .fluid_height_spacer
	{
		padding-bottom: 75%;
	}

	#u521324
	{
		margin-top: 20px;
		left: 0%;
		margin-left: 4.55%;
	}

	#u521314
	{
		margin-top: 20px;
		left: 0%;
		margin-left: 4.55%;
	}

	#u521312
	{
		margin-top: 20px;
		left: 0%;
		margin-left: 4.55%;
	}

	#u525035
	{
		margin-top: 20px;
		left: 0%;
		margin-left: 4.55%;
	}

	#u525044
	{
		margin-top: 19px;
		left: 0%;
		margin-left: 4.55%;
	}

	#u525044 .fluid_height_spacer
	{
		padding-bottom: 100%;
	}

	.nosvg #u521316,.nosvg #u521324,.nosvg #u521314,.nosvg #u521312,.nosvg #u525035,.nosvg #u525044,#u525053
	{
		left: 0%;
		margin-left: 4.55%;
	}

	#u521314 .fluid_height_spacer,#u525035 .fluid_height_spacer,#u525053 .fluid_height_spacer
	{
		padding-bottom: 123.86363636363636%;
	}

	#u521323
	{
		margin-top: 19px;
		left: 0%;
		margin-left: 4.55%;
	}

	.nosvg #u525053,.nosvg #u521323
	{
		left: 0%;
		margin-left: 4.55%;
	}

	#u527203
	{
		margin-top: 20px;
		margin-left: 4.55%;
	}

	#u526139_position_content
	{
		width: 100%;
	}

	#u525165
	{
		top: -3px;
		margin-bottom: -3px;
	}

	#u527203 .fluid_height_spacer,#u524841 .fluid_height_spacer,#u525118 .fluid_height_spacer,#u525127 .fluid_height_spacer,#u525165 .fluid_height_spacer,#u525166 .fluid_height_spacer
	{
		padding-bottom: 90.9090909090909%;
	}

	#u528538
	{
		height: 1319px;
		margin-top: 20px;
		margin-left: 4.55%;
	}

	.nosvg #u528549,.nosvg #u521310,.nosvg #u527203,#u526139,.nosvg #u528538
	{
		margin-left: 4.55%;
	}

	#u521309
	{
		margin-top: 19px;
		margin-left: 54.55%;
	}

	.nosvg #u521309
	{
		margin-left: 54.55%;
	}

	.css_verticalspacer .verticalspacer
	{
		height: calc(100vh - 10420px);
	}

	body
	{
		overflow-x: hidden;
		min-width: 320px;
	}

}

