.version.dogzito /* version checker */
{
	color: #0000FD;
	background-color: #3F0F6B;
}

@font-face
{
	font-family: '__Open Sans_5';
	src: url('../fonts/open-sans-v18-latin-regular.eot');
	src: local('☺'), url('../fonts/open-sans-v18-latin-regular.woff') format('woff'), url('../fonts/open-sans-v18-latin-regular.svg') format('svg');
	font-weight: 400;
	font-style: normal;
}

@font-face
{
	font-family: '__Open Sans_5';
	src: url('../fonts/open-sans-v18-latin-700.eot');
	src: local('☺'), url('../fonts/open-sans-v18-latin-700.woff') format('woff'), url('../fonts/open-sans-v18-latin-700.svg') format('svg');
	font-weight: 700;
	font-style: normal;
}

@font-face
{
	font-family: '__Open Sans_5';
	src: url('../fonts/opensans-bolditalic-webfont.eot');
	src: local('☺'), url('../fonts/opensans-bolditalic-webfont.woff') format('woff'), url('../fonts/opensans-bolditalic-webfont.svg') format('svg');
	font-weight: 700;
	font-style: italic;
}

#page
{
	margin-left: auto;
	margin-right: auto;
	background-image: none;
	background-color: #F1F1F1;
	width: 100%;
	border-color: #000000;
	border-width: 0px;
	z-index: 1;
}

#buttonu524045
{
	position: fixed;
	background-color: #FFFFFF;
	min-height: 55px;
	top: 0px;
	border-color: #787878;
	z-index: 36;
}

#buttonu524045:hover
{
	min-height: 55px;
	margin: 0px;
}

#buttonu524045.ButtonSelected
{
	min-height: 55px;
	margin: 0px;
}

#buttonu524045_align_to_page
{
	margin-left: auto;
	margin-right: auto;
	position: relative;
}

#buttonu524224
{
	position: relative;
	height: 55px;
	filter: alpha(opacity=100);
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
	margin-right: -10000px;
	width: 55px;
	border-color: #787878;
	z-index: 51;
	opacity: 1;
	background: #FFFFFF url("../images/anterior1.svg?crc=430490106") no-repeat center bottom;
	background-size: cover;
}

.nosvg #buttonu524224
{
	background-image: url('../images/anterior1_poster_u524602.png?crc=528006061');
}

#buttonu524224:hover
{
	background-repeat: no-repeat;
	height: 55px;
	min-height: 0px;
	width: 55px;
	background-position: center bottom;
	margin: 0px -10000px 0px 0px;
	background-size: cover;
}

#buttonu524224:active
{
	background-repeat: no-repeat;
	height: 55px;
	min-height: 0px;
	width: 55px;
	background-position: center bottom;
	margin: 0px -10000px 0px 0px;
	background-size: cover;
}

#buttonu524224.ButtonSelected
{
	background-repeat: no-repeat;
	height: 55px;
	min-height: 0px;
	width: 55px;
	background-position: center bottom;
	margin: 0px -10000px 0px 0px;
	background-size: cover;
}

#u524074-4
{
	background-color: transparent;
	color: #B4B4B4;
	font-size: 16px;
	margin-right: -10000px;
	position: relative;
	font-weight: 700;
	letter-spacing: 0px;
	line-height: 3.4;
	min-height: 55px;
	width: 35px;
	font-family: '__Open Sans_5';
	text-align: center;
	z-index: 41;
}

#buttonu524045:hover #u524074-4
{
	padding-bottom: 0px;
	width: 35px;
	min-height: 55px;
	padding-top: 0px;
	margin: 0px -10000px 0px 0%;
}

#buttonu524045:hover #u524074-4 p
{
	line-height: 3.4;
	font-size: 16px;
	text-align: center;
}

#u524073-4
{
	background-color: transparent;
	color: #B4B4B4;
	font-size: 16px;
	margin-right: -10000px;
	position: relative;
	font-weight: 700;
	letter-spacing: 0px;
	line-height: 3.4;
	min-height: 55px;
	width: 35px;
	font-family: '__Open Sans_5';
	text-align: center;
	z-index: 37;
}

#buttonu524045.ButtonSelected #u524074-4,#buttonu524045:hover #u524073-4
{
	padding-bottom: 0px;
	width: 35px;
	min-height: 55px;
	padding-top: 0px;
	margin: 0px -10000px 0px 0%;
}

#buttonu524045.ButtonSelected #u524074-4 p,#buttonu524045:hover #u524073-4 p
{
	line-height: 3.4;
	font-size: 16px;
	text-align: center;
}

#u524075-4
{
	background-color: transparent;
	font-family: '__Open Sans_5';
	font-size: 16px;
	margin-right: -10000px;
	position: relative;
	font-weight: 700;
	letter-spacing: 0px;
	line-height: 3.4;
	min-height: 55px;
	width: 35px;
	text-align: center;
	z-index: 45;
}

#buttonu524045.ButtonSelected #u524073-4,#buttonu524045:hover #u524075-4
{
	padding-bottom: 0px;
	width: 35px;
	min-height: 55px;
	padding-top: 0px;
	margin: 0px -10000px 0px 0%;
}

#buttonu524045.ButtonSelected #u524075-4
{
	padding-bottom: 0px;
	width: 35px;
	min-height: 55px;
	padding-top: 0px;
	margin: 0px -10000px 0px 0%;
}

#buttonu524045.ButtonSelected #u524073-4 p,#buttonu524045:hover #u524075-4 p
{
	line-height: 3.4;
	font-size: 16px;
	text-align: center;
}

#buttonu524045.ButtonSelected #u524075-4 p
{
	line-height: 3.4;
	font-size: 16px;
	text-align: center;
}

#buttonu524207
{
	position: relative;
	height: 55px;
	filter: alpha(opacity=100);
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
	margin-right: -10000px;
	width: 55px;
	border-color: #787878;
	z-index: 50;
	opacity: 1;
	background: #FFFFFF url("../images/proximo1.svg?crc=329782524") no-repeat center bottom;
	background-size: cover;
}

.nosvg #buttonu524207
{
	background-image: url('../images/proximo1_poster_u524610.png?crc=447422520');
}

#buttonu524207:hover
{
	background-repeat: no-repeat;
	height: 55px;
	min-height: 0px;
	width: 55px;
	background-position: center bottom;
	margin: 0px -10000px 0px 0%;
	background-size: cover;
}

#buttonu524207.ButtonSelected
{
	background-repeat: no-repeat;
	height: 55px;
	min-height: 0px;
	width: 55px;
	background-position: center bottom;
	margin: 0px -10000px 0px 0%;
	background-size: cover;
}

#buttonu524189
{
	position: relative;
	height: 55px;
	margin-left: 100%;
	left: -55px;
	filter: alpha(opacity=100);
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
	margin-right: -10000px;
	width: 55px;
	border-color: #787878;
	z-index: 49;
	opacity: 1;
	background: #FFFFFF url("../images/fechar.svg?crc=4163833896") no-repeat center top;
	background-size: cover;
}

.nosvg #buttonu524189
{
	background-image: url('../images/fechar_poster_u524618.png?crc=4121185911');
	margin-left: 100%;
	left: -55px;
}

#buttonu524189:hover
{
	background-repeat: no-repeat;
	left: -55px;
	height: 55px;
	min-height: 0px;
	width: 55px;
	background-position: center bottom;
	margin: 0px -10000px 0px 100%;
	background-size: cover;
}

#buttonu524189:active
{
	background-repeat: no-repeat;
	left: -55px;
	height: 55px;
	min-height: 0px;
	width: 55px;
	background-position: center top;
	margin: 0px -10000px 0px 100%;
	background-size: cover;
}

#buttonu524045-bw
{
	z-index: 36;
}

#pu521319
{
	padding-bottom: 0px;
	margin-right: -10000px;
	margin-top: 105px;
	z-index: 7;
}

#u521319
{
	padding-bottom: 30px;
	left: 0%;
	border-radius: 10px;
	position: relative;
	background-color: #FFFFFF;
	z-index: 7;
}

#u521313-13
{
	background-color: transparent;
	color: #000000;
	font-size: 13px;
	position: relative;
	font-weight: 400;
	margin-right: -10000px;
	line-height: 2;
	margin-top: 30px;
	font-family: '__Open Sans_5';
	text-align: justify;
	z-index: 8;
}

#u521313
{
	font-family: '__Open Sans_5';
	font-weight: 700;
	font-style: italic;
}

#u521313-3,#u521313-5,#u521313-7,#u521313-9
{
	font-family: '__Open Sans_5';
	font-weight: 700;
}

#u521316
{
	position: relative;
	filter: alpha(opacity=100);
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
	border-radius: 10px;
	border-color: transparent;
	border-width: 0px;
	z-index: 25;
	opacity: 1;
	background: transparent url("../images/logo_site_1.svg?crc=514809865") no-repeat center center;
	background-size: cover;
}

.nosvg #u521316
{
	background-image: url('../images/logo_site_1_poster_u522147.png?crc=3764661925');
}

#u521322
{
	position: relative;
	filter: alpha(opacity=100);
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
	margin-right: -10000px;
	border-radius: 10px;
	z-index: 21;
	opacity: 1;
	background: transparent url("../images/logo_site_2.svg?crc=4051033416") no-repeat center center;
	background-size: cover;
}

.nosvg #u521322
{
	background-image: url('../images/logo_site_2_poster_u522155.png?crc=159178128');
}

#u521445
{
	position: relative;
	filter: alpha(opacity=100);
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
	margin-right: -10000px;
	border-radius: 10px;
	z-index: 34;
	opacity: 1;
	background: transparent url("../images/logo_site_3.svg?crc=3820901826") no-repeat center center;
	background-size: cover;
}

.nosvg #u521445
{
	background-image: url('../images/logo_site_3_poster_u522523.png?crc=266646658');
}

#u524864
{
	border-radius: 10px;
	position: relative;
	background-color: #FFFFFF;
	z-index: 2;
}

#u524873
{
	border-radius: 10px;
	position: relative;
	background-color: #FFFFFF;
	z-index: 3;
}

#pu522903
{
	left: 0%;
	margin-top: 20px;
	z-index: 5;
}

#u522903
{
	margin-right: -10000px;
	border-radius: 10px;
	position: relative;
	background-color: #6898CC;
	z-index: 5;
}

#u521311
{
	position: relative;
	filter: alpha(opacity=100);
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
	margin-right: -10000px;
	border-radius: 10px;
	z-index: 22;
	opacity: 1;
	background: transparent url("../images/site_chihuahua.svg?crc=147273566") no-repeat center center;
	background-size: cover;
}

.nosvg #u521311
{
	background-image: url('../images/site_chihuahua_poster_u522307.png?crc=275761440');
}

#u521317
{
	position: relative;
	filter: alpha(opacity=100);
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
	margin-right: -10000px;
	border-radius: 10px;
	z-index: 23;
	opacity: 1;
	background: transparent url("../images/site_husky.svg?crc=197483678") no-repeat center center;
	background-size: cover;
}

.nosvg #u521317
{
	background-image: url('../images/site_husky_poster_u522323.png?crc=3819577682');
}

#u521320
{
	position: relative;
	filter: alpha(opacity=100);
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
	margin-right: -10000px;
	border-radius: 10px;
	z-index: 30;
	opacity: 1;
	background: transparent url("../images/site_buldogue.svg?crc=87151301") no-repeat center top;
	background-size: cover;
}

.nosvg #u521320
{
	background-image: url('../images/site_buldogue_poster_u522299.png?crc=365214262');
}

#u521318
{
	position: relative;
	filter: alpha(opacity=100);
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
	margin-right: -10000px;
	border-radius: 10px;
	z-index: 32;
	opacity: 1;
	background: transparent url("../images/site_golden.svg?crc=87063267") no-repeat center center;
	background-size: cover;
}

.nosvg #u521318
{
	background-image: url('../images/site_golden_poster_u522315.png?crc=452166237');
}

#u521640
{
	position: relative;
	filter: alpha(opacity=100);
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
	margin-right: -10000px;
	border-radius: 10px;
	z-index: 35;
	opacity: 1;
	background: transparent url("../images/site_poodle.svg?crc=4294298198") no-repeat center center;
	background-size: cover;
}

.nosvg #u521640
{
	background-image: url('../images/site_poodle_poster_u522291.png?crc=3909222684');
}

#u521308
{
	position: relative;
	left: 0%;
	filter: alpha(opacity=100);
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
	border-radius: 10px;
	z-index: 24;
	opacity: 1;
	background: transparent url("../images/template_desktop.svg?crc=212236921") no-repeat center center;
	background-size: cover;
}

.nosvg #u521308
{
	background-image: url('../images/template_desktop_poster_u524986.png?crc=114404401');
	left: 0%;
}

#u522070
{
	position: relative;
	left: 0%;
	filter: alpha(opacity=100);
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
	border-radius: 10px;
	margin-top: 20px;
	z-index: 6;
	opacity: 1;
	background: transparent url("../images/template_mobile.svg?crc=47800895") no-repeat center center;
	background-size: cover;
}

.nosvg #u522070
{
	background-image: url('../images/template_mobile_poster_u524994.png?crc=307017845');
	left: 0%;
}

#u521310
{
	position: relative;
	left: 0%;
	filter: alpha(opacity=100);
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
	border-radius: 10px;
	margin-top: 20px;
	z-index: 31;
	opacity: 1;
	background: transparent url("../images/template_todos.svg?crc=484849039") no-repeat center center;
	background-size: cover;
}

.nosvg #u521310
{
	background-image: url('../images/template_todos_poster_u523057.png?crc=21186872');
	left: 0%;
}

#u521324
{
	position: relative;
	filter: alpha(opacity=100);
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
	border-radius: 10px;
	z-index: 26;
	opacity: 1;
	background: transparent url("../images/template_poddle.svg?crc=3891622955") no-repeat center center;
	background-size: cover;
}

.nosvg #u521324
{
	background-image: url('../images/template_poddle_poster_u523049.png?crc=4204344289');
}

#u521314
{
	position: relative;
	filter: alpha(opacity=100);
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
	border-radius: 10px;
	z-index: 27;
	opacity: 1;
	background: transparent url("../images/template_chihuahua.svg?crc=3826605889") no-repeat center center;
	background-size: cover;
}

.nosvg #u521314
{
	background-image: url('../images/template_chihuahua_poster_u523081.png?crc=4236019328');
}

#u521323
{
	position: relative;
	filter: alpha(opacity=100);
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
	border-radius: 10px;
	z-index: 29;
	opacity: 1;
	background: transparent url("../images/template_buldogue.svg?crc=4291797559") no-repeat center center;
	background-size: cover;
}

.nosvg #u521323
{
	background-image: url('../images/template_buldogue_poster_u523089.png?crc=349990471');
}

#u521312
{
	position: relative;
	filter: alpha(opacity=100);
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
	border-radius: 10px;
	z-index: 28;
	opacity: 1;
	background: transparent url("../images/template_golden.svg?crc=4186174206") no-repeat center center;
	background-size: cover;
}

.nosvg #u521312
{
	background-image: url('../images/template_golden_poster_u523376.png?crc=338549923');
}

#u524841
{
	position: relative;
	left: 0%;
	filter: alpha(opacity=100);
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
	border-radius: 10px;
	z-index: 4;
	opacity: 1;
	background: transparent url("../images/template_husky.svg?crc=487033153") no-repeat center center;
	background-size: cover;
}

.nosvg #u524841
{
	background-image: url('../images/template_husky_poster_u525002.png?crc=468601472');
	left: 0%;
}

#u521322 .fluid_height_spacer,#u521445 .fluid_height_spacer,#u524841 .fluid_height_spacer
{
	padding-bottom: 100%;
}

#u521309
{
	height: 50px;
	filter: alpha(opacity=100);
	position: relative;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
	border-radius: 10px 10px 0px 0px ;
	width: 140px;
	z-index: 33;
	opacity: 1;
	background: #000000 url("../images/uminimo.svg?crc=507500714") no-repeat center center;
	background-size: contain;
}

.nosvg #u521309
{
	background-image: url('../images/uminimo_poster_u524327.png?crc=330049046');
}

.html
{
	background-color: #FFFFFF;
}

body
{
	position: relative;
}

@media (min-width: 861px), print
{
	#muse_css_mq
	{
		background-color: #FFFFFF;
	}

	#bp_infinity.active
	{
		display: block;
	}

	#page
	{
		min-height: 3850px;
		max-width: 1210px;
	}

	#buttonu524045_align_to_page
	{
		max-width: 1210px;
	}

	#u524074-4
	{
		left: 26.04%;
	}

	#u524073-4
	{
		left: 28.93%;
	}

	#u524075-4
	{
		left: 31.82%;
	}

	#buttonu524207
	{
		left: 56.2%;
	}

	#pu521319
	{
		width: 96.7%;
	}

	#u521319
	{
		width: 72.65%;
		margin-left: 15.82%;
	}

	#u521313-13
	{
		min-height: 69px;
		width: 90.59%;
		left: 4.71%;
	}

	#pu521316
	{
		z-index: 25;
		margin-top: 50px;
		width: 99.83%;
		left: 0%;
		margin-left: 1.71%;
	}

	#u521316
	{
		margin-right: -10000px;
		width: 49.23%;
	}

	#u521322
	{
		width: 23.72%;
		left: 50.86%;
	}

	#u521445
	{
		width: 23.72%;
		left: 76.29%;
	}

	#pu524864
	{
		z-index: 2;
		margin-top: 20px;
		width: 99.92%;
		left: 0%;
		margin-left: 1.71%;
	}

	#u524864
	{
		margin-right: -10000px;
		width: 49.19%;
	}

	#u524873
	{
		margin-right: -10000px;
		width: 49.19%;
		left: 50.82%;
	}

	#u521316 .fluid_height_spacer,#u524864 .fluid_height_spacer,#u524873 .fluid_height_spacer
	{
		padding-bottom: 48.17391304347826%;
	}

	#pu521320
	{
		z-index: 30;
		margin-top: 20px;
		width: 100%;
		left: 0%;
		margin-left: 1.71%;
	}

	#u522903,#u521320
	{
		width: 32.14%;
	}

	#u521311,#u521318
	{
		width: 32.23%;
		left: 33.85%;
	}

	#u521311 .fluid_height_spacer,#u521318 .fluid_height_spacer
	{
		padding-bottom: 124.6684350132626%;
	}

	#u521317,#u521640
	{
		width: 32.14%;
		left: 67.87%;
	}

	#u522903 .fluid_height_spacer,#u521317 .fluid_height_spacer,#u521320 .fluid_height_spacer,#u521640 .fluid_height_spacer
	{
		padding-bottom: 125%;
	}

	#u521308
	{
		margin-top: 20px;
		width: 100%;
		margin-left: 1.71%;
	}

	#pu522903,#u522070
	{
		width: 100%;
		margin-left: 1.71%;
	}

	#u521310
	{
		width: 100%;
		margin-left: 1.71%;
	}

	#u521308 .fluid_height_spacer,#u522070 .fluid_height_spacer,#u521310 .fluid_height_spacer
	{
		padding-bottom: 76.06837606837607%;
	}

	#pu521324
	{
		z-index: 26;
		margin-top: 20px;
		width: 100%;
		left: 0%;
		margin-left: 1.71%;
	}

	#pu521323
	{
		z-index: 29;
		margin-top: 20px;
		width: 100%;
		left: 0%;
		margin-left: 1.71%;
	}

	#u521324,#u521323
	{
		margin-right: -10000px;
		width: 49.15%;
	}

	#u521314,#u521312
	{
		margin-right: -10000px;
		width: 49.15%;
		left: 50.86%;
	}

	#u521324 .fluid_height_spacer,#u521314 .fluid_height_spacer,#u521323 .fluid_height_spacer,#u521312 .fluid_height_spacer
	{
		padding-bottom: 137.3913043478261%;
	}

	#u524841
	{
		margin-top: 19px;
		width: 100%;
		margin-left: 1.71%;
	}

	.nosvg #u521308,.nosvg #u522070,.nosvg #u521310,.nosvg #u524841
	{
		margin-left: 1.71%;
	}

	#u521309
	{
		margin-top: 20px;
		margin-left: 51.71%;
		left: -70px;
	}

	.nosvg #u521309
	{
		margin-left: 51.71%;
		left: -70px;
	}

	.css_verticalspacer .verticalspacer
	{
		height: calc(100vh - 7482px);
	}

}

@media (min-width: 481px) and (max-width: 860px)
{
	#muse_css_mq
	{
		background-color: #00035c;
	}

	#bp_860.active
	{
		display: block;
	}

	#page
	{
		min-height: 500px;
		max-width: 860px;
	}

	#buttonu524045_align_to_page
	{
		max-width: 860px;
	}

	#u524074-4
	{
		left: 25%;
	}

	#u524073-4
	{
		left: 29.07%;
	}

	#u524075-4
	{
		left: 33.14%;
	}

	#buttonu524207
	{
		left: 55.82%;
	}

	#pu521319
	{
		width: 95.47%;
	}

	#u521319
	{
		width: 92.58%;
		margin-left: 6.1%;
	}

	#u521313-13
	{
		min-height: 69px;
		width: 89.48%;
		left: 5.27%;
	}

	#pu521316
	{
		z-index: 25;
		margin-top: 50px;
		width: 99.88%;
		left: 0%;
		margin-left: 2.44%;
	}

	#u521322
	{
		width: 23.18%;
		left: 51.22%;
	}

	#u521445
	{
		width: 23.18%;
		left: 76.83%;
	}

	#pu524864
	{
		z-index: 2;
		margin-top: 20px;
		width: 99.88%;
		left: 0%;
		margin-left: 2.44%;
	}

	#u521316 .fluid_height_spacer,#u524864 .fluid_height_spacer,#u524873 .fluid_height_spacer
	{
		padding-bottom: 47.5%;
	}

	#pu521320
	{
		z-index: 30;
		margin-top: 20px;
		width: 99.88%;
		left: 0%;
		margin-left: 2.44%;
	}

	#u522903,#u521320
	{
		width: 31.71%;
	}

	#u521311,#u521318
	{
		width: 31.71%;
		left: 34.15%;
	}

	#u521317,#u521640
	{
		width: 31.71%;
		left: 68.3%;
	}

	#u522903 .fluid_height_spacer,#u521311 .fluid_height_spacer,#u521317 .fluid_height_spacer,#u521320 .fluid_height_spacer,#u521318 .fluid_height_spacer,#u521640 .fluid_height_spacer
	{
		padding-bottom: 126.92307692307692%;
	}

	#u521308
	{
		margin-top: 21px;
		width: 99.88%;
		margin-left: 2.44%;
	}

	#u521308 .fluid_height_spacer
	{
		padding-bottom: 76.82926829268293%;
	}

	#pu522903,#u522070
	{
		width: 99.88%;
		margin-left: 2.44%;
	}

	#u521310
	{
		width: 99.88%;
		margin-left: 2.56%;
	}

	#u522070 .fluid_height_spacer,#u521310 .fluid_height_spacer
	{
		padding-bottom: 81.70731707317073%;
	}

	#pu521324
	{
		z-index: 26;
		margin-top: 20px;
		width: 99.88%;
		left: 0%;
		margin-left: 2.44%;
	}

	#pu521323
	{
		z-index: 29;
		margin-top: 20px;
		width: 99.88%;
		left: 0%;
		margin-left: 2.44%;
	}

	#u521316,#u524864,#u521324,#u521323
	{
		margin-right: -10000px;
		width: 48.79%;
	}

	#u524873,#u521314,#u521312
	{
		margin-right: -10000px;
		width: 48.79%;
		left: 51.22%;
	}

	#u521324 .fluid_height_spacer,#u521314 .fluid_height_spacer,#u521323 .fluid_height_spacer,#u521312 .fluid_height_spacer
	{
		padding-bottom: 140.75%;
	}

	#u524841
	{
		margin-top: 21px;
		width: 99.4%;
		margin-left: 2.93%;
	}

	.nosvg #u521308,.nosvg #u522070,.nosvg #u521310,.nosvg #u524841
	{
		margin-left: 2.44%;
	}

	#u521309
	{
		margin-top: 20px;
		margin-left: 52.38%;
		left: -71px;
	}

	.nosvg #u521309
	{
		margin-left: 52.38%;
		left: -71px;
	}

	.css_verticalspacer .verticalspacer
	{
		height: calc(100vh - 5524px);
	}

	body
	{
		overflow-x: hidden;
	}

}

@media (max-width: 480px)
{
	/*

*/

	#muse_css_mq
	{
		background-color: #0001e0;
	}

	#bp_480.active
	{
		display: block;
	}

	#page
	{
		min-height: 500px;
		max-width: 480px;
	}

	#buttonu524045_align_to_page
	{
		max-width: 480px;
	}

	#u524074-4
	{
		left: 20.84%;
	}

	#u524073-4
	{
		left: 28.13%;
	}

	#u524075-4
	{
		left: 35.42%;
	}

	#buttonu524207
	{
		left: 52.09%;
	}

	#pu521319
	{
		width: 91.67%;
	}

	#u521319
	{
		width: 86.37%;
		margin-left: 11.37%;
	}

	#u521313-13
	{
		min-height: 103px;
		width: 78.95%;
		left: 10.53%;
	}

	#u521316
	{
		margin-top: 50px;
		width: 100%;
		left: 0%;
		margin-left: 4.55%;
	}

	#pu521322
	{
		z-index: 21;
		margin-top: 20px;
		width: 100%;
		left: 0%;
		margin-left: 4.55%;
	}

	#u521316 .fluid_height_spacer,#u524864 .fluid_height_spacer,#u524873 .fluid_height_spacer
	{
		padding-bottom: 47.72727272727273%;
	}

	#pu521317
	{
		z-index: 23;
		margin-top: 20px;
		width: 100%;
		left: 0%;
		margin-left: 4.55%;
	}

	#pu521318
	{
		z-index: 32;
		margin-top: 20px;
		width: 100%;
		left: 0%;
		margin-left: 4.55%;
	}

	#u521322,#u522903,#u521317,#u521318
	{
		width: 47.73%;
	}

	#u521445,#u521311,#u521320,#u521640
	{
		width: 47.73%;
		left: 52.28%;
	}

	#u522903 .fluid_height_spacer,#u521311 .fluid_height_spacer,#u521317 .fluid_height_spacer,#u521320 .fluid_height_spacer,#u521318 .fluid_height_spacer,#u521640 .fluid_height_spacer
	{
		padding-bottom: 123.80952380952381%;
	}

	#u521308
	{
		margin-top: 20px;
		width: 100%;
		margin-left: 4.55%;
	}

	#pu522903,#u522070
	{
		width: 100%;
		margin-left: 4.55%;
	}

	#u521310
	{
		width: 100%;
		margin-left: 4.55%;
	}

	#u521308 .fluid_height_spacer,#u522070 .fluid_height_spacer,#u521310 .fluid_height_spacer
	{
		padding-bottom: 72.72727272727273%;
	}

	#u524864,#u524873,#u521324
	{
		margin-top: 20px;
		width: 100%;
		left: 0%;
		margin-left: 4.55%;
	}

	#u521314
	{
		margin-top: 20px;
		width: 100%;
		left: 0%;
		margin-left: 4.55%;
	}

	#u521323
	{
		margin-top: 19px;
		width: 100%;
		left: 0%;
		margin-left: 4.55%;
	}

	#u521312
	{
		margin-top: 20px;
		width: 100%;
		left: 0%;
		margin-left: 4.55%;
	}

	.nosvg #u521316,.nosvg #u521324,.nosvg #u521314,.nosvg #u521323,.nosvg #u521312
	{
		left: 0%;
		margin-left: 4.55%;
	}

	#u521324 .fluid_height_spacer,#u521314 .fluid_height_spacer,#u521323 .fluid_height_spacer,#u521312 .fluid_height_spacer
	{
		padding-bottom: 123.86363636363636%;
	}

	#u524841
	{
		margin-top: 20px;
		width: 100%;
		margin-left: 4.55%;
	}

	.nosvg #u521308,.nosvg #u522070,.nosvg #u521310,.nosvg #u524841
	{
		margin-left: 4.55%;
	}

	#u521309
	{
		margin-top: 19px;
		margin-left: 54.55%;
		left: -70px;
	}

	.nosvg #u521309
	{
		margin-left: 54.55%;
		left: -70px;
	}

	.css_verticalspacer .verticalspacer
	{
		height: calc(100vh - 5997px);
	}

	body
	{
		overflow-x: hidden;
		min-width: 320px;
	}

}

