.version.index /* version checker */
{
	color: #0000EC;
	background-color: #2442A0;
}

.js body
{
	visibility: hidden;
}

.js body.initialized
{
	visibility: visible;
}

@font-face
{
	font-family: '__Open Sans_5';
	src: url('../fonts/open-sans-v18-latin-italic.eot');
	src: local('☺'), url('../fonts/open-sans-v18-latin-italic.woff') format('woff'), url('../fonts/open-sans-v18-latin-italic.svg') format('svg');
	font-weight: 400;
	font-style: italic;
}

@font-face
{
	font-family: '__Open Sans_5';
	src: url('../fonts/open-sans-v18-latin-regular.eot');
	src: local('☺'), url('../fonts/open-sans-v18-latin-regular.woff') format('woff'), url('../fonts/open-sans-v18-latin-regular.svg') format('svg');
	font-weight: 400;
	font-style: normal;
}

@font-face
{
	font-family: '__Open Sans_5';
	src: url('../fonts/open-sans-v18-latin-700.eot');
	src: local('☺'), url('../fonts/open-sans-v18-latin-700.woff') format('woff'), url('../fonts/open-sans-v18-latin-700.svg') format('svg');
	font-weight: 700;
	font-style: normal;
}

#page
{
	background-image: none;
	margin-left: auto;
	z-index: 1;
	border-width: 0px;
	border-color: #000000;
	width: 100%;
	margin-right: auto;
	background-color: #F1F1F1;
}

#u516409
{
	left: -70px;
	margin-left: 50%;
	z-index: 9;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
	height: 50px;
	filter: alpha(opacity=100);
	position: relative;
	width: 140px;
	opacity: 1;
	background: transparent url("../images/uminimo.svg?crc=3941950586") no-repeat center center;
	background-size: contain;
}

#u516409.MuseLinkActive
{
	left: -70px;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
	min-height: 0px;
	height: 50px;
	filter: alpha(opacity=100);
	width: 140px;
	border-radius: 0px 0px 10px 10px ;
	opacity: 1;
	margin: 0px 0px 0px 50%;
	background: #000000 url("../images/uminimo.svg?crc=3941950586") no-repeat center center;
	background-size: contain;
}

.nosvg #u516409,.nosvg #u516409.MuseLinkActive
{
	background-image: url('../images/uminimo_poster_u522737.png?crc=423342159');
	left: -70px;
	margin-left: 50%;
}

#u521094
{
	z-index: 2;
	padding-bottom: 20px;
	position: relative;
	margin-top: 50px;
	background-color: #FFFFFF;
	border-radius: 10px;
	padding-top: 20px;
}

#u519298
{
	left: -50px;
	margin-left: 50%;
	z-index: 25;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
	height: 100px;
	filter: alpha(opacity=100);
	border-radius: 50%;
	position: relative;
	width: 100px;
	opacity: 1;
	background: #F1F1F1 url("../images/robles.svg?crc=454361495") no-repeat center center;
	background-size: cover;
}

.nosvg #u519298
{
	background-image: url('../images/robles_poster_u522849.png?crc=4216839046');
	left: -50px;
	margin-left: 50%;
}

#u519289-6
{
	color: #7F7F7F;
	z-index: 10;
	position: relative;
	font-weight: 400;
	text-align: center;
	background-color: transparent;
	margin-top: 5px;
	line-height: 1.8;
}

#u519289-2
{
	font-size: 20px;
	font-family: '__Open Sans_5';
}

#u519289
{
	color: #000000;
	font-weight: 700;
	font-family: '__Open Sans_5';
}

#u519289-4
{
	font-size: 13px;
	font-style: italic;
	font-family: '__Open Sans_5';
}

#u523491
{
	z-index: 27;
	position: relative;
	background-color: #FFFFFF;
	border-radius: 10px;
}

#u523490-4
{
	font-weight: 700;
	z-index: 28;
	font-family: '__Open Sans_5';
	position: relative;
	text-align: left;
	line-height: 2;
	font-size: 13px;
	margin-right: -10000px;
	margin-top: 20px;
	background-color: transparent;
}

#accordionu523492
{
	border-color: transparent;
	width: 100%;
	z-index: 32;
	border-width: 0px;
	position: relative;
	margin-right: -10000px;
	background-color: transparent;
	border-radius: 10px;
}

#u523493
{
	width: 100%;
	z-index: 33;
	background-color: transparent;
	position: relative;
}

#u523496-5
{
	position: relative;
	z-index: 34;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
	min-height: 66px;
	padding-top: 10px;
	filter: alpha(opacity=100);
	border-radius: 10px;
	border-color: transparent;
	border-width: 0px;
	padding-bottom: 10px;
	width: 100%;
	opacity: 1;
	background: transparent url("../images/abrir1.svg?crc=172442904") no-repeat right center;
	background-size: 60px 60px;
}

#u523496-5:hover
{
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
	min-height: 66px;
	padding-bottom: 10px;
	filter: alpha(opacity=100);
	width: 100%;
	opacity: 1;
	padding-top: 10px;
	margin: 0px 0px 0px 0%;
	background: transparent url("../images/abrir2.svg?crc=4293693006") no-repeat right center;
	background-size: 60px 60px;
}

#u523496-5:active
{
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
	min-height: 66px;
	padding-bottom: 10px;
	filter: alpha(opacity=100);
	width: 100%;
	opacity: 1;
	padding-top: 10px;
	margin: 0px 0px 0px 0%;
	background: transparent url("../images/encolher2.svg?crc=4025197743") no-repeat right center;
	background-size: 60px 60px;
}

#u523496-5.AccordionPanelTabOpen
{
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
	min-height: 66px;
	padding-bottom: 10px;
	filter: alpha(opacity=100);
	width: 100%;
	border-radius: 10px;
	opacity: 1;
	padding-top: 10px;
	margin: 0px 0px 0px 0%;
	background: transparent url("../images/encolher1.svg?crc=3771844796") no-repeat right center;
	background-size: 60px 60px;
}

#u523496-5:hover p
{
	font-weight: bold;
}

#u523496-5:active p
{
	font-weight: bold;
}

#u523494
{
	border-color: #FFFFFF;
	z-index: 39;
	position: relative;
	width: 100%;
	background-color: #FFFFFF;
	border-radius: 0px 0px 10px 10px ;
}

#u523495-4
{
	color: #999999;
	z-index: 40;
	font-family: '__Open Sans_5';
	position: relative;
	font-weight: 400;
	line-height: 1.4;
	border-color: transparent;
	border-width: 0px;
	font-size: 13px;
	margin-right: -10000px;
	background-color: transparent;
}

.AccordionPanelTab
{
	cursor: pointer;
}

#u523489
{
	margin-right: -10000px;
	z-index: 44;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
	height: 26px;
	filter: alpha(opacity=100);
	position: relative;
	width: 26px;
	margin-top: 20px;
	opacity: 1;
	background: transparent url("../images/marca.svg?crc=461926708") no-repeat center center;
	background-size: cover;
}

.nosvg #u523489
{
	background-image: url('../images/marca_poster_u522713.png?crc=4276343075');
}

#u523503
{
	z-index: 45;
	position: relative;
	background-color: #FFFFFF;
	border-radius: 10px;
}

#u523504-4
{
	font-weight: 700;
	z-index: 46;
	font-family: '__Open Sans_5';
	position: relative;
	text-align: left;
	line-height: 2;
	font-size: 13px;
	margin-right: -10000px;
	margin-top: 20px;
	background-color: transparent;
}

#accordionu523498
{
	border-color: transparent;
	width: 100%;
	z-index: 50;
	border-width: 0px;
	position: relative;
	margin-right: -10000px;
	background-color: transparent;
	border-radius: 10px;
}

#u523499
{
	width: 100%;
	z-index: 51;
	background-color: transparent;
	position: relative;
}

#u523500-5
{
	position: relative;
	z-index: 52;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
	min-height: 66px;
	padding-top: 10px;
	filter: alpha(opacity=100);
	border-radius: 10px;
	border-color: transparent;
	border-width: 0px;
	padding-bottom: 10px;
	width: 100%;
	opacity: 1;
	background: transparent url("../images/abrir1.svg?crc=172442904") no-repeat right center;
	background-size: 60px 60px;
}

#u523500-5:hover
{
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
	min-height: 66px;
	padding-bottom: 10px;
	filter: alpha(opacity=100);
	width: 100%;
	opacity: 1;
	padding-top: 10px;
	margin: 0px 0px 0px 0%;
	background: transparent url("../images/abrir2.svg?crc=4293693006") no-repeat right center;
	background-size: 60px 60px;
}

#u523500-5:active
{
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
	min-height: 66px;
	padding-bottom: 10px;
	filter: alpha(opacity=100);
	width: 100%;
	opacity: 1;
	padding-top: 10px;
	margin: 0px 0px 0px 0%;
	background: transparent url("../images/encolher2.svg?crc=4025197743") no-repeat right center;
	background-size: 60px 60px;
}

#u523500-5.AccordionPanelTabOpen
{
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
	min-height: 66px;
	padding-bottom: 10px;
	filter: alpha(opacity=100);
	width: 100%;
	border-radius: 10px;
	opacity: 1;
	padding-top: 10px;
	margin: 0px 0px 0px 0%;
	background: transparent url("../images/encolher1.svg?crc=3771844796") no-repeat right center;
	background-size: 60px 60px;
}

#u523500-5:hover p
{
	font-weight: bold;
}

#u523500-5:active p
{
	font-weight: bold;
}

#u523501
{
	border-color: #FFFFFF;
	z-index: 57;
	position: relative;
	width: 100%;
	background-color: #FFFFFF;
	border-radius: 0px 0px 10px 10px ;
}

#u523502-4
{
	color: #999999;
	z-index: 58;
	font-family: '__Open Sans_5';
	position: relative;
	font-weight: 400;
	line-height: 1.4;
	border-color: transparent;
	border-width: 0px;
	font-size: 13px;
	margin-right: -10000px;
	background-color: transparent;
}

#u523505
{
	margin-right: -10000px;
	z-index: 62;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
	height: 26px;
	filter: alpha(opacity=100);
	position: relative;
	width: 26px;
	margin-top: 20px;
	opacity: 1;
	background: transparent url("../images/ilustra%c3%a7%c3%a3o.svg?crc=4283808322") no-repeat center center;
	background-size: cover;
}

.nosvg #u523505
{
	background-image: url('../images/ilustra%c3%a7%c3%a3o_poster_u522705.png?crc=4254094283');
}

#u523513-4
{
	font-weight: 700;
	z-index: 63;
	font-family: '__Open Sans_5';
	position: relative;
	text-align: left;
	line-height: 2;
	font-size: 13px;
	margin-right: -10000px;
	margin-top: 20px;
	background-color: transparent;
}

#u523512
{
	z-index: 67;
	position: relative;
	margin-right: -10000px;
	background-color: #FFFFFF;
	border-radius: 10px;
}

#u523515-4
{
	font-weight: 700;
	z-index: 68;
	font-family: '__Open Sans_5';
	position: relative;
	text-align: left;
	line-height: 2;
	font-size: 13px;
	margin-right: -10000px;
	margin-top: 20px;
	background-color: transparent;
}

#accordionu523507
{
	border-color: transparent;
	width: 100%;
	z-index: 72;
	border-width: 0px;
	position: relative;
	margin-right: -10000px;
	background-color: transparent;
	border-radius: 10px;
}

#u523508
{
	width: 100%;
	z-index: 73;
	background-color: transparent;
	position: relative;
}

#u523511-5
{
	position: relative;
	z-index: 74;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
	min-height: 66px;
	padding-top: 10px;
	filter: alpha(opacity=100);
	border-radius: 10px;
	border-color: transparent;
	border-width: 0px;
	padding-bottom: 10px;
	width: 100%;
	opacity: 1;
	background: transparent url("../images/abrir1.svg?crc=172442904") no-repeat right center;
	background-size: 60px 60px;
}

#u523511-5:hover
{
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
	min-height: 66px;
	padding-bottom: 10px;
	filter: alpha(opacity=100);
	width: 100%;
	opacity: 1;
	padding-top: 10px;
	margin: 0px 0px 0px 0%;
	background: transparent url("../images/abrir2.svg?crc=4293693006") no-repeat right center;
	background-size: 60px 60px;
}

#u523511-5:active
{
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
	min-height: 66px;
	padding-bottom: 10px;
	filter: alpha(opacity=100);
	width: 100%;
	opacity: 1;
	padding-top: 10px;
	margin: 0px 0px 0px 0%;
	background: transparent url("../images/encolher2.svg?crc=4025197743") no-repeat right center;
	background-size: 60px 60px;
}

#u523511-5.AccordionPanelTabOpen
{
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
	min-height: 66px;
	padding-bottom: 10px;
	filter: alpha(opacity=100);
	width: 100%;
	border-radius: 10px;
	opacity: 1;
	padding-top: 10px;
	margin: 0px 0px 0px 0%;
	background: transparent url("../images/encolher1.svg?crc=3771844796") no-repeat right center;
	background-size: 60px 60px;
}

#u523511-5:hover p
{
	font-weight: bold;
}

#u523511-5:active p
{
	font-weight: bold;
}

#u523509
{
	border-color: #FFFFFF;
	z-index: 79;
	position: relative;
	width: 100%;
	background-color: #FFFFFF;
	border-radius: 0px 0px 10px 10px ;
}

#u523510-6
{
	color: #999999;
	z-index: 80;
	font-family: '__Open Sans_5';
	position: relative;
	font-weight: 400;
	line-height: 1.4;
	border-color: transparent;
	border-width: 0px;
	font-size: 13px;
	margin-right: -10000px;
	background-color: transparent;
}

#u523510-2
{
	color: #7F7F7F;
}

#u523514
{
	margin-right: -10000px;
	z-index: 86;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
	height: 26px;
	filter: alpha(opacity=100);
	position: relative;
	width: 26px;
	margin-top: 20px;
	opacity: 1;
	background: transparent url("../images/marketing.svg?crc=444175459") no-repeat center center;
	background-size: cover;
}

.nosvg #u523514
{
	background-image: url('../images/marketing_poster_u522721.png?crc=4218389787');
}

#pu523517-4
{
	z-index: 87;
}

#u523517-4
{
	font-weight: 700;
	margin-right: -10000px;
	z-index: 87;
	font-family: '__Open Sans_5';
	position: relative;
	text-align: left;
	line-height: 2;
	font-size: 13px;
	background-color: transparent;
}

#u523518
{
	margin-right: -10000px;
	z-index: 91;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
	height: 26px;
	filter: alpha(opacity=100);
	position: relative;
	width: 26px;
	opacity: 1;
	background: transparent url("../images/mockup.svg?crc=4251249584") no-repeat center center;
	background-size: cover;
}

#u523520
{
	z-index: 92;
	position: relative;
	margin-right: -10000px;
	background-color: #FFFFFF;
	border-radius: 10px;
}

#u523522-4
{
	font-weight: 700;
	z-index: 93;
	font-family: '__Open Sans_5';
	position: relative;
	text-align: left;
	line-height: 2;
	font-size: 13px;
	margin-right: -10000px;
	margin-top: 20px;
	background-color: transparent;
}

#accordionu523523
{
	border-color: transparent;
	width: 100%;
	z-index: 97;
	border-width: 0px;
	position: relative;
	margin-right: -10000px;
	background-color: transparent;
	border-radius: 10px;
}

#u523524
{
	width: 100%;
	z-index: 98;
	background-color: transparent;
	position: relative;
}

#u523527-5
{
	position: relative;
	z-index: 99;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
	min-height: 66px;
	padding-top: 10px;
	filter: alpha(opacity=100);
	border-radius: 10px;
	border-color: transparent;
	border-width: 0px;
	padding-bottom: 10px;
	width: 100%;
	opacity: 1;
	background: transparent url("../images/abrir1.svg?crc=172442904") no-repeat right center;
	background-size: 60px 60px;
}

.nosvg #u523496-5,.nosvg #u523500-5,.nosvg #u523511-5,.nosvg #u523527-5
{
	background-image: url('../images/abrir1_poster_u523659.png?crc=422910180');
}

#u523527-5:hover
{
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
	min-height: 66px;
	padding-bottom: 10px;
	filter: alpha(opacity=100);
	width: 100%;
	opacity: 1;
	padding-top: 10px;
	margin: 0px 0px 0px 0%;
	background: transparent url("../images/abrir2.svg?crc=4293693006") no-repeat right center;
	background-size: 60px 60px;
}

.nosvg #u523496-5:hover,.nosvg #u523500-5:hover,.nosvg #u523511-5:hover,.nosvg #u523527-5:hover
{
	background-image: url('../images/abrir2_poster_u523661.png?crc=290127068');
}

#u523527-5:active
{
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
	min-height: 66px;
	padding-bottom: 10px;
	filter: alpha(opacity=100);
	width: 100%;
	opacity: 1;
	padding-top: 10px;
	margin: 0px 0px 0px 0%;
	background: transparent url("../images/encolher2.svg?crc=4025197743") no-repeat right center;
	background-size: 60px 60px;
}

.nosvg #u523496-5:active,.nosvg #u523500-5:active,.nosvg #u523511-5:active,.nosvg #u523527-5:active
{
	background-image: url('../images/encolher2_poster_u523651.png?crc=3910055151');
}

#u523527-5.AccordionPanelTabOpen
{
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
	min-height: 66px;
	padding-bottom: 10px;
	filter: alpha(opacity=100);
	width: 100%;
	border-radius: 10px;
	opacity: 1;
	padding-top: 10px;
	margin: 0px 0px 0px 0%;
	background: transparent url("../images/encolher1.svg?crc=3771844796") no-repeat right center;
	background-size: 60px 60px;
}

.nosvg #u523496-5.AccordionPanelTabOpen,.nosvg #u523500-5.AccordionPanelTabOpen,.nosvg #u523511-5.AccordionPanelTabOpen,.nosvg #u523527-5.AccordionPanelTabOpen
{
	background-image: url('../images/encolher1_poster_u523817.png?crc=170116090');
}

#u523527-5:hover p
{
	font-weight: bold;
}

#u523527-5:active p
{
	font-weight: bold;
}

#u523496-5.AccordionPanelTabOpen p,#u523500-5.AccordionPanelTabOpen p,#u523511-5.AccordionPanelTabOpen p,#u523527-5.AccordionPanelTabOpen p
{
	font-size: 13px;
	font-weight: bold;
}

#u523496-4,#u523500-4,#u523511-4,#u523527-4
{
	font-size: 13px;
	color: #000000;
	margin-left: 10px;
	font-family: '__Open Sans_5';
	font-weight: 700;
	line-height: 1;
}

#u523525
{
	border-color: #FFFFFF;
	z-index: 104;
	position: relative;
	width: 100%;
	background-color: #FFFFFF;
	border-radius: 0px 0px 10px 10px ;
}

#u523526-4
{
	color: #999999;
	z-index: 105;
	font-family: '__Open Sans_5';
	position: relative;
	font-weight: 400;
	line-height: 1.4;
	border-color: transparent;
	border-width: 0px;
	font-size: 13px;
	margin-right: -10000px;
	background-color: transparent;
}

#u523521
{
	margin-right: -10000px;
	z-index: 109;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
	height: 26px;
	filter: alpha(opacity=100);
	position: relative;
	width: 26px;
	margin-top: 20px;
	opacity: 1;
	background: transparent url("../images/mockup.svg?crc=4251249584") no-repeat center center;
	background-size: cover;
}

.nosvg #u523518,.nosvg #u523521
{
	background-image: url('../images/mockup_poster_u522681.png?crc=3971622574');
}

#pu510558
{
	width: 100%;
	margin-top: 50px;
	z-index: 4;
}

#u510558
{
	-webkit-transition-delay: 0s;
	transition-delay: 0s;
	z-index: 4;
	transition-timing-function: ease;
	transition-duration: 0.3s;
	-webkit-transition-duration: 0.3s;
	filter: alpha(opacity=100);
	-webkit-transition-timing-function: ease;
	border-radius: 10px;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
	position: relative;
	margin-right: -10000px;
	opacity: 1;
	background: #FFFFFF url("../images/site_chihuahua.svg?crc=147273566") no-repeat center top;
	background-size: cover;
}

.nosvg #u510558
{
	background-image: url('../images/site_chihuahua_poster_u522307.png?crc=275761440');
}

#u510558:hover
{
	min-height: 0px;
	background-repeat: no-repeat;
	border-radius: 500px;
	background-position: center top;
	margin: 0px -10000px 0px 0%;
	background-size: cover;
}

#u523000
{
	-webkit-transition-delay: 0s;
	transition-delay: 0s;
	z-index: 26;
	background-color: #FFFFFF;
	transition-duration: 0.3s;
	background-image: url("../images/blank.gif?crc=4208392903");
	-webkit-transition-duration: 0.3s;
	-webkit-transition-timing-function: ease;
	border-radius: 10px;
	position: relative;
	margin-right: -10000px;
	transition-timing-function: ease;
}

#u510567
{
	-webkit-transition-delay: 0s;
	transition-delay: 0s;
	z-index: 5;
	background-color: #FFFFFF;
	transition-duration: 0.3s;
	background-image: url("../images/blank.gif?crc=4208392903");
	-webkit-transition-duration: 0.3s;
	-webkit-transition-timing-function: ease;
	border-radius: 10px;
	position: relative;
	margin-right: -10000px;
	transition-timing-function: ease;
}

#u510594
{
	-webkit-transition-delay: 0s;
	transition-delay: 0s;
	z-index: 8;
	background-color: #FFFFFF;
	transition-duration: 0.3s;
	background-image: url("../images/blank.gif?crc=4208392903");
	-webkit-transition-duration: 0.3s;
	-webkit-transition-timing-function: ease;
	border-radius: 10px;
	position: relative;
	margin-right: -10000px;
	transition-timing-function: ease;
}

#u510576
{
	-webkit-transition-delay: 0s;
	transition-delay: 0s;
	z-index: 6;
	background-color: #FFFFFF;
	transition-duration: 0.3s;
	background-image: url("../images/blank.gif?crc=4208392903");
	-webkit-transition-duration: 0.3s;
	-webkit-transition-timing-function: ease;
	border-radius: 10px;
	position: relative;
	margin-right: -10000px;
	transition-timing-function: ease;
}

#u510585
{
	-webkit-transition-delay: 0s;
	transition-delay: 0s;
	z-index: 7;
	background-color: #FFFFFF;
	transition-duration: 0.3s;
	background-image: url("../images/blank.gif?crc=4208392903");
	-webkit-transition-duration: 0.3s;
	-webkit-transition-timing-function: ease;
	border-radius: 10px;
	position: relative;
	margin-right: -10000px;
	transition-timing-function: ease;
}

#u523000:hover,#u510567:hover,#u510594:hover,#u510576:hover,#u510585:hover
{
	min-height: 0px;
	border-radius: 500px;
	margin: 0px -10000px 0px 0%;
}

#u510558 .fluid_height_spacer,#u523000 .fluid_height_spacer,#u510594 .fluid_height_spacer,#u510585 .fluid_height_spacer
{
	padding-bottom: 100%;
}

#buttonu518771
{
	border-color: #000000;
	z-index: 20;
	border-width: 3px;
	border-style: solid;
	background-color: #000000;
	border-radius: 10px;
	position: relative;
}

#buttonu518771:hover
{
	margin-bottom: 0px;
	min-height: 0px;
	margin-right: 0px;
	background-color: transparent;
}

#buttonu518771.ButtonSelected
{
	margin-bottom: 0px;
	min-height: 0px;
	margin-right: 0px;
	background-color: #000000;
}

#u518772-4
{
	color: #F1F1F1;
	width: 100%;
	z-index: 21;
	font-family: '__Open Sans_5';
	position: relative;
	font-weight: 700;
	text-align: center;
	line-height: 1.8;
	font-size: 13px;
	margin-right: -10000px;
	background-color: transparent;
	letter-spacing: 1px;
}

#buttonu518771:hover #u518772-4
{
	margin-bottom: 0px;
	margin-left: 0%;
	width: 100%;
	padding-bottom: 0px;
	margin-right: -10000px;
	padding-top: 0px;
}

#buttonu518771.ButtonSelected #u518772-4
{
	margin-bottom: 0px;
	margin-left: 0%;
	width: 100%;
	padding-bottom: 0px;
	margin-right: -10000px;
	padding-top: 0px;
}

#buttonu518771:hover #u518772-4 p
{
	color: #000000;
	visibility: inherit;
}

#buttonu518771.ButtonSelected #u518772-4 p
{
	color: #F1F1F1;
	visibility: inherit;
}

#u517471-4
{
	font-size: 13px;
	color: #7F7F7F;
	z-index: 16;
	font-family: '__Open Sans_5';
	font-weight: 400;
	text-align: center;
	background-color: transparent;
	line-height: 1.6;
}

#u517471-4-bw
{
	margin-top: 17px;
	z-index: 16;
}

#u509890
{
	height: 20px;
	z-index: 3;
}

.ie #u509890
{
	filter: alpha(opacity=1);
	background-color: #FFFFFF;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=1)";
	opacity: 0.01;
}

#u509890-bw
{
	z-index: 3;
	height: 20px;
}

.html
{
	background-color: #FFFFFF;
}

body
{
	position: relative;
}

@media (min-width: 861px), print
{
	#muse_css_mq
	{
		background-color: #FFFFFF;
	}

	#bp_infinity.active
	{
		display: block;
	}

	#page
	{
		min-height: 499.915196522898px;
		padding-bottom: 0px;
		max-width: 1210px;
	}

	#u521094
	{
		width: 93.39%;
		margin-left: 3.31%;
	}

	#u519289-6
	{
		min-height: 53px;
		width: 96.47%;
		margin-left: 1.77%;
	}

	#pu523491
	{
		z-index: 27;
		margin-top: 50px;
		width: 100%;
	}

	#u523491
	{
		margin-right: -10000px;
		width: 22.07%;
		left: 3.31%;
	}

	#u523503
	{
		margin-right: -10000px;
		width: 22.07%;
		left: 27.11%;
	}

	#pu523517-4
	{
		margin-right: -10000px;
		width: 22.07%;
	}

	#u523517-4
	{
		min-height: 26px;
		margin-top: 21px;
		width: 71.17%;
		left: 57px;
		margin-left: 903px;
	}

	#u523518
	{
		margin-top: 21px;
		left: 20px;
		margin-left: 903px;
	}

	.nosvg #u523518
	{
		left: 0px;
		margin-left: 903px;
	}

	#u523520
	{
		width: 100%;
		left: 0%;
		margin-left: 338.21%;
	}

	#u523513-4
	{
		min-height: 26px;
		left: 674px;
		width: 15.62%;
	}

	#u523512
	{
		width: 22.07%;
		left: 50.83%;
	}

	#u523490-4,#u523504-4,#u523522-4,#u523515-4
	{
		min-height: 26px;
		left: 59px;
		width: 70.79%;
	}

	#u523494,#u523501,#u523525,#u523509
	{
		padding-bottom: 19px;
	}

	#u523495-4,#u523502-4,#u523526-4,#u523510-6
	{
		min-height: 41px;
		width: 85.77%;
		left: 7.5%;
	}

	#u523489,#u523505,#u523521,#u523514
	{
		left: 20px;
	}

	#u510558
	{
		width: 30.09%;
		left: 3.31%;
	}

	#u510567
	{
		width: 29.92%;
		left: 35.05%;
	}

	#u523000
	{
		width: 30.09%;
		left: 66.62%;
	}

	#pu510594
	{
		z-index: 8;
		margin-top: 20px;
		width: 100%;
	}

	#u510594
	{
		width: 30.09%;
		left: 3.31%;
	}

	#u510576
	{
		width: 29.92%;
		left: 35.05%;
	}

	#u510567:hover,#u510576:hover
	{
		width: 29.92%;
	}

	#u510567 .fluid_height_spacer,#u510576 .fluid_height_spacer
	{
		padding-bottom: 100.55248618784532%;
	}

	#u510585
	{
		width: 30.09%;
		left: 66.62%;
	}

	#u510558:hover,#u523000:hover,#u510594:hover,#u510585:hover
	{
		width: 30.09%;
	}

	#buttonu518771
	{
		padding-bottom: 14px;
		margin-top: 47px;
		width: 29.76%;
		margin-left: 34.88%;
	}

	#buttonu518771:hover
	{
		margin-top: 47px;
		width: 29.76%;
		margin-left: 34.88%;
	}

	#buttonu518771.ButtonSelected
	{
		margin-top: 47px;
		width: 29.76%;
		margin-left: 34.88%;
	}

	#u518772-4
	{
		min-height: 12px;
		margin-top: 13px;
	}

	#buttonu518771:hover #u518772-4
	{
		margin-top: 13px;
		min-height: 12px;
	}

	#buttonu518771.ButtonSelected #u518772-4
	{
		margin-top: 13px;
		min-height: 12px;
	}

	#u517471-4,#u517471-4-bw
	{
		min-height: 9px;
	}

	.css_verticalspacer .verticalspacer
	{
		height: calc(100vh - 1379px);
	}
}

@media (min-width: 481px) and (max-width: 860px)
{
	#muse_css_mq
	{
		background-color: #00035c;
	}

	#bp_860.active
	{
		display: block;
	}

	#page
	{
		min-height: 500px;
		max-width: 860px;
	}

	#u521094
	{
		width: 86.05%;
		margin-left: 6.98%;
	}

	#u519289-6
	{
		min-height: 48px;
		width: 94.6%;
		margin-left: 2.71%;
	}

	#pu523491
	{
		z-index: 27;
		margin-top: 50px;
		width: 100%;
	}

	#u523491
	{
		margin-right: -10000px;
		width: 41.87%;
		left: 6.87%;
	}

	#u523503
	{
		margin-right: -10000px;
		width: 41.87%;
		left: 51.17%;
	}

	#ppu523517-4
	{
		z-index: 0;
		margin-top: 20px;
		width: 100%;
	}

	#pu523517-4
	{
		margin-right: -10000px;
		width: 41.87%;
	}

	#u523517-4
	{
		min-height: 17px;
		margin-top: 20px;
		width: 78.34%;
		left: 58px;
		margin-left: 440px;
	}

	#u523518
	{
		margin-top: 20px;
		left: 20px;
		margin-left: 440px;
	}

	.nosvg #u523518
	{
		left: 0px;
		margin-left: 440px;
	}

	#u523520
	{
		width: 100%;
		left: 0%;
		margin-left: 122.23%;
	}

	#u523513-4
	{
		min-height: 21px;
		left: 118px;
		width: 32.8%;
	}

	#u523512
	{
		width: 41.87%;
		left: 6.87%;
	}

	#u523490-4,#u523504-4,#u523522-4,#u523515-4
	{
		min-height: 21px;
		left: 58px;
		width: 78.34%;
	}

	#u523495-4,#u523502-4,#u523526-4,#u523510-6
	{
		min-height: 62px;
		width: 88.89%;
		left: 5.56%;
	}

	#u523489,#u523505,#u523521,#u523514
	{
		left: 21px;
	}

	#u510558
	{
		width: 27.21%;
		left: 6.98%;
	}

	#u510567
	{
		width: 26.98%;
		left: 36.52%;
	}

	#u523000
	{
		width: 27.21%;
		left: 65.82%;
	}

	#pu510594
	{
		z-index: 8;
		margin-top: 20px;
		width: 100%;
	}

	#u510594
	{
		width: 27.21%;
		left: 6.98%;
	}

	#u510576
	{
		width: 26.98%;
		left: 36.52%;
	}

	#u510567:hover,#u510576:hover
	{
		width: 26.98%;
	}

	#u510567 .fluid_height_spacer,#u510576 .fluid_height_spacer
	{
		padding-bottom: 100.86206896551724%;
	}

	#u510585
	{
		width: 27.21%;
		left: 65.82%;
	}

	#u510558:hover,#u523000:hover,#u510594:hover,#u510585:hover
	{
		width: 27.21%;
	}

	#buttonu518771
	{
		padding-bottom: 15px;
		margin-top: 47px;
		width: 41.87%;
		margin-left: 28.73%;
	}

	#buttonu518771:hover
	{
		margin-top: 47px;
		width: 41.87%;
		margin-left: 28.73%;
	}

	#buttonu518771.ButtonSelected
	{
		margin-top: 47px;
		width: 41.87%;
		margin-left: 28.73%;
	}

	#u518772-4
	{
		min-height: 23px;
		margin-top: 12px;
	}

	#buttonu518771:hover #u518772-4
	{
		margin-top: 12px;
		min-height: 23px;
	}

	#buttonu518771.ButtonSelected #u518772-4
	{
		margin-top: 12px;
		min-height: 23px;
	}

	#u517471-4,#u517471-4-bw
	{
		min-height: 7px;
	}

	#u509890-bw
	{
		margin-top: 1px;
	}

	.css_verticalspacer .verticalspacer
	{
		height: calc(100vh - 1205px);
	}

	body
	{
		overflow-x: hidden;
	}
}

@media (max-width: 480px)
{
	/*

*/

	#muse_css_mq
	{
		background-color: #0001e0;
	}

	#bp_480.active
	{
		display: block;
	}

	#page
	{
		min-height: 499.6000000000172px;
		padding-bottom: 0px;
		max-width: 480px;
	}

	#u521094
	{
		width: 83.34%;
		margin-left: 8.34%;
	}

	#u519289-6
	{
		min-height: 43px;
		width: 89.5%;
		margin-left: 5.25%;
	}

	#u523491
	{
		margin-top: 50px;
		width: 83.34%;
		margin-left: 8.34%;
	}

	#u523503
	{
		margin-top: 20px;
		width: 83.34%;
		margin-left: 8.34%;
	}

	#pu523513-4
	{
		z-index: 63;
		margin-top: 20px;
		width: 100%;
	}

	#u523513-4
	{
		min-height: 13px;
		left: 99px;
		width: 66.88%;
	}

	#pu523517-4
	{
		margin-top: 21px;
		width: 100%;
	}

	#u523517-4
	{
		min-height: 22px;
		margin-top: 20px;
		left: 99px;
		width: 66.88%;
	}

	#u523518
	{
		margin-top: 20px;
		left: 61px;
	}

	#u523512,#u523520
	{
		width: 83.34%;
		left: 8.34%;
	}

	#u523490-4,#u523504-4,#u523515-4,#u523522-4
	{
		min-height: 13px;
		left: 59px;
		width: 80.25%;
	}

	#u523494,#u523501,#u523509,#u523525
	{
		padding-bottom: 2px;
	}

	#u523495-4,#u523502-4,#u523510-6,#u523526-4
	{
		min-height: 58px;
		width: 89.5%;
		left: 5.25%;
	}

	#u523489,#u523505,#u523514,#u523521
	{
		left: 21px;
	}

	#u510558
	{
		width: 39.59%;
		left: 8.34%;
	}

	#u523000
	{
		width: 39.59%;
		left: 52.09%;
	}

	#pu510567
	{
		z-index: 5;
		margin-top: 20px;
		width: 100%;
	}

	#u510567
	{
		width: 39.59%;
		left: 8.34%;
	}

	#u510594
	{
		width: 39.59%;
		left: 52.09%;
	}

	#pu510576
	{
		z-index: 6;
		margin-top: 20px;
		width: 100%;
	}

	#u510576
	{
		width: 39.59%;
		left: 8.34%;
	}

	#u510567 .fluid_height_spacer,#u510576 .fluid_height_spacer
	{
		padding-bottom: 100%;
	}

	#u510585
	{
		width: 39.59%;
		left: 52.09%;
	}

	#u510558:hover,#u523000:hover,#u510567:hover,#u510594:hover,#u510576:hover,#u510585:hover
	{
		width: 39.59%;
	}

	#buttonu518771
	{
		padding-bottom: 13px;
		margin-top: 46px;
		width: 75%;
		margin-left: 11.88%;
	}

	#buttonu518771:hover
	{
		margin-top: 46px;
		width: 75%;
		margin-left: 11.88%;
	}

	#buttonu518771.ButtonSelected
	{
		margin-top: 46px;
		width: 75%;
		margin-left: 11.88%;
	}

	#u518772-4
	{
		min-height: 12px;
		margin-top: 14px;
	}

	#buttonu518771:hover #u518772-4
	{
		margin-top: 14px;
		min-height: 12px;
	}

	#buttonu518771.ButtonSelected #u518772-4
	{
		margin-top: 14px;
		min-height: 12px;
	}

	#u517471-4,#u517471-4-bw
	{
		min-height: 14px;
	}

	#u509890-bw
	{
		margin-top: 1px;
	}

	.css_verticalspacer .verticalspacer
	{
		height: calc(100vh - 1500px);
	}

	body
	{
		overflow-x: hidden;
		min-width: 320px;
	}
}

