.version.index /* version checker */
{
	color: #0000EE;
	background-color: #B138CB;
}

.js body
{
	visibility: hidden;
}

.js body.initialized
{
	visibility: visible;
}

@font-face
{
	font-family: '__Open Sans_5';
	src: url('../fonts/open-sans-v18-latin-regular.eot');
	src: local('☺'), url('../fonts/open-sans-v18-latin-regular.woff') format('woff'), url('../fonts/open-sans-v18-latin-regular.svg') format('svg');
	font-weight: 400;
	font-style: normal;
}

@font-face
{
	font-family: '__Open Sans_5';
	src: url('../fonts/open-sans-v18-latin-700.eot');
	src: local('☺'), url('../fonts/open-sans-v18-latin-700.woff') format('woff'), url('../fonts/open-sans-v18-latin-700.svg') format('svg');
	font-weight: 700;
	font-style: normal;
}

@font-face
{
	font-family: '__Open Sans_5';
	src: url('../fonts/open-sans-v18-latin-italic.eot');
	src: local('☺'), url('../fonts/open-sans-v18-latin-italic.woff') format('woff'), url('../fonts/open-sans-v18-latin-italic.svg') format('svg');
	font-weight: 400;
	font-style: italic;
}

#page
{
	border-color: #000000;
	background-image: none;
	margin-left: auto;
	width: 100%;
	z-index: 1;
	margin-right: auto;
	background-color: #F1F1F1;
	border-width: 0px;
}

#u516409
{
	position: relative;
	margin-left: 50%;
	filter: alpha(opacity=100);
	height: 50px;
	z-index: 10;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
	width: 140px;
	left: -70px;
	opacity: 1;
	background: transparent url("../images/uminimo.svg?crc=438880562") no-repeat center center;
	background-size: contain;
}

#u516409.MuseLinkActive
{
	left: -70px;
	width: 140px;
	min-height: 0px;
	opacity: 1;
	filter: alpha(opacity=100);
	height: 50px;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
	border-radius: 0px 0px 10px 10px ;
	margin: 0px 0px 0px 50%;
	background: #000000 url("../images/uminimo.svg?crc=438880562") no-repeat center center;
	background-size: contain;
}

.nosvg #u516409,.nosvg #u516409.MuseLinkActive
{
	left: -70px;
	background-image: url('../images/uminimo_poster_u520593.png?crc=170056273');
	margin-left: 50%;
}

#u519180
{
	border-radius: 11px;
	margin-top: 50px;
	position: relative;
	padding-top: 20px;
	z-index: 2;
	background-color: #FFFFFF;
}

#u519298
{
	width: 100px;
	height: 100px;
	margin-left: 50%;
	filter: alpha(opacity=100);
	position: relative;
	z-index: 70;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
	border-radius: 50%;
	left: -50px;
	opacity: 1;
	background: #F1F1F1 url("../images/robles.jpg?crc=25667113") no-repeat center center;
	background-size: cover;
}

#u519289-6
{
	line-height: 1.8;
	font-weight: 400;
	text-align: center;
	position: relative;
	z-index: 51;
	margin-top: 10px;
	background-color: transparent;
}

#u519289-2
{
	color: #7F7F7F;
	font-family: '__Open Sans_5';
	font-size: 20px;
}

#u519289
{
	color: #000000;
	font-weight: 700;
	font-family: '__Open Sans_5';
}

#u519289-4
{
	color: #B4B4B4;
	font-style: italic;
	font-family: '__Open Sans_5';
	font-size: 13px;
}

#u516581-4
{
	color: #7F7F7F;
	font-size: 13px;
	z-index: 47;
	margin-top: 30px;
	position: relative;
	line-height: 1.8;
	font-weight: 400;
	text-align: center;
	font-family: '__Open Sans_5';
	background-color: transparent;
}

#u516572
{
	border-radius: 10px;
	background-color: #FFFFFF;
	position: relative;
	z-index: 11;
}

#pu518807
{
	z-index: 66;
}

#u518807
{
	position: relative;
	filter: alpha(opacity=100);
	height: 26px;
	z-index: 66;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
	width: 26px;
	margin-right: -10000px;
	opacity: 1;
	background: transparent url("../images/marca.svg?crc=3936182916") no-repeat center center;
	background-size: cover;
}

.nosvg #u518807
{
	background-image: url('../images/marca_poster_u520748.png?crc=461284040');
}

#u517034-4
{
	left: 38px;
	font-size: 13px;
	z-index: 31;
	background-color: transparent;
	position: relative;
	font-weight: 700;
	text-align: left;
	margin-right: -10000px;
	font-family: '__Open Sans_5';
	line-height: 2;
}

#u516592-4
{
	color: #7F7F7F;
	font-size: 13px;
	z-index: 27;
	margin-top: 20px;
	position: relative;
	line-height: 1.8;
	font-weight: 400;
	text-align: left;
	font-family: '__Open Sans_5';
	background-color: transparent;
}

#u516573
{
	border-radius: 10px;
	padding-top: 20px;
	background-color: #FFFFFF;
	position: relative;
	z-index: 12;
}

#pu518841
{
	z-index: 67;
}

#u518841
{
	position: relative;
	filter: alpha(opacity=100);
	height: 26px;
	z-index: 67;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
	width: 26px;
	margin-right: -10000px;
	opacity: 1;
	background: transparent url("../images/ilustracao.svg?crc=454464797") no-repeat center center;
	background-size: cover;
}

.nosvg #u518841
{
	background-image: url('../images/ilustracao_poster_u520551.png?crc=3955437968');
}

#u517048-4
{
	left: 38px;
	font-size: 13px;
	z-index: 43;
	background-color: transparent;
	position: relative;
	font-weight: 700;
	text-align: left;
	margin-right: -10000px;
	font-family: '__Open Sans_5';
	line-height: 2;
}

#u516586-4
{
	color: #7F7F7F;
	font-size: 13px;
	z-index: 15;
	margin-top: 20px;
	position: relative;
	line-height: 1.8;
	font-weight: 400;
	text-align: left;
	font-family: '__Open Sans_5';
	background-color: transparent;
}

#u516574
{
	border-radius: 10px;
	padding-top: 20px;
	background-color: #FFFFFF;
	position: relative;
	z-index: 13;
}

#pu518825
{
	z-index: 69;
}

#u518825
{
	position: relative;
	filter: alpha(opacity=100);
	height: 26px;
	z-index: 69;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
	width: 26px;
	margin-right: -10000px;
	opacity: 1;
	background: transparent url("../images/marketing.svg?crc=3860322477") no-repeat center center;
	background-size: cover;
}

.nosvg #u518825
{
	background-image: url('../images/marketing_poster_u520792.png?crc=4135318814');
}

#u517057-4
{
	left: 38px;
	font-size: 13px;
	z-index: 35;
	background-color: transparent;
	position: relative;
	font-weight: 700;
	text-align: left;
	margin-right: -10000px;
	font-family: '__Open Sans_5';
	line-height: 2;
}

#u516590-4
{
	color: #7F7F7F;
	font-size: 13px;
	z-index: 23;
	margin-top: 20px;
	position: relative;
	line-height: 1.8;
	font-weight: 400;
	text-align: left;
	font-family: '__Open Sans_5';
	background-color: transparent;
}

#u516576
{
	border-radius: 10px;
	padding-top: 20px;
	background-color: #FFFFFF;
	position: relative;
	z-index: 14;
}

#pu518850
{
	z-index: 68;
}

#u518850
{
	position: relative;
	filter: alpha(opacity=100);
	height: 26px;
	z-index: 68;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
	width: 26px;
	margin-right: -10000px;
	opacity: 1;
	background: transparent url("../images/3d.svg?crc=132433951") no-repeat center center;
	background-size: cover;
}

.nosvg #u518850
{
	background-image: url('../images/3d_poster_u520785.png?crc=322509703');
}

#u517066-4
{
	left: 38px;
	font-size: 13px;
	z-index: 39;
	background-color: transparent;
	position: relative;
	font-weight: 700;
	text-align: left;
	margin-right: -10000px;
	font-family: '__Open Sans_5';
	line-height: 2;
}

#u516589-4
{
	color: #7F7F7F;
	font-size: 13px;
	z-index: 19;
	margin-top: 20px;
	position: relative;
	line-height: 1.8;
	font-weight: 400;
	text-align: left;
	font-family: '__Open Sans_5';
	background-color: transparent;
}

#pu510491
{
	width: 100%;
	z-index: 4;
	margin-top: 50px;
}

#u510491
{
	transition-timing-function: ease;
	border-radius: 10px;
	margin-right: -10000px;
	opacity: 1;
	z-index: 4;
	background-color: transparent;
	position: relative;
	transition-duration: 0.3s;
	background-position: center center;
	-webkit-transition-delay: 0s;
	-webkit-transition-duration: 0.3s;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
	transition-delay: 0s;
	filter: alpha(opacity=100);
	background-repeat: no-repeat;
	-webkit-transition-timing-function: ease;
	background-size: cover;
}

#u510491:hover
{
	background-position: center center;
	min-height: 0px;
	border-radius: 500px;
	background-repeat: no-repeat;
	margin: 0px -10000px 0px 0%;
	background-size: cover;
}

#u510558
{
	transition-timing-function: ease;
	border-radius: 10px;
	margin-right: -10000px;
	opacity: 1;
	z-index: 5;
	background-color: #FFFFFF;
	position: relative;
	transition-duration: 0.3s;
	background-position: center top;
	-webkit-transition-delay: 0s;
	-webkit-transition-duration: 0.3s;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
	transition-delay: 0s;
	filter: alpha(opacity=100);
	background-repeat: no-repeat;
	-webkit-transition-timing-function: ease;
	background-size: cover;
}

#u510558:hover
{
	background-position: center top;
	min-height: 0px;
	border-radius: 500px;
	background-repeat: no-repeat;
	margin: 0px -10000px 0px 0%;
	background-size: cover;
}

#u510567
{
	transition-timing-function: ease;
	position: relative;
	background-image: url("../images/blank.gif?crc=4208392903");
	z-index: 6;
	-webkit-transition-timing-function: ease;
	transition-duration: 0.3s;
	border-radius: 10px;
	-webkit-transition-delay: 0s;
	-webkit-transition-duration: 0.3s;
	transition-delay: 0s;
	margin-right: -10000px;
	background-color: #FFFFFF;
}

#u510594
{
	transition-timing-function: ease;
	position: relative;
	background-image: url("../images/blank.gif?crc=4208392903");
	z-index: 9;
	-webkit-transition-timing-function: ease;
	transition-duration: 0.3s;
	border-radius: 10px;
	-webkit-transition-delay: 0s;
	-webkit-transition-duration: 0.3s;
	transition-delay: 0s;
	margin-right: -10000px;
	background-color: #FFFFFF;
}

#u510576
{
	transition-timing-function: ease;
	position: relative;
	background-image: url("../images/blank.gif?crc=4208392903");
	z-index: 7;
	-webkit-transition-timing-function: ease;
	transition-duration: 0.3s;
	border-radius: 10px;
	-webkit-transition-delay: 0s;
	-webkit-transition-duration: 0.3s;
	transition-delay: 0s;
	margin-right: -10000px;
	background-color: #FFFFFF;
}

#u510585
{
	transition-timing-function: ease;
	position: relative;
	background-image: url("../images/blank.gif?crc=4208392903");
	z-index: 8;
	-webkit-transition-timing-function: ease;
	transition-duration: 0.3s;
	border-radius: 10px;
	-webkit-transition-delay: 0s;
	-webkit-transition-duration: 0.3s;
	transition-delay: 0s;
	margin-right: -10000px;
	background-color: #FFFFFF;
}

#u510567:hover,#u510594:hover,#u510576:hover,#u510585:hover
{
	border-radius: 500px;
	min-height: 0px;
	margin: 0px -10000px 0px 0%;
}

#u510491 .fluid_height_spacer,#u510558 .fluid_height_spacer,#u510567 .fluid_height_spacer,#u510594 .fluid_height_spacer,#u510576 .fluid_height_spacer,#u510585 .fluid_height_spacer
{
	padding-bottom: 100%;
}

#buttonu518771
{
	border-color: #000000;
	border-radius: 10px;
	background-color: #000000;
	position: relative;
	border-style: solid;
	z-index: 61;
	margin-top: 47px;
	border-width: 3px;
}

#buttonu518771:hover
{
	min-height: 0px;
	background-color: transparent;
	margin-right: 0px;
	margin-top: 47px;
	margin-bottom: 0px;
}

#buttonu518771.ButtonSelected
{
	min-height: 0px;
	background-color: #000000;
	margin-right: 0px;
	margin-top: 47px;
	margin-bottom: 0px;
}

#u518772-4
{
	color: #F1F1F1;
	font-size: 13px;
	z-index: 62;
	background-color: transparent;
	position: relative;
	font-weight: 700;
	letter-spacing: 1px;
	text-align: center;
	width: 100%;
	margin-right: -10000px;
	font-family: '__Open Sans_5';
	line-height: 1.8;
}

#buttonu518771:hover #u518772-4
{
	margin-left: 0%;
	padding-top: 0px;
	width: 100%;
	margin-right: -10000px;
	padding-bottom: 0px;
	margin-bottom: 0px;
}

#buttonu518771.ButtonSelected #u518772-4
{
	margin-left: 0%;
	padding-top: 0px;
	width: 100%;
	margin-right: -10000px;
	padding-bottom: 0px;
	margin-bottom: 0px;
}

#buttonu518771:hover #u518772-4 p
{
	visibility: inherit;
	color: #000000;
}

#buttonu518771.ButtonSelected #u518772-4 p
{
	visibility: inherit;
	color: #F1F1F1;
}

#u517471-4
{
	color: #7F7F7F;
	font-weight: 400;
	text-align: center;
	font-size: 13px;
	z-index: 57;
	font-family: '__Open Sans_5';
	background-color: transparent;
	line-height: 1.6;
}

#u517471-4-bw
{
	z-index: 57;
	margin-top: 17px;
}

#u509890
{
	height: 20px;
	z-index: 3;
}

.ie #u509890
{
	opacity: 0.01;
	filter: alpha(opacity=1);
	background-color: #FFFFFF;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=1)";
}

#u509890-bw
{
	z-index: 3;
	margin-top: 1px;
	height: 20px;
}

.html
{
	background-color: #FFFFFF;
}

body
{
	position: relative;
}

@media (min-width: 861px), print
{
	#muse_css_mq
	{
		background-color: #FFFFFF;
	}

	#bp_infinity.active
	{
		display: block;
	}

	#page
	{
		min-height: 500px;
		max-width: 1210px;
	}

	#u519180
	{
		padding-bottom: 20px;
		width: 96.7%;
		margin-left: 1.66%;
	}

	#u519289-6
	{
		min-height: 53px;
		width: 51.29%;
		margin-left: 24.36%;
	}

	#u516581-4
	{
		min-height: 31px;
		width: 45.3%;
		margin-left: 27.36%;
	}

	#pu516572
	{
		z-index: 11;
		margin-top: 50px;
		width: 100%;
	}

	#u516572
	{
		padding-top: 20px;
		padding-bottom: 20px;
		margin-right: -10000px;
		width: 23.06%;
		left: 1.66%;
	}

	#pu518807
	{
		margin-left: 20px;
		width: 84.95%;
	}

	#u517034-4
	{
		min-height: 20px;
		width: 83.97%;
	}

	#u516592-4
	{
		min-height: 35px;
		width: 84.95%;
		margin-left: 7.17%;
	}

	#u516573
	{
		padding-bottom: 20.0464239829289px;
		margin-right: -10000px;
		width: 22.9%;
		left: 26.37%;
	}

	#u516586-4
	{
		min-height: 34px;
		width: 85.56%;
		margin-left: 7.23%;
	}

	#u516574
	{
		padding-bottom: 20px;
		margin-right: -10000px;
		width: 22.9%;
		left: 50.91%;
	}

	#u516576
	{
		padding-bottom: 20px;
		margin-right: -10000px;
		width: 22.9%;
		left: 75.46%;
	}

	#pu518841,#pu518825,#pu518850
	{
		margin-left: 20px;
		width: 85.56%;
	}

	#u517048-4,#u517057-4,#u517066-4
	{
		min-height: 26px;
		width: 83.97%;
	}

	#u516590-4,#u516589-4
	{
		min-height: 47px;
		width: 85.56%;
		margin-left: 7.23%;
	}

	#u510491
	{
		background-image: url("../images/balao-site.jpg?crc=4034364887");
		width: 31.16%;
		left: 1.66%;
	}

	#u510558
	{
		background-image: url("../images/chihuahua.png?crc=456709896");
		width: 31.16%;
		left: 34.47%;
	}

	#u510567
	{
		width: 31.16%;
		left: 67.2%;
	}

	#pu510594
	{
		z-index: 9;
		margin-top: 20px;
		width: 100%;
	}

	#u510594
	{
		width: 31.16%;
		left: 1.66%;
	}

	#u510576
	{
		width: 31.16%;
		left: 34.47%;
	}

	#u510585
	{
		width: 31.16%;
		left: 67.2%;
	}

	#u510491:hover,#u510558:hover,#u510567:hover,#u510594:hover,#u510576:hover,#u510585:hover
	{
		width: 31.16%;
	}

	#buttonu518771
	{
		padding-bottom: 14px;
		width: 29.76%;
		margin-left: 34.88%;
	}

	#buttonu518771:hover
	{
		width: 29.76%;
		margin-left: 34.88%;
	}

	#buttonu518771.ButtonSelected
	{
		width: 29.76%;
		margin-left: 34.88%;
	}

	#u518772-4
	{
		min-height: 12px;
		margin-top: 13px;
	}

	#buttonu518771:hover #u518772-4
	{
		margin-top: 13px;
		min-height: 12px;
	}

	#buttonu518771.ButtonSelected #u518772-4
	{
		margin-top: 13px;
		min-height: 12px;
	}

	#u517471-4,#u517471-4-bw
	{
		min-height: 15px;
	}

	.css_verticalspacer .verticalspacer
	{
		height: calc(100vh - 1554px);
	}
}

@media (min-width: 481px) and (max-width: 860px)
{
	#muse_css_mq
	{
		background-color: #00035c;
	}

	#bp_860.active
	{
		display: block;
	}

	#page
	{
		min-height: 500px;
		max-width: 860px;
	}

	#u519180
	{
		padding-bottom: 20px;
		width: 95.35%;
		margin-left: 2.33%;
	}

	#u519289-6
	{
		min-height: 48px;
		width: 92.69%;
		margin-left: 3.66%;
	}

	#u516581-4
	{
		min-height: 36px;
		width: 72.69%;
		margin-left: 13.66%;
	}

	#pu516572
	{
		z-index: 11;
		margin-top: 50px;
		width: 100%;
	}

	#u516572
	{
		padding-top: 20px;
		padding-bottom: 20.061718750000864px;
		margin-right: -10000px;
		width: 46.52%;
		left: 2.33%;
	}

	#u517034-4
	{
		min-height: 20px;
		width: 89.45%;
	}

	#u516592-4
	{
		min-height: 36px;
		width: 90%;
		margin-left: 5%;
	}

	#u516573
	{
		padding-bottom: 23.050000000002854px;
		margin-right: -10000px;
		width: 46.52%;
		left: 51.17%;
	}

	#u516586-4
	{
		min-height: 43px;
		width: 90%;
		margin-left: 5%;
	}

	#pu516574
	{
		z-index: 13;
		margin-top: 17px;
		width: 100%;
	}

	#u516574
	{
		padding-bottom: 20.060937500000364px;
		margin-right: -10000px;
		width: 46.52%;
		left: 2.33%;
	}

	#u517048-4,#u517057-4
	{
		min-height: 21px;
		width: 89.45%;
	}

	#u516590-4
	{
		min-height: 50px;
		width: 90%;
		margin-left: 5%;
	}

	#u516576
	{
		padding-bottom: 23px;
		margin-right: -10000px;
		width: 46.52%;
		left: 51.17%;
	}

	#pu518807,#pu518841,#pu518825,#pu518850
	{
		margin-left: 20px;
		width: 90%;
	}

	#u517066-4
	{
		min-height: 17px;
		width: 89.45%;
	}

	#u516589-4
	{
		min-height: 33px;
		width: 90%;
		margin-left: 5%;
	}

	#u510491
	{
		background-image: url("../images/balao-u510491-fr.jpg?crc=4138410669");
		width: 30.24%;
		left: 2.33%;
	}

	#u510558
	{
		background-image: url("../images/chihuahua-u510558-fr.png?crc=4205463562");
		width: 30.24%;
		left: 34.89%;
	}

	#u510567
	{
		width: 30.24%;
		left: 67.45%;
	}

	#pu510594
	{
		z-index: 9;
		margin-top: 20px;
		width: 100%;
	}

	#u510594
	{
		width: 30.24%;
		left: 2.33%;
	}

	#u510576
	{
		width: 30.24%;
		left: 34.89%;
	}

	#u510585
	{
		width: 30.24%;
		left: 67.45%;
	}

	#u510491:hover,#u510558:hover,#u510567:hover,#u510594:hover,#u510576:hover,#u510585:hover
	{
		width: 30.24%;
	}

	#buttonu518771
	{
		padding-bottom: 15px;
		width: 41.87%;
		margin-left: 28.73%;
	}

	#buttonu518771:hover
	{
		width: 41.87%;
		margin-left: 28.73%;
	}

	#buttonu518771.ButtonSelected
	{
		width: 41.87%;
		margin-left: 28.73%;
	}

	#u518772-4
	{
		min-height: 23px;
		margin-top: 12px;
	}

	#buttonu518771:hover #u518772-4
	{
		margin-top: 12px;
		min-height: 23px;
	}

	#buttonu518771.ButtonSelected #u518772-4
	{
		margin-top: 12px;
		min-height: 23px;
	}

	#u517471-4,#u517471-4-bw
	{
		min-height: 7px;
	}

	.css_verticalspacer .verticalspacer
	{
		height: calc(100vh - 1476px);
	}

	body
	{
		overflow-x: hidden;
	}
}

@media (max-width: 480px)
{
	/*

*/

	#muse_css_mq
	{
		background-color: #0001e0;
	}

	#bp_480.active
	{
		display: block;
	}

	#page
	{
		min-height: 499.75000000001637px;
		padding-bottom: 0px;
		max-width: 480px;
	}

	#u519180
	{
		padding-bottom: 22px;
		width: 91.67%;
		margin-left: 4.17%;
	}

	#u519289-6,#u516581-4
	{
		min-height: 43px;
		width: 86.37%;
		margin-left: 6.82%;
	}

	#u516572
	{
		padding-top: 19px;
		padding-bottom: 20px;
		margin-top: 48px;
		width: 91.67%;
		margin-left: 4.17%;
	}

	#u517034-4
	{
		min-height: 21px;
		width: 90.5%;
	}

	#u516592-4
	{
		min-height: 10px;
		width: 90.91%;
		margin-left: 4.55%;
	}

	#u516586-4
	{
		min-height: 21px;
		width: 90.91%;
		margin-left: 4.55%;
	}

	#u517048-4,#u517057-4
	{
		min-height: 13px;
		width: 90.5%;
	}

	#u516590-4
	{
		min-height: 15px;
		width: 90.91%;
		margin-left: 4.32%;
	}

	#u516573,#u516574,#u516576
	{
		padding-bottom: 20px;
		margin-top: 20px;
		width: 91.67%;
		margin-left: 4.17%;
	}

	#pu518807,#pu518841,#pu518825,#pu518850
	{
		margin-left: 19px;
		width: 90.91%;
	}

	#u517066-4
	{
		min-height: 22px;
		width: 90.5%;
	}

	#u516589-4
	{
		min-height: 21px;
		width: 90.91%;
		margin-left: 4.32%;
	}

	#u510491
	{
		background-image: url("../images/balao-u510491-fr2.jpg?crc=3778694999");
		width: 43.75%;
		left: 4.17%;
	}

	#u510558
	{
		background-image: url("../images/chihuahua-u510558-fr2.png?crc=119172445");
		width: 43.75%;
		left: 52.09%;
	}

	#pu510567
	{
		z-index: 6;
		margin-top: 19px;
		width: 100%;
	}

	#u510567
	{
		width: 43.75%;
		left: 4.17%;
	}

	#u510594
	{
		width: 43.75%;
		left: 52.09%;
	}

	#pu510576
	{
		z-index: 7;
		margin-top: 20px;
		width: 100%;
	}

	#u510576
	{
		width: 43.75%;
		left: 4.17%;
	}

	#u510585
	{
		width: 43.75%;
		left: 52.09%;
	}

	#u510491:hover,#u510558:hover,#u510567:hover,#u510594:hover,#u510576:hover,#u510585:hover
	{
		width: 43.75%;
	}

	#buttonu518771
	{
		padding-bottom: 13px;
		width: 75%;
		margin-left: 11.88%;
	}

	#buttonu518771:hover
	{
		width: 75%;
		margin-left: 11.88%;
	}

	#buttonu518771.ButtonSelected
	{
		width: 75%;
		margin-left: 11.88%;
	}

	#u518772-4
	{
		min-height: 12px;
		margin-top: 14px;
	}

	#buttonu518771:hover #u518772-4
	{
		margin-top: 14px;
		min-height: 12px;
	}

	#buttonu518771.ButtonSelected #u518772-4
	{
		margin-top: 14px;
		min-height: 12px;
	}

	#u517471-4,#u517471-4-bw
	{
		min-height: 14px;
	}

	.css_verticalspacer .verticalspacer
	{
		height: calc(100vh - 1931px);
	}

	body
	{
		overflow-x: hidden;
		min-width: 320px;
	}
}

