.version.index /* version checker */
{
	color: #0000FF;
	background-color: #9A6E2D;
}

.js body
{
	visibility: hidden;
}

.js body.initialized
{
	visibility: visible;
}

@font-face
{
	font-family: '__Open Sans_5';
	src: url('../fonts/open-sans-v18-latin-700.eot');
	src: local('☺'), url('../fonts/open-sans-v18-latin-700.woff') format('woff'), url('../fonts/open-sans-v18-latin-700.svg') format('svg');
	font-weight: 700;
	font-style: normal;
}

@font-face
{
	font-family: '__Open Sans_5';
	src: url('../fonts/open-sans-v18-latin-italic.eot');
	src: local('☺'), url('../fonts/open-sans-v18-latin-italic.woff') format('woff'), url('../fonts/open-sans-v18-latin-italic.svg') format('svg');
	font-weight: 400;
	font-style: italic;
}

@font-face
{
	font-family: '__Open Sans_5';
	src: url('../fonts/open-sans-v18-latin-regular.eot');
	src: local('☺'), url('../fonts/open-sans-v18-latin-regular.woff') format('woff'), url('../fonts/open-sans-v18-latin-regular.svg') format('svg');
	font-weight: 400;
	font-style: normal;
}

#page
{
	margin-right: auto;
	border-color: #000000;
	border-width: 0px;
	background-image: none;
	z-index: 1;
	width: 100%;
	background-color: #F1F1F1;
	margin-left: auto;
}

#u516409
{
	left: -70px;
	margin-left: 50%;
	opacity: 1;
	filter: alpha(opacity=100);
	z-index: 9;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
	position: relative;
	width: 140px;
	height: 50px;
	background: transparent url("../images/uminimo.svg?crc=438880562") no-repeat center center;
	background-size: contain;
}

#u516409.MuseLinkActive
{
	left: -70px;
	border-radius: 0px 0px 10px 10px ;
	height: 50px;
	filter: alpha(opacity=100);
	min-height: 0px;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
	width: 140px;
	opacity: 1;
	margin: 0px 0px 0px 50%;
	background: #000000 url("../images/uminimo.svg?crc=438880562") no-repeat center center;
	background-size: contain;
}

.nosvg #u516409,.nosvg #u516409.MuseLinkActive
{
	left: -70px;
	background-image: url('../images/uminimo_poster_u520593.png?crc=170056273');
	margin-left: 50%;
}

#u519298
{
	left: -50px;
	margin-left: 50%;
	border-radius: 50%;
	margin-top: 50px;
	opacity: 1;
	filter: alpha(opacity=100);
	z-index: 65;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
	position: relative;
	width: 100px;
	height: 100px;
	background: #F1F1F1 url("../images/robles.jpg?crc=4120932972") no-repeat center center;
	background-size: cover;
}

#u519289-6
{
	text-align: center;
	color: #7F7F7F;
	z-index: 46;
	margin-top: 5px;
	position: relative;
	line-height: 1.8;
	font-weight: 400;
	background-color: transparent;
}

#u519289-2
{
	font-family: '__Open Sans_5';
	font-size: 20px;
}

#u519289
{
	color: #000000;
	font-weight: 700;
	font-family: '__Open Sans_5';
}

#u519289-4
{
	font-family: '__Open Sans_5';
	font-size: 13px;
	font-style: italic;
}

#u516572
{
	background-color: #FFFFFF;
	position: relative;
	border-radius: 10px;
	z-index: 10;
}

#pu518807
{
	z-index: 61;
	margin-left: 20px;
}

#u518807
{
	opacity: 1;
	margin-right: -10000px;
	filter: alpha(opacity=100);
	z-index: 61;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
	position: relative;
	width: 26px;
	height: 26px;
	background: transparent url("../images/marca.svg?crc=3936182916") no-repeat center center;
	background-size: cover;
}

.nosvg #u518807
{
	background-image: url('../images/marca_poster_u520748.png?crc=461284040');
}

#u517034-4
{
	margin-right: -10000px;
	left: 38px;
	position: relative;
	text-align: left;
	font-family: '__Open Sans_5';
	font-size: 13px;
	z-index: 30;
	line-height: 2;
	font-weight: 700;
	background-color: transparent;
}

#u516592-4
{
	color: #7F7F7F;
	position: relative;
	text-align: left;
	font-family: '__Open Sans_5';
	font-size: 13px;
	z-index: 26;
	line-height: 1.6;
	font-weight: 400;
	background-color: transparent;
}

#u516573
{
	background-color: #FFFFFF;
	position: relative;
	border-radius: 10px;
	padding-top: 20px;
	z-index: 11;
}

#pu518841
{
	z-index: 62;
}

#u518841
{
	opacity: 1;
	margin-right: -10000px;
	filter: alpha(opacity=100);
	z-index: 62;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
	position: relative;
	width: 26px;
	height: 26px;
	background: transparent url("../images/ilustracao.svg?crc=454464797") no-repeat center center;
	background-size: cover;
}

.nosvg #u518841
{
	background-image: url('../images/ilustracao_poster_u520551.png?crc=3955437968');
}

#u517048-4
{
	margin-right: -10000px;
	left: 38px;
	position: relative;
	text-align: left;
	font-family: '__Open Sans_5';
	font-size: 13px;
	z-index: 42;
	line-height: 2;
	font-weight: 700;
	background-color: transparent;
}

#u516586-4
{
	color: #7F7F7F;
	margin-top: 15px;
	position: relative;
	text-align: left;
	font-family: '__Open Sans_5';
	font-size: 13px;
	z-index: 14;
	line-height: 1.6;
	font-weight: 400;
	background-color: transparent;
}

#u516574
{
	background-color: #FFFFFF;
	position: relative;
	border-radius: 10px;
	padding-top: 20px;
	z-index: 12;
}

#pu518825
{
	z-index: 64;
}

#u518825
{
	opacity: 1;
	margin-right: -10000px;
	filter: alpha(opacity=100);
	z-index: 64;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
	position: relative;
	width: 26px;
	height: 26px;
	background: transparent url("../images/marketing.svg?crc=3860322477") no-repeat center center;
	background-size: cover;
}

.nosvg #u518825
{
	background-image: url('../images/marketing_poster_u520792.png?crc=4135318814');
}

#u517057-4
{
	margin-right: -10000px;
	left: 38px;
	position: relative;
	text-align: left;
	font-family: '__Open Sans_5';
	font-size: 13px;
	z-index: 34;
	line-height: 2;
	font-weight: 700;
	background-color: transparent;
}

#u516590-4
{
	color: #7F7F7F;
	position: relative;
	text-align: left;
	font-family: '__Open Sans_5';
	font-size: 13px;
	z-index: 22;
	line-height: 1.6;
	font-weight: 400;
	background-color: transparent;
}

#u516576
{
	background-color: #FFFFFF;
	position: relative;
	border-radius: 10px;
	padding-top: 20px;
	z-index: 13;
}

#pu518850
{
	z-index: 63;
}

#u518850
{
	opacity: 1;
	margin-right: -10000px;
	filter: alpha(opacity=100);
	z-index: 63;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
	position: relative;
	width: 26px;
	height: 26px;
	background: transparent url("../images/3d.svg?crc=132433951") no-repeat center center;
	background-size: cover;
}

.nosvg #u518850
{
	background-image: url('../images/3d_poster_u520785.png?crc=322509703');
}

#u517066-4
{
	margin-right: -10000px;
	left: 38px;
	position: relative;
	text-align: left;
	font-family: '__Open Sans_5';
	font-size: 13px;
	z-index: 38;
	line-height: 2;
	font-weight: 700;
	background-color: transparent;
}

#u516589-4
{
	color: #7F7F7F;
	position: relative;
	text-align: left;
	font-family: '__Open Sans_5';
	font-size: 13px;
	z-index: 18;
	line-height: 1.6;
	font-weight: 400;
	background-color: transparent;
}

#pu510491
{
	width: 100%;
	margin-top: 50px;
	z-index: 3;
}

#u510491
{
	margin-right: -10000px;
	position: relative;
	border-radius: 10px;
	-webkit-transition-timing-function: ease;
	z-index: 3;
	-webkit-transition-delay: 0s;
	transition-delay: 0s;
	background-position: center center;
	background-repeat: no-repeat;
	-webkit-transition-duration: 0.3s;
	transition-duration: 0.3s;
	filter: alpha(opacity=100);
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
	transition-timing-function: ease;
	background-color: transparent;
	opacity: 1;
	background-size: cover;
}

#u510491:hover
{
	min-height: 0px;
	border-radius: 500px;
	background-position: center center;
	background-repeat: no-repeat;
	margin: 0px -10000px 0px 0%;
	background-size: cover;
}

#u510558
{
	margin-right: -10000px;
	position: relative;
	border-radius: 10px;
	-webkit-transition-timing-function: ease;
	z-index: 4;
	-webkit-transition-delay: 0s;
	transition-delay: 0s;
	background-position: center top;
	background-repeat: no-repeat;
	-webkit-transition-duration: 0.3s;
	transition-duration: 0.3s;
	filter: alpha(opacity=100);
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
	transition-timing-function: ease;
	background-color: #FFFFFF;
	opacity: 1;
	background-size: cover;
}

#u510558:hover
{
	min-height: 0px;
	border-radius: 500px;
	background-position: center top;
	background-repeat: no-repeat;
	margin: 0px -10000px 0px 0%;
	background-size: cover;
}

#u510567
{
	margin-right: -10000px;
	border-radius: 10px;
	-webkit-transition-timing-function: ease;
	z-index: 5;
	-webkit-transition-delay: 0s;
	transition-delay: 0s;
	position: relative;
	-webkit-transition-duration: 0.3s;
	transition-duration: 0.3s;
	background-image: url("../images/blank.gif?crc=4208392903");
	transition-timing-function: ease;
	background-color: #FFFFFF;
}

#u510594
{
	margin-right: -10000px;
	border-radius: 10px;
	-webkit-transition-timing-function: ease;
	z-index: 8;
	-webkit-transition-delay: 0s;
	transition-delay: 0s;
	position: relative;
	-webkit-transition-duration: 0.3s;
	transition-duration: 0.3s;
	background-image: url("../images/blank.gif?crc=4208392903");
	transition-timing-function: ease;
	background-color: #FFFFFF;
}

#u510576
{
	margin-right: -10000px;
	border-radius: 10px;
	-webkit-transition-timing-function: ease;
	z-index: 6;
	-webkit-transition-delay: 0s;
	transition-delay: 0s;
	position: relative;
	-webkit-transition-duration: 0.3s;
	transition-duration: 0.3s;
	background-image: url("../images/blank.gif?crc=4208392903");
	transition-timing-function: ease;
	background-color: #FFFFFF;
}

#u510585
{
	margin-right: -10000px;
	border-radius: 10px;
	-webkit-transition-timing-function: ease;
	z-index: 7;
	-webkit-transition-delay: 0s;
	transition-delay: 0s;
	position: relative;
	-webkit-transition-duration: 0.3s;
	transition-duration: 0.3s;
	background-image: url("../images/blank.gif?crc=4208392903");
	transition-timing-function: ease;
	background-color: #FFFFFF;
}

#u510567:hover,#u510594:hover,#u510576:hover,#u510585:hover
{
	border-radius: 500px;
	min-height: 0px;
	margin: 0px -10000px 0px 0%;
}

#u510491 .fluid_height_spacer,#u510558 .fluid_height_spacer,#u510567 .fluid_height_spacer,#u510594 .fluid_height_spacer,#u510576 .fluid_height_spacer,#u510585 .fluid_height_spacer
{
	padding-bottom: 100%;
}

#buttonu518771
{
	border-color: #000000;
	border-style: solid;
	margin-top: 47px;
	z-index: 56;
	border-width: 3px;
	border-radius: 10px;
	background-color: #000000;
	position: relative;
}

#buttonu518771:hover
{
	margin-right: 0px;
	background-color: transparent;
	margin-top: 47px;
	margin-bottom: 0px;
	min-height: 0px;
}

#buttonu518771.ButtonSelected
{
	margin-right: 0px;
	background-color: #000000;
	margin-top: 47px;
	margin-bottom: 0px;
	min-height: 0px;
}

#u518772-4
{
	margin-right: -10000px;
	color: #F1F1F1;
	width: 100%;
	position: relative;
	text-align: center;
	font-family: '__Open Sans_5';
	font-size: 13px;
	z-index: 57;
	line-height: 1.8;
	font-weight: 700;
	letter-spacing: 1px;
	background-color: transparent;
}

#buttonu518771:hover #u518772-4
{
	margin-right: -10000px;
	padding-bottom: 0px;
	margin-left: 0%;
	width: 100%;
	margin-bottom: 0px;
	padding-top: 0px;
}

#buttonu518771.ButtonSelected #u518772-4
{
	margin-right: -10000px;
	padding-bottom: 0px;
	margin-left: 0%;
	width: 100%;
	margin-bottom: 0px;
	padding-top: 0px;
}

#buttonu518771:hover #u518772-4 p
{
	color: #000000;
	visibility: inherit;
}

#buttonu518771.ButtonSelected #u518772-4 p
{
	color: #F1F1F1;
	visibility: inherit;
}

#u517471-4
{
	text-align: center;
	color: #7F7F7F;
	z-index: 52;
	line-height: 1.6;
	font-weight: 400;
	background-color: transparent;
	font-family: '__Open Sans_5';
	font-size: 13px;
}

#u517471-4-bw
{
	z-index: 52;
	margin-top: 17px;
}

#u509890
{
	height: 20px;
	z-index: 2;
}

.ie #u509890
{
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=1)";
	background-color: #FFFFFF;
	filter: alpha(opacity=1);
	opacity: 0.01;
}

#u509890-bw
{
	z-index: 2;
	height: 20px;
}

.html
{
	background-color: #FFFFFF;
}

body
{
	position: relative;
}

@media (min-width: 861px), print
{
	#muse_css_mq
	{
		background-color: #FFFFFF;
	}

	#bp_infinity.active
	{
		display: block;
	}

	#page
	{
		min-height: 500px;
		max-width: 1210px;
	}

	#u519289-6
	{
		min-height: 53px;
		width: 96.7%;
		margin-left: 1.66%;
	}

	#pu516572
	{
		z-index: 10;
		margin-top: 50px;
		width: 100%;
	}

	#u516572
	{
		padding-top: 20px;
		padding-bottom: 20.446423982929105px;
		margin-right: -10000px;
		width: 23.06%;
		left: 1.66%;
	}

	#pu518807
	{
		width: 84.95%;
	}

	#u517034-4
	{
		min-height: 20px;
		width: 83.97%;
	}

	#u516592-4
	{
		min-height: 35px;
		margin-top: 14px;
		width: 84.95%;
		margin-left: 7.17%;
	}

	#u516573
	{
		padding-bottom: 20px;
		margin-right: -10000px;
		width: 22.9%;
		left: 26.37%;
	}

	#u516586-4
	{
		min-height: 34px;
		width: 85.56%;
		margin-left: 7.23%;
	}

	#u516574
	{
		padding-bottom: 20.353455232931424px;
		margin-right: -10000px;
		width: 22.9%;
		left: 50.91%;
	}

	#u516576
	{
		padding-bottom: 20.35345523293131px;
		margin-right: -10000px;
		width: 22.9%;
		left: 75.46%;
	}

	#pu518841,#pu518825,#pu518850
	{
		margin-left: 20px;
		width: 85.56%;
	}

	#u517048-4,#u517057-4,#u517066-4
	{
		min-height: 26px;
		width: 83.97%;
	}

	#u516590-4,#u516589-4
	{
		min-height: 42px;
		margin-top: 14px;
		width: 85.56%;
		margin-left: 7.23%;
	}

	#u510491
	{
		background-image: url("../images/balao-site.jpg?crc=4034364887");
		width: 31.16%;
		left: 1.66%;
	}

	#u510558
	{
		background-image: url("../images/chihuahua.png?crc=456709896");
		width: 31.16%;
		left: 34.47%;
	}

	#u510567
	{
		width: 31.16%;
		left: 67.2%;
	}

	#pu510594
	{
		z-index: 8;
		margin-top: 20px;
		width: 100%;
	}

	#u510594
	{
		width: 31.16%;
		left: 1.66%;
	}

	#u510576
	{
		width: 31.16%;
		left: 34.47%;
	}

	#u510585
	{
		width: 31.16%;
		left: 67.2%;
	}

	#u510491:hover,#u510558:hover,#u510567:hover,#u510594:hover,#u510576:hover,#u510585:hover
	{
		width: 31.16%;
	}

	#buttonu518771
	{
		padding-bottom: 14px;
		width: 29.76%;
		margin-left: 34.88%;
	}

	#buttonu518771:hover
	{
		width: 29.76%;
		margin-left: 34.88%;
	}

	#buttonu518771.ButtonSelected
	{
		width: 29.76%;
		margin-left: 34.88%;
	}

	#u518772-4
	{
		min-height: 12px;
		margin-top: 13px;
	}

	#buttonu518771:hover #u518772-4
	{
		margin-top: 13px;
		min-height: 12px;
	}

	#buttonu518771.ButtonSelected #u518772-4
	{
		margin-top: 13px;
		min-height: 12px;
	}

	#u517471-4,#u517471-4-bw
	{
		min-height: 9px;
	}

	.css_verticalspacer .verticalspacer
	{
		height: calc(100vh - 1420px);
	}
}

@media (min-width: 481px) and (max-width: 860px)
{
	#muse_css_mq
	{
		background-color: #00035c;
	}

	#bp_860.active
	{
		display: block;
	}

	#page
	{
		min-height: 500px;
		max-width: 860px;
	}

	#u519289-6
	{
		min-height: 48px;
		width: 95.35%;
		margin-left: 2.33%;
	}

	#pu516572
	{
		z-index: 10;
		margin-top: 50px;
		width: 100%;
	}

	#u516572
	{
		padding-top: 20px;
		padding-bottom: 20.26171875000091px;
		margin-right: -10000px;
		width: 41.87%;
		left: 6.98%;
	}

	#pu518807
	{
		width: 88.89%;
	}

	#u517034-4
	{
		min-height: 20px;
		width: 88.13%;
	}

	#u516592-4
	{
		min-height: 37px;
		margin-top: 15px;
		width: 88.89%;
		margin-left: 5.56%;
	}

	#u516573
	{
		padding-bottom: 20.200000000002774px;
		margin-right: -10000px;
		width: 41.87%;
		left: 51.17%;
	}

	#u516586-4
	{
		min-height: 37px;
		width: 88.89%;
		margin-left: 5.56%;
	}

	#pu516574
	{
		z-index: 12;
		margin-top: 20px;
		width: 100%;
	}

	#u516574
	{
		padding-bottom: 20.160937500000216px;
		margin-right: -10000px;
		width: 41.87%;
		left: 6.98%;
	}

	#u517048-4,#u517057-4
	{
		min-height: 21px;
		width: 88.13%;
	}

	#u516576
	{
		padding-bottom: 20.128906250000398px;
		margin-right: -10000px;
		width: 41.87%;
		left: 51.17%;
	}

	#pu518841,#pu518825,#pu518850
	{
		margin-left: 20px;
		width: 88.89%;
	}

	#u517066-4
	{
		min-height: 17px;
		width: 88.13%;
	}

	#u516590-4,#u516589-4
	{
		min-height: 32px;
		margin-top: 15px;
		width: 88.89%;
		margin-left: 5.56%;
	}

	#u510491
	{
		background-image: url("../images/balao-u510491-fr.jpg?crc=4138410669");
		width: 30.24%;
		left: 2.33%;
	}

	#u510558
	{
		background-image: url("../images/chihuahua-u510558-fr.png?crc=4205463562");
		width: 30.24%;
		left: 34.89%;
	}

	#u510567
	{
		width: 30.24%;
		left: 67.45%;
	}

	#pu510594
	{
		z-index: 8;
		margin-top: 20px;
		width: 100%;
	}

	#u510594
	{
		width: 30.24%;
		left: 2.33%;
	}

	#u510576
	{
		width: 30.24%;
		left: 34.89%;
	}

	#u510585
	{
		width: 30.24%;
		left: 67.45%;
	}

	#u510491:hover,#u510558:hover,#u510567:hover,#u510594:hover,#u510576:hover,#u510585:hover
	{
		width: 30.24%;
	}

	#buttonu518771
	{
		padding-bottom: 15px;
		width: 41.87%;
		margin-left: 28.73%;
	}

	#buttonu518771:hover
	{
		width: 41.87%;
		margin-left: 28.73%;
	}

	#buttonu518771.ButtonSelected
	{
		width: 41.87%;
		margin-left: 28.73%;
	}

	#u518772-4
	{
		min-height: 23px;
		margin-top: 12px;
	}

	#buttonu518771:hover #u518772-4
	{
		margin-top: 12px;
		min-height: 23px;
	}

	#buttonu518771.ButtonSelected #u518772-4
	{
		margin-top: 12px;
		min-height: 23px;
	}

	#u517471-4,#u517471-4-bw
	{
		min-height: 7px;
	}

	#u509890-bw
	{
		margin-top: 1px;
	}

	.css_verticalspacer .verticalspacer
	{
		height: calc(100vh - 1331px);
	}

	body
	{
		overflow-x: hidden;
	}
}

@media (max-width: 480px)
{
	/*

*/

	#muse_css_mq
	{
		background-color: #0001e0;
	}

	#bp_480.active
	{
		display: block;
	}

	#page
	{
		min-height: 499.7500000000166px;
		padding-bottom: 0px;
		max-width: 480px;
	}

	#u519289-6
	{
		min-height: 43px;
		width: 91.67%;
		margin-left: 4.17%;
	}

	#u516572
	{
		padding-top: 19px;
		padding-bottom: 20px;
		margin-top: 50px;
		width: 75.42%;
		margin-left: 12.3%;
	}

	#pu518807
	{
		width: 88.96%;
	}

	#u517034-4
	{
		min-height: 21px;
		width: 88.2%;
	}

	#u516592-4
	{
		min-height: 34px;
		margin-top: 15px;
		width: 88.68%;
		margin-left: 5.81%;
	}

	#u516573
	{
		padding-bottom: 20.36562500000076px;
		margin-top: 20px;
		width: 75.42%;
		margin-left: 12.3%;
	}

	#u516586-4
	{
		min-height: 21px;
		width: 88.68%;
		margin-left: 5.53%;
	}

	#u516574
	{
		padding-bottom: 20px;
		margin-top: 20px;
		width: 75.42%;
		margin-left: 12.3%;
	}

	#u517048-4,#u517057-4
	{
		min-height: 13px;
		width: 88.2%;
	}

	#u516590-4
	{
		min-height: 15px;
		margin-top: 15px;
		width: 88.68%;
		margin-left: 5.25%;
	}

	#u516576
	{
		padding-bottom: 20.24765625000009px;
		margin-top: 20px;
		width: 75.42%;
		margin-left: 12.3%;
	}

	#pu518841,#pu518825,#pu518850
	{
		margin-left: 19px;
		width: 88.96%;
	}

	#u517066-4
	{
		min-height: 22px;
		width: 88.2%;
	}

	#u516589-4
	{
		min-height: 21px;
		margin-top: 14px;
		width: 88.68%;
		margin-left: 5.25%;
	}

	#u510491
	{
		background-image: url("../images/balao-u510491-fr2.jpg?crc=3778694999");
		width: 43.75%;
		left: 4.17%;
	}

	#u510558
	{
		background-image: url("../images/chihuahua-u510558-fr2.png?crc=119172445");
		width: 43.75%;
		left: 52.09%;
	}

	#pu510567
	{
		z-index: 5;
		margin-top: 19px;
		width: 100%;
	}

	#u510567
	{
		width: 43.75%;
		left: 4.17%;
	}

	#u510594
	{
		width: 43.75%;
		left: 52.09%;
	}

	#pu510576
	{
		z-index: 6;
		margin-top: 20px;
		width: 100%;
	}

	#u510576
	{
		width: 43.75%;
		left: 4.17%;
	}

	#u510585
	{
		width: 43.75%;
		left: 52.09%;
	}

	#u510491:hover,#u510558:hover,#u510567:hover,#u510594:hover,#u510576:hover,#u510585:hover
	{
		width: 43.75%;
	}

	#buttonu518771
	{
		padding-bottom: 13px;
		width: 75%;
		margin-left: 11.88%;
	}

	#buttonu518771:hover
	{
		width: 75%;
		margin-left: 11.88%;
	}

	#buttonu518771.ButtonSelected
	{
		width: 75%;
		margin-left: 11.88%;
	}

	#u518772-4
	{
		min-height: 12px;
		margin-top: 14px;
	}

	#buttonu518771:hover #u518772-4
	{
		margin-top: 14px;
		min-height: 12px;
	}

	#buttonu518771.ButtonSelected #u518772-4
	{
		margin-top: 14px;
		min-height: 12px;
	}

	#u517471-4,#u517471-4-bw
	{
		min-height: 14px;
	}

	#u509890-bw
	{
		margin-top: 1px;
	}

	.css_verticalspacer .verticalspacer
	{
		height: calc(100vh - 1745px);
	}

	body
	{
		overflow-x: hidden;
		min-width: 320px;
	}
}

