/*

*/

.version.info /* version checker */
{
	color: #000001;
	background-color: #2AD0B9;
}

#page
{
	z-index: 1;
	min-height: 667px;
	background-image: none;
	border-width: 0px;
	border-color: #000000;
	background-color: #FFFFFF;
	padding-top: 20px;
	width: 100%;
	max-width: 480px;
	margin-left: auto;
	margin-right: auto;
}

#pu535483
{
	z-index: 142;
	width: 83.34%;
}

#u535483
{
	z-index: 142;
	width: 52px;
	height: 52px;
	opacity: 1;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
	filter: alpha(opacity=100);
	border-radius: 50%;
	position: relative;
	margin-right: -10000px;
	left: 0px;
	margin-left: 40px;
	background: transparent url("../images/robles.svg?crc=454361495") no-repeat center center;
	background-size: cover;
}

.nosvg #u535483
{
	background-image: url('../images/robles_poster_u533891.png?crc=4216839046');
	left: 0px;
	margin-left: 40px;
}

#u535475-6
{
	z-index: 136;
	min-height: 52px;
	border-width: 0px;
	border-color: transparent;
	background-color: transparent;
	font-size: 13px;
	text-align: justify;
	color: #000000;
	line-height: 2;
	position: relative;
	margin-right: -10000px;
	width: 84.5%;
	left: 15.5%;
	margin-left: 10.01%;
}

#u535475-4
{
	font-family: '__Open Sans_5';
	font-weight: 400;
	font-style: italic;
}

#u535484-12
{
	z-index: 2;
	min-height: 52px;
	border-width: 0px;
	border-color: transparent;
	background-color: transparent;
	color: #000000;
	line-height: 2;
	font-size: 13px;
	text-align: justify;
	font-family: '__Open Sans_5';
	font-weight: 400;
	margin-top: 26px;
	position: relative;
	width: 83.34%;
	margin-left: 8.34%;
}

#u535475-2,#u535484-2,#u535484-4,#u535484-6,#u535484-8
{
	font-family: '__Open Sans_5';
	font-weight: 700;
}

#u534414
{
	z-index: 19;
	background-color: transparent;
	border-radius: 10px;
	margin-top: 39px;
	position: relative;
	width: 83.34%;
	margin-left: 4.38%;
}

#u534413-4
{
	z-index: 20;
	min-height: 13px;
	background-color: transparent;
	line-height: 2;
	font-size: 13px;
	text-align: left;
	font-family: '__Open Sans_5';
	font-weight: 700;
	position: relative;
	margin-right: -10000px;
	margin-top: 20px;
	left: 59px;
	width: 80.25%;
}

#u534415
{
	z-index: 24;
	width: 26px;
	height: 26px;
	opacity: 1;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
	filter: alpha(opacity=100);
	position: relative;
	margin-right: -10000px;
	margin-top: 20px;
	left: 21px;
	background: transparent url("../images/marca.svg?crc=4160258697") no-repeat center center;
	background-size: cover;
}

.nosvg #u534415
{
	background-image: url('../images/marca_poster_u533624.png?crc=3998542142');
}

#accordionu534416
{
	z-index: 25;
	border-width: 0px;
	border-color: transparent;
	background-color: transparent;
	border-radius: 10px;
	position: relative;
	margin-right: -10000px;
	left: -1px;
	width: 110.01%;
}

#u534417
{
	z-index: 26;
	background-color: transparent;
	position: relative;
	width: 100%;
}

#u534418-3
{
	z-index: 27;
	min-height: 66px;
	border-width: 0px;
	border-color: transparent;
	opacity: 1;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
	filter: alpha(opacity=100);
	border-radius: 10px;
	padding-top: 10px;
	padding-bottom: 10px;
	position: relative;
	width: 100%;
	background: transparent url("../images/descer.svg?crc=3819950353") no-repeat right center;
	background-size: 60px 60px;
}

#u534418-3:hover
{
	opacity: 1;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
	filter: alpha(opacity=100);
	padding-top: 10px;
	padding-bottom: 10px;
	min-height: 66px;
	width: 100%;
	margin: 0px 0px 0px 0%;
	background: transparent url("../images/descer1.svg?crc=4211491039") no-repeat right center;
	background-size: 60px 60px;
}

#u534418-3:active
{
	opacity: 1;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
	filter: alpha(opacity=100);
	padding-top: 10px;
	padding-bottom: 10px;
	min-height: 66px;
	width: 100%;
	margin: 0px 0px 0px 0%;
	background: transparent url("../images/subir1.svg?crc=4170106080") no-repeat right center;
	background-size: 60px 60px;
}

#u534418-3.AccordionPanelTabOpen
{
	opacity: 1;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
	filter: alpha(opacity=100);
	border-radius: 10px;
	padding-top: 10px;
	padding-bottom: 10px;
	min-height: 66px;
	width: 100%;
	margin: 0px 0px 0px 0%;
	background: transparent url("../images/subir1.svg?crc=4170106080") no-repeat right center;
	background-size: 60px 60px;
}

#u534418-3:hover p
{
	font-weight: bold;
}

#u534418-3:active p
{
	font-weight: bold;
}

#u534419
{
	z-index: 30;
	border-color: #FFFFFF;
	background-color: transparent;
	border-radius: 0px 0px 10px 10px ;
	position: relative;
	width: 100%;
}

#u534420-14
{
	z-index: 31;
	min-height: 52px;
	border-width: 0px;
	border-color: transparent;
	background-color: transparent;
	color: #000000;
	font-size: 13px;
	line-height: 1.6;
	font-weight: 400;
	position: relative;
	margin-right: -10000px;
	width: 79.55%;
	left: 4.78%;
}

.AccordionPanelTab /* accordion */
{
	cursor: pointer;
}

#u534423
{
	z-index: 45;
	background-color: transparent;
	border-radius: 10px;
	position: relative;
	width: 83.34%;
	margin-left: 4.38%;
}

#u534422-4
{
	z-index: 46;
	min-height: 13px;
	background-color: transparent;
	line-height: 2;
	font-size: 13px;
	text-align: left;
	font-family: '__Open Sans_5';
	font-weight: 700;
	position: relative;
	margin-right: -10000px;
	margin-top: 20px;
	left: 59px;
	width: 80.25%;
}

#u534424
{
	z-index: 50;
	width: 26px;
	height: 26px;
	opacity: 1;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
	filter: alpha(opacity=100);
	position: relative;
	margin-right: -10000px;
	margin-top: 20px;
	left: 21px;
	background: transparent url("../images/ilustra%c3%a7%c3%a3o.svg?crc=3915495784") no-repeat center center;
	background-size: cover;
}

.nosvg #u534424
{
	background-image: url('../images/ilustra%c3%a7%c3%a3o_poster_u533638.png?crc=251387317');
}

#accordionu534425
{
	z-index: 51;
	border-width: 0px;
	border-color: transparent;
	background-color: transparent;
	border-radius: 10px;
	position: relative;
	margin-right: -10000px;
	left: -1px;
	width: 110.01%;
}

#u534426
{
	z-index: 52;
	background-color: transparent;
	position: relative;
	width: 100%;
}

#u534427-3
{
	z-index: 53;
	min-height: 66px;
	border-width: 0px;
	border-color: transparent;
	opacity: 1;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
	filter: alpha(opacity=100);
	border-radius: 10px;
	padding-top: 10px;
	padding-bottom: 10px;
	position: relative;
	width: 100%;
	background: transparent url("../images/descer.svg?crc=3819950353") no-repeat right center;
	background-size: 60px 60px;
}

#u534427-3:hover
{
	opacity: 1;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
	filter: alpha(opacity=100);
	padding-top: 10px;
	padding-bottom: 10px;
	min-height: 66px;
	width: 100%;
	margin: 0px 0px 0px 0%;
	background: transparent url("../images/descer1.svg?crc=4211491039") no-repeat right center;
	background-size: 60px 60px;
}

#u534427-3:active
{
	opacity: 1;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
	filter: alpha(opacity=100);
	padding-top: 10px;
	padding-bottom: 10px;
	min-height: 66px;
	width: 100%;
	margin: 0px 0px 0px 0%;
	background: transparent url("../images/subir1.svg?crc=4170106080") no-repeat right center;
	background-size: 60px 60px;
}

#u534427-3.AccordionPanelTabOpen
{
	opacity: 1;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
	filter: alpha(opacity=100);
	border-radius: 10px;
	padding-top: 10px;
	padding-bottom: 10px;
	min-height: 66px;
	width: 100%;
	margin: 0px 0px 0px 0%;
	background: transparent url("../images/subir1.svg?crc=4170106080") no-repeat right center;
	background-size: 60px 60px;
}

#u534427-3:hover p
{
	font-weight: bold;
}

#u534427-3:active p
{
	font-weight: bold;
}

#u534428
{
	z-index: 56;
	border-color: #FFFFFF;
	background-color: transparent;
	border-radius: 0px 0px 10px 10px ;
	position: relative;
	width: 100%;
}

#u534429-20
{
	z-index: 57;
	min-height: 52px;
	border-width: 0px;
	border-color: transparent;
	background-color: transparent;
	color: #000000;
	font-size: 13px;
	line-height: 1.6;
	font-weight: 400;
	position: relative;
	margin-right: -10000px;
	width: 79.55%;
	left: 4.78%;
}

#u534431
{
	z-index: 77;
	background-color: transparent;
	border-radius: 10px;
	position: relative;
	width: 83.34%;
	margin-left: 4.38%;
}

#u534438-4
{
	z-index: 78;
	min-height: 13px;
	background-color: transparent;
	line-height: 2;
	font-size: 13px;
	text-align: left;
	font-family: '__Open Sans_5';
	font-weight: 700;
	position: relative;
	margin-right: -10000px;
	margin-top: 20px;
	left: 59px;
	width: 80.25%;
}

#u534437
{
	z-index: 82;
	width: 26px;
	height: 26px;
	opacity: 1;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
	filter: alpha(opacity=100);
	position: relative;
	margin-right: -10000px;
	margin-top: 20px;
	left: 21px;
	background: transparent url("../images/marketing.svg?crc=444175459") no-repeat center center;
	background-size: cover;
}

.nosvg #u534437
{
	background-image: url('../images/marketing_poster_u533689.png?crc=4218389787');
}

#accordionu534432
{
	z-index: 83;
	border-width: 0px;
	border-color: transparent;
	background-color: transparent;
	border-radius: 10px;
	position: relative;
	margin-right: -10000px;
	left: -1px;
	width: 110.01%;
}

#u534433
{
	z-index: 84;
	background-color: transparent;
	position: relative;
	width: 100%;
}

#u534436-3
{
	z-index: 85;
	min-height: 66px;
	border-width: 0px;
	border-color: transparent;
	opacity: 1;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
	filter: alpha(opacity=100);
	border-radius: 10px;
	padding-top: 10px;
	padding-bottom: 10px;
	position: relative;
	width: 100%;
	background: transparent url("../images/descer.svg?crc=3819950353") no-repeat right center;
	background-size: 60px 60px;
}

#u534436-3:hover
{
	opacity: 1;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
	filter: alpha(opacity=100);
	padding-top: 10px;
	padding-bottom: 10px;
	min-height: 66px;
	width: 100%;
	margin: 0px 0px 0px 0%;
	background: transparent url("../images/descer1.svg?crc=4211491039") no-repeat right center;
	background-size: 60px 60px;
}

#u534436-3:active
{
	opacity: 1;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
	filter: alpha(opacity=100);
	padding-top: 10px;
	padding-bottom: 10px;
	min-height: 66px;
	width: 100%;
	margin: 0px 0px 0px 0%;
	background: transparent url("../images/subir1.svg?crc=4170106080") no-repeat right center;
	background-size: 60px 60px;
}

#u534436-3.AccordionPanelTabOpen
{
	opacity: 1;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
	filter: alpha(opacity=100);
	border-radius: 10px;
	padding-top: 10px;
	padding-bottom: 10px;
	min-height: 66px;
	width: 100%;
	margin: 0px 0px 0px 0%;
	background: transparent url("../images/subir1.svg?crc=4170106080") no-repeat right center;
	background-size: 60px 60px;
}

#u534436-3:hover p
{
	font-weight: bold;
}

#u534436-3:active p
{
	font-weight: bold;
}

#u534434
{
	z-index: 88;
	border-color: #FFFFFF;
	background-color: transparent;
	border-radius: 0px 0px 10px 10px ;
	position: relative;
	width: 100%;
}

#u534435-22
{
	z-index: 89;
	min-height: 52px;
	border-width: 0px;
	border-color: transparent;
	background-color: transparent;
	color: #000000;
	font-size: 13px;
	line-height: 1.6;
	font-weight: 400;
	position: relative;
	margin-right: -10000px;
	width: 79.55%;
	left: 4.78%;
}

#u534440
{
	z-index: 111;
	background-color: transparent;
	border-radius: 10px;
	position: relative;
	width: 83.34%;
	margin-left: 4.38%;
}

#u534441-4
{
	z-index: 112;
	min-height: 13px;
	background-color: transparent;
	line-height: 2;
	font-size: 13px;
	text-align: left;
	font-family: '__Open Sans_5';
	font-weight: 700;
	position: relative;
	margin-right: -10000px;
	margin-top: 20px;
	left: 59px;
	width: 80.25%;
}

#u534447
{
	z-index: 116;
	width: 26px;
	height: 26px;
	opacity: 1;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
	filter: alpha(opacity=100);
	position: relative;
	margin-right: -10000px;
	margin-top: 20px;
	left: 21px;
	background: transparent url("../images/mockup.svg?crc=4251249584") no-repeat center center;
	background-size: cover;
}

.nosvg #u534447
{
	background-image: url('../images/mockup_poster_u533733.png?crc=3971622574');
}

#accordionu534442
{
	z-index: 117;
	border-width: 0px;
	border-color: transparent;
	background-color: transparent;
	border-radius: 10px;
	position: relative;
	margin-right: -10000px;
	left: -1px;
	width: 110.01%;
}

#u534443
{
	z-index: 118;
	background-color: transparent;
	position: relative;
	width: 100%;
}

#u534444-3
{
	z-index: 119;
	min-height: 66px;
	border-width: 0px;
	border-color: transparent;
	opacity: 1;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
	filter: alpha(opacity=100);
	border-radius: 10px;
	padding-top: 10px;
	padding-bottom: 10px;
	position: relative;
	width: 100%;
	background: transparent url("../images/descer.svg?crc=3819950353") no-repeat right center;
	background-size: 60px 60px;
}

.nosvg #u534418-3,.nosvg #u534427-3,.nosvg #u534436-3,.nosvg #u534444-3
{
	background-image: url('../images/descer_poster_u532535.png?crc=4259330569');
}

#u534444-3:hover
{
	opacity: 1;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
	filter: alpha(opacity=100);
	padding-top: 10px;
	padding-bottom: 10px;
	min-height: 66px;
	width: 100%;
	margin: 0px 0px 0px 0%;
	background: transparent url("../images/descer1.svg?crc=4211491039") no-repeat right center;
	background-size: 60px 60px;
}

.nosvg #u534418-3:hover,.nosvg #u534427-3:hover,.nosvg #u534436-3:hover,.nosvg #u534444-3:hover
{
	background-image: url('../images/descer1_poster_u532543.png?crc=239693984');
}

#u534444-3:active
{
	opacity: 1;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
	filter: alpha(opacity=100);
	padding-top: 10px;
	padding-bottom: 10px;
	min-height: 66px;
	width: 100%;
	margin: 0px 0px 0px 0%;
	background: transparent url("../images/subir1.svg?crc=4170106080") no-repeat right center;
	background-size: 60px 60px;
}

#u534444-3.AccordionPanelTabOpen
{
	opacity: 1;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
	filter: alpha(opacity=100);
	border-radius: 10px;
	padding-top: 10px;
	padding-bottom: 10px;
	min-height: 66px;
	width: 100%;
	margin: 0px 0px 0px 0%;
	background: transparent url("../images/subir1.svg?crc=4170106080") no-repeat right center;
	background-size: 60px 60px;
}

.nosvg #u534418-3:active,.nosvg #u534418-3.AccordionPanelTabOpen,.nosvg #u534427-3:active,.nosvg #u534427-3.AccordionPanelTabOpen,.nosvg #u534436-3:active,.nosvg #u534436-3.AccordionPanelTabOpen,.nosvg #u534444-3:active,.nosvg #u534444-3.AccordionPanelTabOpen
{
	background-image: url('../images/subir1_poster_u533741.png?crc=4096501509');
}

#u534444-3:hover p
{
	font-weight: bold;
}

#u534444-3:active p
{
	font-weight: bold;
}

#u534418-3.AccordionPanelTabOpen p,#u534427-3.AccordionPanelTabOpen p,#u534436-3.AccordionPanelTabOpen p,#u534444-3.AccordionPanelTabOpen p
{
	font-size: 13px;
	font-weight: bold;
}

#u534418-2,#u534427-2,#u534436-2,#u534444-2
{
	color: #000000;
	line-height: 1;
	font-size: 13px;
	text-align: center;
	font-family: '__Open Sans_5';
	font-weight: 700;
	margin-left: 10px;
}

#u534445
{
	z-index: 122;
	border-color: #FFFFFF;
	background-color: transparent;
	border-radius: 0px 0px 10px 10px ;
	position: relative;
	width: 100%;
}

#u534446-12
{
	z-index: 123;
	min-height: 52px;
	border-width: 0px;
	border-color: transparent;
	background-color: transparent;
	color: #000000;
	font-size: 13px;
	line-height: 1.6;
	font-weight: 400;
	position: relative;
	margin-right: -10000px;
	width: 79.55%;
	left: 4.78%;
}

#u534420-5,#u534420-7,#u534420-9,#u534420-11,#u534429-5,#u534429-7,#u534429-9,#u534429-11,#u534429-13,#u534429-15,#u534429-17,#u534435-5,#u534435-7,#u534435-9,#u534435-11,#u534435-13,#u534435-15,#u534435-17,#u534435-19,#u534446-5,#u534446-7,#u534446-9
{
	font-family: '__Open Sans_5';
	font-style: italic;
}

#u534420-2,#u534420-3,#u534420-12,#u534429-2,#u534429-3,#u534429-18,#u534435-2,#u534435-3,#u534435-20,#u534446-2,#u534446-3,#u534446-10
{
	font-family: '__Open Sans_5';
}

#buttonu534410
{
	z-index: 14;
	border-style: solid;
	border-width: 3px;
	border-color: #000000;
	background-color: #000000;
	border-radius: 10px;
	padding-bottom: 13px;
	margin-top: 38px;
	position: relative;
	width: 75%;
	margin-left: 12.09%;
}

#buttonu534410:hover
{
	background-color: transparent;
	min-height: 0px;
	width: 75%;
	margin: 38px 0px 0px 12.083333333333334%;
}

#buttonu534410.ButtonSelected
{
	background-color: #000000;
	min-height: 0px;
	width: 75%;
	margin: 38px 0px 0px 12.083333333333334%;
}

#u534411-4
{
	z-index: 15;
	min-height: 12px;
	background-color: transparent;
	font-size: 13px;
	text-align: center;
	letter-spacing: 1px;
	color: #F1F1F1;
	line-height: 1.8;
	font-family: '__Open Sans_5';
	font-weight: 700;
	position: relative;
	margin-right: -10000px;
	margin-top: 14px;
	width: 100%;
}

#buttonu534410:hover #u534411-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 12px;
	width: 100%;
	margin: 14px -10000px 0px 0%;
}

#buttonu534410.ButtonSelected #u534411-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 12px;
	width: 100%;
	margin: 14px -10000px 0px 0%;
}

#buttonu534410:hover #u534411-4 p
{
	color: #000000;
	visibility: inherit;
}

#buttonu534410.ButtonSelected #u534411-4 p
{
	color: #F1F1F1;
	visibility: inherit;
}

#u535363
{
	z-index: 135;
	height: 40px;
	top: -3px;
	margin-bottom: -3px;
	position: relative;
	width: 8.34%;
	margin-left: 67.71%;
}

.ie #u535363
{
	background-color: #FFFFFF;
	opacity: 0.01;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=1)";
	filter: alpha(opacity=1);
}

.css_verticalspacer .verticalspacer
{
	height: calc(100vh - 687px);
}

#muse_css_mq,.html
{
	background-color: #FFFFFF;
}

body
{
	position: relative;
	min-width: 320px;
}

@font-face
{
	font-family: '__Open Sans_5';
	src: url('../fonts/open-sans-v18-latin-700.eot');
	src: local('☺'), url('../fonts/open-sans-v18-latin-700.woff') format('woff'), url('../fonts/open-sans-v18-latin-700.svg') format('svg');
	font-weight: 700;
	font-style: normal;
}

@font-face
{
	font-family: '__Open Sans_5';
	src: url('../fonts/open-sans-v18-latin-regular.eot');
	src: local('☺'), url('../fonts/open-sans-v18-latin-regular.woff') format('woff'), url('../fonts/open-sans-v18-latin-regular.svg') format('svg');
	font-weight: 400;
	font-style: normal;
}

@font-face
{
	font-family: '__Open Sans_5';
	src: url('../fonts/open-sans-v18-latin-italic.eot');
	src: local('☺'), url('../fonts/open-sans-v18-latin-italic.woff') format('woff'), url('../fonts/open-sans-v18-latin-italic.svg') format('svg');
	font-weight: 400;
	font-style: italic;
}

