.version.info /* version checker */
{
	color: #000002;
	background-color: #6910D7;
}

@font-face
{
	font-family: '__Open Sans_5';
	src: url('../fonts/open-sans-v18-latin-regular.eot');
	src: local('☺'), url('../fonts/open-sans-v18-latin-regular.woff') format('woff'), url('../fonts/open-sans-v18-latin-regular.svg') format('svg');
	font-weight: 400;
	font-style: normal;
}

@font-face
{
	font-family: '__Open Sans_5';
	src: url('../fonts/open-sans-v18-latin-700.eot');
	src: local('☺'), url('../fonts/open-sans-v18-latin-700.woff') format('woff'), url('../fonts/open-sans-v18-latin-700.svg') format('svg');
	font-weight: 700;
	font-style: normal;
}

@font-face
{
	font-family: '__Open Sans_5';
	src: url('../fonts/open-sans-v18-latin-italic.eot');
	src: local('☺'), url('../fonts/open-sans-v18-latin-italic.woff') format('woff'), url('../fonts/open-sans-v18-latin-italic.svg') format('svg');
	font-weight: 400;
	font-style: italic;
}

#page
{
	background-image: none;
	padding-top: 20px;
	border-color: #000000;
	margin-right: auto;
	margin-left: auto;
	width: 100%;
	background-color: #F1F1F1;
	z-index: 1;
	border-width: 0px;
}

#u534414
{
	border-radius: 10px;
	position: relative;
	background-color: transparent;
	z-index: 7;
}

#u534413-4
{
	font-size: 13px;
	font-family: '__Open Sans_5';
	line-height: 2;
	position: relative;
	text-align: left;
	font-weight: 700;
	background-color: transparent;
	z-index: 8;
	margin-right: -10000px;
	margin-top: 20px;
}

#u534415
{
	margin-top: 20px;
	opacity: 1;
	filter: alpha(opacity=100);
	margin-right: -10000px;
	position: relative;
	height: 26px;
	width: 26px;
	z-index: 12;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
	background: transparent url("../images/marca.svg?crc=4160258697") no-repeat center center;
	background-size: cover;
}

.nosvg #u534415
{
	background-image: url('../images/marca_poster_u533624.png?crc=3998542142');
}

#accordionu534416
{
	border-radius: 10px;
	border-width: 0px;
	position: relative;
	width: 100%;
	background-color: transparent;
	z-index: 13;
	margin-right: -10000px;
	border-color: transparent;
}

#u534417
{
	width: 100%;
	background-color: transparent;
	z-index: 14;
	position: relative;
}

#u534418-3
{
	border-radius: 10px;
	opacity: 1;
	padding-top: 10px;
	filter: alpha(opacity=100);
	padding-bottom: 10px;
	position: relative;
	border-color: transparent;
	min-height: 66px;
	width: 100%;
	z-index: 15;
	border-width: 0px;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
	background: transparent url("../images/descer.svg?crc=3819950353") no-repeat right center;
	background-size: 60px 60px;
}

#u534418-3:hover
{
	width: 100%;
	padding-top: 10px;
	opacity: 1;
	filter: alpha(opacity=100);
	padding-bottom: 10px;
	min-height: 66px;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
	margin: 0px 0px 0px 0%;
	background: transparent url("../images/descer1.svg?crc=4211491039") no-repeat right center;
	background-size: 60px 60px;
}

#u534418-3:active
{
	width: 100%;
	padding-top: 10px;
	opacity: 1;
	filter: alpha(opacity=100);
	padding-bottom: 10px;
	min-height: 66px;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
	margin: 0px 0px 0px 0%;
	background: transparent url("../images/subir1.svg?crc=4170106080") no-repeat right center;
	background-size: 60px 60px;
}

#u534418-3.AccordionPanelTabOpen
{
	width: 100%;
	border-radius: 10px;
	padding-top: 10px;
	opacity: 1;
	filter: alpha(opacity=100);
	padding-bottom: 10px;
	min-height: 66px;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
	margin: 0px 0px 0px 0%;
	background: transparent url("../images/subir1.svg?crc=4170106080") no-repeat right center;
	background-size: 60px 60px;
}

#u534418-3:hover p
{
	font-weight: bold;
}

#u534418-3:active p
{
	font-weight: bold;
}

#u534419
{
	border-radius: 0px 0px 10px 10px ;
	position: relative;
	width: 100%;
	background-color: transparent;
	z-index: 18;
	border-color: #FFFFFF;
}

#u534420-14
{
	color: #000000;
	font-family: '__Open Sans_5';
	line-height: 1.6;
	position: relative;
	font-size: 13px;
	z-index: 19;
	background-color: transparent;
	font-weight: 400;
	border-width: 0px;
	margin-right: -10000px;
	border-color: transparent;
}

.AccordionPanelTab
{
	cursor: pointer;
}

#u534423
{
	border-radius: 10px;
	position: relative;
	background-color: transparent;
	z-index: 33;
}

#u534422-4
{
	font-size: 13px;
	font-family: '__Open Sans_5';
	line-height: 2;
	position: relative;
	text-align: left;
	font-weight: 700;
	background-color: transparent;
	z-index: 34;
	margin-right: -10000px;
	margin-top: 20px;
}

#u534424
{
	margin-top: 20px;
	opacity: 1;
	filter: alpha(opacity=100);
	margin-right: -10000px;
	position: relative;
	height: 26px;
	width: 26px;
	z-index: 38;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
	background: transparent url("../images/ilustra%c3%a7%c3%a3o.svg?crc=3915495784") no-repeat center center;
	background-size: cover;
}

.nosvg #u534424
{
	background-image: url('../images/ilustra%c3%a7%c3%a3o_poster_u533638.png?crc=251387317');
}

#accordionu534425
{
	border-radius: 10px;
	border-width: 0px;
	position: relative;
	width: 100%;
	background-color: transparent;
	z-index: 39;
	margin-right: -10000px;
	border-color: transparent;
}

#u534426
{
	width: 100%;
	background-color: transparent;
	z-index: 40;
	position: relative;
}

#u534427-3
{
	border-radius: 10px;
	opacity: 1;
	padding-top: 10px;
	filter: alpha(opacity=100);
	padding-bottom: 10px;
	position: relative;
	border-color: transparent;
	min-height: 66px;
	width: 100%;
	z-index: 41;
	border-width: 0px;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
	background: transparent url("../images/descer.svg?crc=3819950353") no-repeat right center;
	background-size: 60px 60px;
}

#u534427-3:hover
{
	width: 100%;
	padding-top: 10px;
	opacity: 1;
	filter: alpha(opacity=100);
	padding-bottom: 10px;
	min-height: 66px;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
	margin: 0px 0px 0px 0%;
	background: transparent url("../images/descer1.svg?crc=4211491039") no-repeat right center;
	background-size: 60px 60px;
}

#u534427-3:active
{
	width: 100%;
	padding-top: 10px;
	opacity: 1;
	filter: alpha(opacity=100);
	padding-bottom: 10px;
	min-height: 66px;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
	margin: 0px 0px 0px 0%;
	background: transparent url("../images/subir1.svg?crc=4170106080") no-repeat right center;
	background-size: 60px 60px;
}

#u534427-3.AccordionPanelTabOpen
{
	width: 100%;
	border-radius: 10px;
	padding-top: 10px;
	opacity: 1;
	filter: alpha(opacity=100);
	padding-bottom: 10px;
	min-height: 66px;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
	margin: 0px 0px 0px 0%;
	background: transparent url("../images/subir1.svg?crc=4170106080") no-repeat right center;
	background-size: 60px 60px;
}

#u534427-3:hover p
{
	font-weight: bold;
}

#u534427-3:active p
{
	font-weight: bold;
}

#u534428
{
	border-radius: 0px 0px 10px 10px ;
	position: relative;
	width: 100%;
	background-color: transparent;
	z-index: 44;
	border-color: #FFFFFF;
}

#u534429-20
{
	color: #000000;
	font-family: '__Open Sans_5';
	line-height: 1.6;
	position: relative;
	font-size: 13px;
	z-index: 45;
	background-color: transparent;
	font-weight: 400;
	border-width: 0px;
	margin-right: -10000px;
	border-color: transparent;
}

#u534431
{
	border-radius: 10px;
	position: relative;
	background-color: transparent;
	z-index: 65;
}

#u534438-4
{
	font-size: 13px;
	font-family: '__Open Sans_5';
	line-height: 2;
	position: relative;
	text-align: left;
	font-weight: 700;
	background-color: transparent;
	z-index: 66;
	margin-right: -10000px;
	margin-top: 20px;
}

#u534437
{
	margin-top: 20px;
	opacity: 1;
	filter: alpha(opacity=100);
	margin-right: -10000px;
	position: relative;
	height: 26px;
	width: 26px;
	z-index: 70;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
	background: transparent url("../images/marketing.svg?crc=444175459") no-repeat center center;
	background-size: cover;
}

.nosvg #u534437
{
	background-image: url('../images/marketing_poster_u533689.png?crc=4218389787');
}

#accordionu534432
{
	border-radius: 10px;
	border-width: 0px;
	position: relative;
	width: 100%;
	background-color: transparent;
	z-index: 71;
	margin-right: -10000px;
	border-color: transparent;
}

#u534433
{
	width: 100%;
	background-color: transparent;
	z-index: 72;
	position: relative;
}

#u534436-3
{
	border-radius: 10px;
	opacity: 1;
	padding-top: 10px;
	filter: alpha(opacity=100);
	padding-bottom: 10px;
	position: relative;
	border-color: transparent;
	min-height: 66px;
	width: 100%;
	z-index: 73;
	border-width: 0px;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
	background: transparent url("../images/descer.svg?crc=3819950353") no-repeat right center;
	background-size: 60px 60px;
}

#u534436-3:hover
{
	width: 100%;
	padding-top: 10px;
	opacity: 1;
	filter: alpha(opacity=100);
	padding-bottom: 10px;
	min-height: 66px;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
	margin: 0px 0px 0px 0%;
	background: transparent url("../images/descer1.svg?crc=4211491039") no-repeat right center;
	background-size: 60px 60px;
}

#u534436-3:active
{
	width: 100%;
	padding-top: 10px;
	opacity: 1;
	filter: alpha(opacity=100);
	padding-bottom: 10px;
	min-height: 66px;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
	margin: 0px 0px 0px 0%;
	background: transparent url("../images/subir1.svg?crc=4170106080") no-repeat right center;
	background-size: 60px 60px;
}

#u534436-3.AccordionPanelTabOpen
{
	width: 100%;
	border-radius: 10px;
	padding-top: 10px;
	opacity: 1;
	filter: alpha(opacity=100);
	padding-bottom: 10px;
	min-height: 66px;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
	margin: 0px 0px 0px 0%;
	background: transparent url("../images/subir1.svg?crc=4170106080") no-repeat right center;
	background-size: 60px 60px;
}

#u534436-3:hover p
{
	font-weight: bold;
}

#u534436-3:active p
{
	font-weight: bold;
}

#u534434
{
	border-radius: 0px 0px 10px 10px ;
	position: relative;
	width: 100%;
	background-color: transparent;
	z-index: 76;
	border-color: #FFFFFF;
}

#u534435-22
{
	color: #000000;
	font-family: '__Open Sans_5';
	line-height: 1.6;
	position: relative;
	font-size: 13px;
	z-index: 77;
	background-color: transparent;
	font-weight: 400;
	border-width: 0px;
	margin-right: -10000px;
	border-color: transparent;
}

#u534440
{
	border-radius: 10px;
	position: relative;
	background-color: transparent;
	z-index: 99;
}

#u534441-4
{
	font-size: 13px;
	font-family: '__Open Sans_5';
	line-height: 2;
	position: relative;
	text-align: left;
	font-weight: 700;
	background-color: transparent;
	z-index: 100;
	margin-right: -10000px;
	margin-top: 20px;
}

#u534447
{
	margin-top: 20px;
	opacity: 1;
	filter: alpha(opacity=100);
	margin-right: -10000px;
	position: relative;
	height: 26px;
	width: 26px;
	z-index: 104;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
	background: transparent url("../images/mockup.svg?crc=4251249584") no-repeat center center;
	background-size: cover;
}

.nosvg #u534447
{
	background-image: url('../images/mockup_poster_u533733.png?crc=3971622574');
}

#accordionu534442
{
	border-radius: 10px;
	border-width: 0px;
	position: relative;
	width: 100%;
	background-color: transparent;
	z-index: 105;
	margin-right: -10000px;
	border-color: transparent;
}

#u534443
{
	width: 100%;
	background-color: transparent;
	z-index: 106;
	position: relative;
}

#u534444-3
{
	border-radius: 10px;
	opacity: 1;
	padding-top: 10px;
	filter: alpha(opacity=100);
	padding-bottom: 10px;
	position: relative;
	border-color: transparent;
	min-height: 66px;
	width: 100%;
	z-index: 107;
	border-width: 0px;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
	background: transparent url("../images/descer.svg?crc=3819950353") no-repeat right center;
	background-size: 60px 60px;
}

.nosvg #u534418-3,.nosvg #u534427-3,.nosvg #u534436-3,.nosvg #u534444-3
{
	background-image: url('../images/descer_poster_u532535.png?crc=4259330569');
}

#u534444-3:hover
{
	width: 100%;
	padding-top: 10px;
	opacity: 1;
	filter: alpha(opacity=100);
	padding-bottom: 10px;
	min-height: 66px;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
	margin: 0px 0px 0px 0%;
	background: transparent url("../images/descer1.svg?crc=4211491039") no-repeat right center;
	background-size: 60px 60px;
}

.nosvg #u534418-3:hover,.nosvg #u534427-3:hover,.nosvg #u534436-3:hover,.nosvg #u534444-3:hover
{
	background-image: url('../images/descer1_poster_u532543.png?crc=239693984');
}

#u534444-3:active
{
	width: 100%;
	padding-top: 10px;
	opacity: 1;
	filter: alpha(opacity=100);
	padding-bottom: 10px;
	min-height: 66px;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
	margin: 0px 0px 0px 0%;
	background: transparent url("../images/subir1.svg?crc=4170106080") no-repeat right center;
	background-size: 60px 60px;
}

#u534444-3.AccordionPanelTabOpen
{
	width: 100%;
	border-radius: 10px;
	padding-top: 10px;
	opacity: 1;
	filter: alpha(opacity=100);
	padding-bottom: 10px;
	min-height: 66px;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
	margin: 0px 0px 0px 0%;
	background: transparent url("../images/subir1.svg?crc=4170106080") no-repeat right center;
	background-size: 60px 60px;
}

.nosvg #u534418-3:active,.nosvg #u534418-3.AccordionPanelTabOpen,.nosvg #u534427-3:active,.nosvg #u534427-3.AccordionPanelTabOpen,.nosvg #u534436-3:active,.nosvg #u534436-3.AccordionPanelTabOpen,.nosvg #u534444-3:active,.nosvg #u534444-3.AccordionPanelTabOpen
{
	background-image: url('../images/subir1_poster_u533741.png?crc=4096501509');
}

#u534444-3:hover p
{
	font-weight: bold;
}

#u534444-3:active p
{
	font-weight: bold;
}

#u534418-3.AccordionPanelTabOpen p,#u534427-3.AccordionPanelTabOpen p,#u534436-3.AccordionPanelTabOpen p,#u534444-3.AccordionPanelTabOpen p
{
	font-weight: bold;
	font-size: 13px;
}

#u534418-2,#u534427-2,#u534436-2,#u534444-2
{
	color: #000000;
	font-family: '__Open Sans_5';
	line-height: 1;
	font-size: 13px;
	margin-left: 10px;
	text-align: center;
	font-weight: 700;
}

#u534445
{
	border-radius: 0px 0px 10px 10px ;
	position: relative;
	width: 100%;
	background-color: transparent;
	z-index: 110;
	border-color: #FFFFFF;
}

#u534446-12
{
	color: #000000;
	font-family: '__Open Sans_5';
	line-height: 1.6;
	position: relative;
	font-size: 13px;
	z-index: 111;
	background-color: transparent;
	font-weight: 400;
	border-width: 0px;
	margin-right: -10000px;
	border-color: transparent;
}

#u534448
{
	border-color: transparent;
	border-width: 0px;
	position: relative;
	background-color: transparent;
	z-index: 123;
}

#u534449-33
{
	font-size: 13px;
	line-height: 2;
	position: relative;
	color: #000000;
	text-align: justify;
	margin-right: -10000px;
	width: 100%;
	background-color: transparent;
	z-index: 124;
	border-width: 0px;
	border-color: transparent;
}

#u534449-2,#u534449-7,#u534449-9,#u534449-11,#u534449-13,#u534449-18,#u534449-20,#u534449-22,#u534449-24
{
	font-family: '__Open Sans_5';
	font-weight: 700;
}

#u534449-5,#u534449-15,#u534449-16,#u534449-26,#u534449-27,#u534449-31
{
	font-family: '__Open Sans_5';
	font-weight: 400;
}

#u534449-4,#u534449-29
{
	font-style: italic;
	font-family: '__Open Sans_5';
	font-weight: 400;
}

#u534450
{
	border-radius: 50%;
	opacity: 1;
	filter: alpha(opacity=100);
	margin-right: -10000px;
	position: relative;
	z-index: 157;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
	background: transparent url("../images/robles.svg?crc=454361495") no-repeat center center;
	background-size: cover;
}

.nosvg #u534450
{
	background-image: url('../images/robles_poster_u533891.png?crc=4216839046');
}

#buttonu534410
{
	border-style: solid;
	border-radius: 10px;
	border-width: 3px;
	position: relative;
	background-color: #000000;
	z-index: 2;
	border-color: #000000;
}

#buttonu534410:hover
{
	margin-bottom: 0px;
	min-height: 0px;
	background-color: transparent;
	margin-right: 0px;
}

#buttonu534410.ButtonSelected
{
	margin-bottom: 0px;
	min-height: 0px;
	background-color: #000000;
	margin-right: 0px;
}

#u534411-4
{
	font-size: 13px;
	font-family: '__Open Sans_5';
	line-height: 1.8;
	position: relative;
	color: #F1F1F1;
	letter-spacing: 1px;
	margin-right: -10000px;
	text-align: center;
	font-weight: 700;
	width: 100%;
	background-color: transparent;
	z-index: 3;
}

#buttonu534410:hover #u534411-4
{
	margin-bottom: 0px;
	padding-top: 0px;
	margin-left: 0%;
	width: 100%;
	margin-right: -10000px;
	padding-bottom: 0px;
}

#buttonu534410.ButtonSelected #u534411-4
{
	margin-bottom: 0px;
	padding-top: 0px;
	margin-left: 0%;
	width: 100%;
	margin-right: -10000px;
	padding-bottom: 0px;
}

#buttonu534410:hover #u534411-4 p
{
	color: #000000;
	visibility: inherit;
}

#buttonu534410.ButtonSelected #u534411-4 p
{
	color: #F1F1F1;
	visibility: inherit;
}

.html
{
	background-color: #FFFFFF;
}

body
{
	position: relative;
}

@media (min-width: 861px), print
{
	#muse_css_mq
	{
		background-color: #FFFFFF;
	}

	#bp_infinity.active
	{
		display: block;
	}

	#page
	{
		min-height: 539px;
		padding-bottom: 27px;
		max-width: 1210px;
	}

	#pu534414
	{
		z-index: 7;
		width: 93.39%;
		margin-left: 3.31%;
	}

	#u534414
	{
		margin-right: -10000px;
		width: 23.63%;
	}

	#u534423
	{
		margin-right: -10000px;
		width: 23.63%;
		left: 25.49%;
	}

	#u534431
	{
		margin-right: -10000px;
		width: 23.63%;
		left: 50.89%;
	}

	#u534440
	{
		margin-right: -10000px;
		width: 23.63%;
		left: 76.38%;
	}

	#u534413-4,#u534422-4,#u534438-4,#u534441-4
	{
		min-height: 26px;
		left: 59px;
		width: 70.79%;
	}

	#u534415,#u534424,#u534437,#u534447
	{
		left: 20px;
	}

	#u534420-14,#u534429-20,#u534435-22,#u534446-12
	{
		min-height: 41px;
		width: 85.77%;
		left: 7.5%;
	}

	#u534448
	{
		margin-top: 53px;
		width: 90.09%;
		margin-left: 4.96%;
	}

	#u534449-33
	{
		min-height: 41px;
	}

	#u534450
	{
		width: 52px;
		height: 52px;
	}

	#buttonu534410
	{
		padding-bottom: 14px;
		margin-top: 26px;
		width: 29.76%;
		margin-left: 34.05%;
	}

	#buttonu534410:hover
	{
		margin-top: 26px;
		width: 29.76%;
		margin-left: 34.05%;
	}

	#buttonu534410.ButtonSelected
	{
		margin-top: 26px;
		width: 29.76%;
		margin-left: 34.05%;
	}

	#u534411-4
	{
		min-height: 12px;
		margin-top: 13px;
	}

	#buttonu534410:hover #u534411-4
	{
		margin-top: 13px;
		min-height: 12px;
	}

	#buttonu534410.ButtonSelected #u534411-4
	{
		margin-top: 13px;
		min-height: 12px;
	}

	.css_verticalspacer .verticalspacer
	{
		height: calc(100vh - 585px);
	}
}

@media (min-width: 481px) and (max-width: 860px)
{
	#muse_css_mq
	{
		background-color: #00035c;
	}

	#bp_860.active
	{
		display: block;
	}

	#page
	{
		min-height: 723px;
		padding-bottom: 20px;
		max-width: 860px;
	}

	#pu534414
	{
		z-index: 7;
		width: 86.05%;
		margin-left: 6.98%;
	}

	#pu534431
	{
		z-index: 65;
		margin-top: 20px;
		width: 86.05%;
		margin-left: 6.98%;
	}

	#u534414,#u534431
	{
		margin-right: -10000px;
		width: 48.65%;
	}

	#u534423,#u534440
	{
		margin-right: -10000px;
		width: 48.65%;
		left: 51.36%;
	}

	#u534413-4,#u534422-4,#u534438-4,#u534441-4
	{
		min-height: 21px;
		left: 58px;
		width: 78.34%;
	}

	#u534415,#u534424,#u534437,#u534447
	{
		left: 21px;
	}

	#u534420-14,#u534429-20,#u534435-22,#u534446-12
	{
		min-height: 52px;
		width: 88.89%;
		left: 5.56%;
	}

	#u534448
	{
		margin-top: 47px;
		width: 83.03%;
		margin-left: 6.98%;
	}

	#u534449-33
	{
		min-height: 52px;
	}

	#u534450
	{
		width: 50px;
		height: 50px;
	}

	#buttonu534410
	{
		padding-bottom: 15px;
		margin-top: 52px;
		width: 41.87%;
		margin-left: 28.73%;
	}

	#buttonu534410:hover
	{
		margin-top: 52px;
		width: 41.87%;
		margin-left: 28.73%;
	}

	#buttonu534410.ButtonSelected
	{
		margin-top: 52px;
		width: 41.87%;
		margin-left: 28.73%;
	}

	#u534411-4
	{
		min-height: 23px;
		margin-top: 12px;
	}

	#buttonu534410:hover #u534411-4
	{
		margin-top: 12px;
		min-height: 23px;
	}

	#buttonu534410.ButtonSelected #u534411-4
	{
		margin-top: 12px;
		min-height: 23px;
	}

	.css_verticalspacer .verticalspacer
	{
		height: calc(100vh - 762px);
	}

	body
	{
		overflow-x: hidden;
	}
}

@media (max-width: 480px)
{
	/*

*/

	#muse_css_mq
	{
		background-color: #0001e0;
	}

	#bp_480.active
	{
		display: block;
	}

	#page
	{
		min-height: 1200px;
		padding-bottom: 21px;
		max-width: 480px;
	}

	#u534414
	{
		width: 83.34%;
		margin-left: 8.34%;
	}

	#u534423,#u534431
	{
		margin-top: 20px;
		width: 83.34%;
		margin-left: 8.34%;
	}

	#u534440
	{
		margin-top: 21px;
		width: 83.34%;
		margin-left: 8.34%;
	}

	#u534413-4,#u534422-4,#u534438-4,#u534441-4
	{
		min-height: 13px;
		left: 59px;
		width: 80.25%;
	}

	#u534415,#u534424,#u534437,#u534447
	{
		left: 21px;
	}

	#u534420-14,#u534429-20,#u534435-22,#u534446-12
	{
		min-height: 52px;
		width: 89.5%;
		left: 5.25%;
	}

	#u534448
	{
		margin-top: 72px;
		width: 75%;
		margin-left: 12.71%;
	}

	#u534449-33
	{
		min-height: 52px;
	}

	#u534450
	{
		width: 50px;
		height: 50px;
	}

	#buttonu534410
	{
		padding-bottom: 13px;
		margin-top: 71px;
		width: 75%;
		margin-left: 12.09%;
	}

	#buttonu534410:hover
	{
		margin-top: 71px;
		width: 75%;
		margin-left: 12.09%;
	}

	#buttonu534410.ButtonSelected
	{
		margin-top: 71px;
		width: 75%;
		margin-left: 12.09%;
	}

	#u534411-4
	{
		min-height: 12px;
		margin-top: 14px;
	}

	#buttonu534410:hover #u534411-4
	{
		margin-top: 14px;
		min-height: 12px;
	}

	#buttonu534410.ButtonSelected #u534411-4
	{
		margin-top: 14px;
		min-height: 12px;
	}

	.css_verticalspacer .verticalspacer
	{
		height: calc(100vh - 1240px);
	}

	body
	{
		overflow-x: hidden;
		min-width: 320px;
	}
}

