/*

*/

.version.info /* version checker */
{
	color: #0000FA;
	background-color: #B83AFD;
}

#page
{
	z-index: 1;
	min-height: 666.950000000001px;
	background-image: none;
	border-width: 0px;
	border-color: #000000;
	background-color: #222222;
	padding-top: 20px;
	padding-bottom: 0px;
	width: 100%;
	max-width: 480px;
	margin-left: auto;
	margin-right: auto;
}

#pu535483
{
	z-index: 135;
	margin-left: 40px;
	width: 83.34%;
}

#u535483
{
	z-index: 135;
	width: 52px;
	height: 52px;
	opacity: 1;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
	filter: alpha(opacity=100);
	border-radius: 50%;
	position: relative;
	margin-right: -10000px;
	background: transparent url("../images/robles.svg?crc=454361495") no-repeat center center;
	background-size: cover;
}

.nosvg #u535483
{
	background-image: url('../images/robles_poster_u533891.png?crc=4216839046');
}

#u535475-6
{
	z-index: 129;
	min-height: 52px;
	border-width: 0px;
	border-color: transparent;
	background-color: transparent;
	text-align: justify;
	font-size: 13px;
	line-height: 2;
	position: relative;
	margin-right: -10000px;
	left: 62px;
	width: 84.5%;
}

#u535475-4
{
	color: #7F7F7F;
	font-family: '__Open Sans_5';
	font-weight: 400;
	font-style: italic;
}

#u535484-13
{
	z-index: 2;
	min-height: 52px;
	border-width: 0px;
	border-color: transparent;
	background-color: transparent;
	color: #7F7F7F;
	text-align: justify;
	font-size: 13px;
	line-height: 2;
	font-family: '__Open Sans_5';
	font-weight: 400;
	margin-top: 26px;
	position: relative;
	width: 83.34%;
	margin-left: 8.34%;
}

#u535475-2,#u535484-2,#u535484-4,#u535484-6,#u535484-8
{
	color: #FFFFFF;
	font-family: '__Open Sans_5';
	font-weight: 700;
}

#u535484-9
{
	font-family: '__Open Sans_5';
	font-weight: 700;
}

#accordionu534416
{
	z-index: 20;
	border-width: 0px;
	border-color: transparent;
	background-color: transparent;
	border-radius: 10px;
	margin-top: 40px;
	position: relative;
	width: 91.67%;
	margin-left: 4.17%;
}

#u534417
{
	z-index: 21;
	background-color: transparent;
	position: relative;
	width: 100%;
}

#u534418-5
{
	z-index: 22;
	min-height: 66px;
	border-width: 0px;
	border-color: transparent;
	opacity: 1;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
	filter: alpha(opacity=100);
	border-radius: 10px;
	padding-top: 10px;
	padding-bottom: 10px;
	position: relative;
	width: 100%;
	background: #222222 url("../images/descer.svg?crc=3819950353") no-repeat right center;
	background-size: 60px 60px;
}

#u534418-5:hover
{
	opacity: 1;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
	filter: alpha(opacity=100);
	padding-top: 10px;
	padding-bottom: 10px;
	min-height: 66px;
	width: 100%;
	margin: 0px 0px 0px 0%;
	background: #000000 url("../images/descer1.svg?crc=4211491039") no-repeat right center;
	background-size: 60px 60px;
}

#u534418-5:active
{
	opacity: 1;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
	filter: alpha(opacity=100);
	border-radius: 10px 10px 0px 0px ;
	padding-top: 10px;
	padding-bottom: 10px;
	min-height: 66px;
	width: 100%;
	margin: 0px 0px 0px 0%;
	background: #000000 url("../images/subir1.svg?crc=4170106080") no-repeat right center;
	background-size: 60px 60px;
}

#u534418-5.AccordionPanelTabOpen
{
	opacity: 1;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
	filter: alpha(opacity=100);
	border-radius: 10px 10px 0px 0px ;
	padding-top: 10px;
	padding-bottom: 10px;
	min-height: 66px;
	width: 100%;
	margin: 0px 0px 0px 0%;
	background: #000000 url("../images/subir1.svg?crc=4170106080") no-repeat right center;
	background-size: 60px 60px;
}

#u534418-5:hover p,#u534418-5:hover h1,#u534418-5:active p,#u534418-5:active h1
{
	font-weight: bold;
}

#u534418-5.AccordionPanelTabOpen p,#u534418-5.AccordionPanelTabOpen h1
{
	line-height: 1.56;
	font-size: 13px;
	font-weight: bold;
}

#u535631
{
	z-index: 27;
	width: 26px;
	height: 26px;
	opacity: 1;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
	filter: alpha(opacity=100);
	background: transparent url("../images/marca.svg?crc=4160258697") no-repeat center center;
	background-size: cover;
}

#u534419
{
	z-index: 29;
	border-color: #FFFFFF;
	background-color: #000000;
	border-radius: 0px 0px 10px 10px ;
	position: relative;
	width: 100%;
}

#u534420-14
{
	z-index: 30;
	min-height: 52px;
	border-width: 0px;
	border-color: transparent;
	background-color: transparent;
	color: #7F7F7F;
	line-height: 1.6;
	font-size: 13px;
	font-weight: 400;
	position: relative;
	margin-right: -10000px;
	width: 79.55%;
	left: 4.78%;
}

.AccordionPanelTab /* accordion */
{
	cursor: pointer;
}

#accordionu534425
{
	z-index: 44;
	border-width: 0px;
	border-color: transparent;
	background-color: transparent;
	border-radius: 10px;
	margin-top: 20px;
	position: relative;
	width: 91.67%;
	margin-left: 4.17%;
}

#u534426
{
	z-index: 45;
	background-color: transparent;
	position: relative;
	width: 100%;
}

#u534427-5
{
	z-index: 46;
	min-height: 66px;
	border-width: 0px;
	border-color: transparent;
	opacity: 1;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
	filter: alpha(opacity=100);
	border-radius: 10px;
	padding-top: 10px;
	padding-bottom: 10px;
	position: relative;
	width: 100%;
	background: #222222 url("../images/descer.svg?crc=3819950353") no-repeat right center;
	background-size: 60px 60px;
}

#u534427-5:hover
{
	opacity: 1;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
	filter: alpha(opacity=100);
	padding-top: 10px;
	padding-bottom: 10px;
	min-height: 66px;
	width: 100%;
	margin: 0px 0px 0px 0%;
	background: #000000 url("../images/descer1.svg?crc=4211491039") no-repeat right center;
	background-size: 60px 60px;
}

#u534427-5:active
{
	opacity: 1;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
	filter: alpha(opacity=100);
	border-radius: 10px 10px 0px 0px ;
	padding-top: 10px;
	padding-bottom: 10px;
	min-height: 66px;
	width: 100%;
	margin: 0px 0px 0px 0%;
	background: #000000 url("../images/subir1.svg?crc=4170106080") no-repeat right center;
	background-size: 60px 60px;
}

#u534427-5.AccordionPanelTabOpen
{
	opacity: 1;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
	filter: alpha(opacity=100);
	border-radius: 10px 10px 0px 0px ;
	padding-top: 10px;
	padding-bottom: 10px;
	min-height: 66px;
	width: 100%;
	margin: 0px 0px 0px 0%;
	background: #000000 url("../images/subir1.svg?crc=4170106080") no-repeat right center;
	background-size: 60px 60px;
}

#u534427-5:hover p,#u534427-5:hover h1,#u534427-5:active p,#u534427-5:active h1
{
	font-weight: bold;
}

#u536013
{
	z-index: 51;
	width: 26px;
	height: 26px;
	opacity: 1;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
	filter: alpha(opacity=100);
	background: transparent url("../images/marca.svg?crc=4160258697") no-repeat center center;
	background-size: cover;
}

#u534428
{
	z-index: 53;
	border-color: #FFFFFF;
	background-color: #000000;
	border-radius: 0px 0px 10px 10px ;
	position: relative;
	width: 100%;
}

#u534429-20
{
	z-index: 54;
	min-height: 52px;
	border-width: 0px;
	border-color: transparent;
	background-color: transparent;
	color: #7F7F7F;
	line-height: 1.6;
	font-size: 13px;
	font-weight: 400;
	position: relative;
	margin-right: -10000px;
	width: 79.55%;
	left: 4.78%;
}

#accordionu534432
{
	z-index: 74;
	border-width: 0px;
	border-color: transparent;
	background-color: transparent;
	border-radius: 10px;
	margin-top: 20px;
	position: relative;
	width: 91.67%;
	margin-left: 4.17%;
}

#u534433
{
	z-index: 75;
	background-color: transparent;
	position: relative;
	width: 100%;
}

#u534436-5
{
	z-index: 76;
	min-height: 66px;
	border-width: 0px;
	border-color: transparent;
	opacity: 1;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
	filter: alpha(opacity=100);
	border-radius: 10px;
	padding-top: 10px;
	padding-bottom: 10px;
	position: relative;
	width: 100%;
	background: #222222 url("../images/descer.svg?crc=3819950353") no-repeat right center;
	background-size: 60px 60px;
}

#u534436-5:hover
{
	opacity: 1;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
	filter: alpha(opacity=100);
	padding-top: 10px;
	padding-bottom: 10px;
	min-height: 66px;
	width: 100%;
	margin: 0px 0px 0px 0%;
	background: #000000 url("../images/descer1.svg?crc=4211491039") no-repeat right center;
	background-size: 60px 60px;
}

#u534436-5:active
{
	opacity: 1;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
	filter: alpha(opacity=100);
	border-radius: 10px 10px 0px 0px ;
	padding-top: 10px;
	padding-bottom: 10px;
	min-height: 66px;
	width: 100%;
	margin: 0px 0px 0px 0%;
	background: #000000 url("../images/subir1.svg?crc=4170106080") no-repeat right center;
	background-size: 60px 60px;
}

#u534436-5.AccordionPanelTabOpen
{
	opacity: 1;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
	filter: alpha(opacity=100);
	border-radius: 10px 10px 0px 0px ;
	padding-top: 10px;
	padding-bottom: 10px;
	min-height: 66px;
	width: 100%;
	margin: 0px 0px 0px 0%;
	background: #000000 url("../images/subir1.svg?crc=4170106080") no-repeat right center;
	background-size: 60px 60px;
}

#u534436-5:hover p,#u534436-5:hover h1,#u534436-5:active p,#u534436-5:active h1
{
	font-weight: bold;
}

#u536019
{
	z-index: 81;
	width: 26px;
	height: 26px;
	opacity: 1;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
	filter: alpha(opacity=100);
	background: transparent url("../images/marca.svg?crc=4160258697") no-repeat center center;
	background-size: cover;
}

#u534434
{
	z-index: 83;
	border-color: #FFFFFF;
	background-color: #000000;
	border-radius: 0px 0px 10px 10px ;
	position: relative;
	width: 100%;
}

#u534435-22
{
	z-index: 84;
	min-height: 52px;
	border-width: 0px;
	border-color: transparent;
	background-color: transparent;
	color: #7F7F7F;
	line-height: 1.6;
	font-size: 13px;
	font-weight: 400;
	position: relative;
	margin-right: -10000px;
	width: 79.55%;
	left: 4.78%;
}

#accordionu534442
{
	z-index: 106;
	border-width: 0px;
	border-color: transparent;
	background-color: transparent;
	border-radius: 10px;
	margin-top: 20px;
	position: relative;
	width: 91.67%;
	margin-left: 4.17%;
}

#u534443
{
	z-index: 107;
	background-color: transparent;
	position: relative;
	width: 100%;
}

#u534444-5
{
	z-index: 108;
	min-height: 66px;
	border-width: 0px;
	border-color: transparent;
	opacity: 1;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
	filter: alpha(opacity=100);
	border-radius: 10px;
	padding-top: 10px;
	padding-bottom: 10px;
	position: relative;
	width: 100%;
	background: #222222 url("../images/descer.svg?crc=3819950353") no-repeat right center;
	background-size: 60px 60px;
}

.nosvg #u534418-5,.nosvg #u534427-5,.nosvg #u534436-5,.nosvg #u534444-5
{
	background-image: url('../images/descer_poster_u532535.png?crc=4259330569');
}

#u534444-5:hover
{
	opacity: 1;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
	filter: alpha(opacity=100);
	padding-top: 10px;
	padding-bottom: 10px;
	min-height: 66px;
	width: 100%;
	margin: 0px 0px 0px 0%;
	background: #000000 url("../images/descer1.svg?crc=4211491039") no-repeat right center;
	background-size: 60px 60px;
}

.nosvg #u534418-5:hover,.nosvg #u534427-5:hover,.nosvg #u534436-5:hover,.nosvg #u534444-5:hover
{
	background-image: url('../images/descer1_poster_u532543.png?crc=239693984');
}

#u534444-5:active
{
	opacity: 1;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
	filter: alpha(opacity=100);
	border-radius: 10px 10px 0px 0px ;
	padding-top: 10px;
	padding-bottom: 10px;
	min-height: 66px;
	width: 100%;
	margin: 0px 0px 0px 0%;
	background: #000000 url("../images/subir1.svg?crc=4170106080") no-repeat right center;
	background-size: 60px 60px;
}

#u534444-5.AccordionPanelTabOpen
{
	opacity: 1;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
	filter: alpha(opacity=100);
	border-radius: 10px 10px 0px 0px ;
	padding-top: 10px;
	padding-bottom: 10px;
	min-height: 66px;
	width: 100%;
	margin: 0px 0px 0px 0%;
	background: #000000 url("../images/subir1.svg?crc=4170106080") no-repeat right center;
	background-size: 60px 60px;
}

.nosvg #u534418-5:active,.nosvg #u534418-5.AccordionPanelTabOpen,.nosvg #u534427-5:active,.nosvg #u534427-5.AccordionPanelTabOpen,.nosvg #u534436-5:active,.nosvg #u534436-5.AccordionPanelTabOpen,.nosvg #u534444-5:active,.nosvg #u534444-5.AccordionPanelTabOpen
{
	background-image: url('../images/subir1_poster_u533741.png?crc=4096501509');
}

#u534444-5:hover p,#u534444-5:hover h1,#u534444-5:active p,#u534444-5:active h1
{
	font-weight: bold;
}

#u534427-5.AccordionPanelTabOpen p,#u534427-5.AccordionPanelTabOpen h1,#u534436-5.AccordionPanelTabOpen p,#u534436-5.AccordionPanelTabOpen h1,#u534444-5.AccordionPanelTabOpen p,#u534444-5.AccordionPanelTabOpen h1
{
	font-size: 13px;
	font-weight: bold;
}

#u534418-4,#u534427-4,#u534436-4,#u534444-4
{
	color: #FFFFFF;
	text-align: left;
	font-size: 13px;
	line-height: 1.6;
	font-family: '__Open Sans_5';
	font-weight: 700;
	margin-left: 10px;
}

#u534418-3,#u534427-3,#u534436-3,#u534444-3
{
	padding-top: 2px;
}

#u535641,#u536012,#u536018,#u536030
{
	margin-top: 7px;
	margin-bottom: -7px;
}

#u536031
{
	z-index: 113;
	width: 26px;
	height: 26px;
	opacity: 1;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
	filter: alpha(opacity=100);
	background: transparent url("../images/marca.svg?crc=4160258697") no-repeat center center;
	background-size: cover;
}

.nosvg #u535631,.nosvg #u536013,.nosvg #u536019,.nosvg #u536031
{
	background-image: url('../images/marca_poster_u535634.png?crc=3998542142');
}

#u534445
{
	z-index: 115;
	border-color: #FFFFFF;
	background-color: #000000;
	border-radius: 0px 0px 10px 10px ;
	position: relative;
	width: 100%;
}

#u534446-12
{
	z-index: 116;
	min-height: 52px;
	border-width: 0px;
	border-color: transparent;
	background-color: transparent;
	color: #7F7F7F;
	line-height: 1.6;
	font-size: 13px;
	font-weight: 400;
	position: relative;
	margin-right: -10000px;
	width: 79.55%;
	left: 4.78%;
}

#u534420-5,#u534420-7,#u534420-9,#u534420-11,#u534429-5,#u534429-7,#u534429-9,#u534429-11,#u534429-13,#u534429-15,#u534429-17,#u534435-5,#u534435-7,#u534435-9,#u534435-11,#u534435-13,#u534435-15,#u534435-17,#u534435-19,#u534446-5,#u534446-7,#u534446-9
{
	font-family: '__Open Sans_5';
	font-style: italic;
}

#u534420-2,#u534420-3,#u534420-12,#u534429-2,#u534429-3,#u534429-18,#u534435-2,#u534435-3,#u534435-20,#u534446-2,#u534446-3,#u534446-10
{
	font-family: '__Open Sans_5';
}

#buttonu534410
{
	z-index: 15;
	border-width: 0px;
	border-color: transparent;
	background-color: #000000;
	border-radius: 10px;
	padding-bottom: 13px;
	margin-top: 34px;
	position: relative;
	width: 75%;
	margin-left: 12.71%;
}

#buttonu534410:hover
{
	background-color: transparent;
	min-height: 0px;
	width: 75%;
	margin: 34px 0px 0px 12.708333333333332%;
}

#buttonu534410.ButtonSelected
{
	background-color: #000000;
	min-height: 0px;
	width: 75%;
	margin: 34px 0px 0px 12.708333333333332%;
}

#u534411-4
{
	z-index: 16;
	min-height: 12px;
	background-color: transparent;
	text-align: center;
	font-size: 13px;
	line-height: 1.8;
	color: #7F7F7F;
	letter-spacing: 1px;
	font-family: '__Open Sans_5';
	font-weight: 700;
	position: relative;
	margin-right: -10000px;
	margin-top: 14px;
	width: 100%;
}

#buttonu534410:hover #u534411-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 12px;
	width: 100%;
	margin: 14px -10000px 0px 0%;
}

#buttonu534410.ButtonSelected #u534411-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 12px;
	width: 100%;
	margin: 14px -10000px 0px 0%;
}

#buttonu534410:hover #u534411-4 p
{
	color: #FFFFFF;
	visibility: inherit;
}

#buttonu534410.ButtonSelected #u534411-4 p
{
	color: #7F7F7F;
	visibility: inherit;
}

#u535363
{
	z-index: 128;
	height: 40px;
	position: relative;
	width: 8.34%;
	margin-left: 67.71%;
}

.ie #u535363
{
	background-color: #FFFFFF;
	opacity: 0.01;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=1)";
	filter: alpha(opacity=1);
}

.css_verticalspacer .verticalspacer
{
	height: calc(100vh - 741px);
}

#muse_css_mq,.html
{
	background-color: #FFFFFF;
}

body
{
	position: relative;
	min-width: 320px;
}

@font-face
{
	font-family: '__Open Sans_5';
	src: url('../fonts/open-sans-v18-latin-regular.eot');
	src: local('☺'), url('../fonts/open-sans-v18-latin-regular.woff') format('woff'), url('../fonts/open-sans-v18-latin-regular.svg') format('svg');
	font-weight: 400;
	font-style: normal;
}

@font-face
{
	font-family: '__Open Sans_5';
	src: url('../fonts/open-sans-v18-latin-italic.eot');
	src: local('☺'), url('../fonts/open-sans-v18-latin-italic.woff') format('woff'), url('../fonts/open-sans-v18-latin-italic.svg') format('svg');
	font-weight: 400;
	font-style: italic;
}

@font-face
{
	font-family: '__Open Sans_5';
	src: url('../fonts/open-sans-v18-latin-700.eot');
	src: local('☺'), url('../fonts/open-sans-v18-latin-700.woff') format('woff'), url('../fonts/open-sans-v18-latin-700.svg') format('svg');
	font-weight: 700;
	font-style: normal;
}

