	#muse_css_mq
	{
		background-color: #FFFFFF;
	}

	#bp_infinity.active
	{
		display: block;
	}

	#page,#buttonu511084_align_to_page
	{
		max-width: 1210px;
	}

	#u518039-4
	{
		left: 26.04%;
	}

	#u511088-4
	{
		left: 28.93%;
	}

	#u518030-4
	{
		left: 31.82%;
	}

	#buttonu511087
	{
		left: 56.2%;
	}

	#pu519258
	{
		padding-bottom: 0px;
		width: 96.7%;
	}

	#u519258
	{
		width: 72.65%;
		margin-left: 15.82%;
	}

	#u511072-13
	{
		min-height: 69px;
		width: 90.59%;
		left: 4.71%;
	}

	#pu511083
	{
		z-index: 21;
		margin-top: 50px;
		width: 100%;
		left: 0%;
		margin-left: 1.71%;
	}

	#u511083
	{
		background-image: url("../images/logo.jpg?crc=4070300925");
		margin-right: -10000px;
		width: 49.15%;
	}

	#u511074
	{
		background-image: url("../images/luminoso-sitec.jpg?crc=4033725967");
		margin-right: -10000px;
		width: 49.15%;
		left: 50.86%;
	}

	#u511082
	{
		background-image: url("../images/bandeira.jpg?crc=3977431290");
		margin-left: 1.71%;
	}

	#u511082 .fluid_height_spacer
	{
		padding-bottom: 48.46153846153846%;
	}

	#u511223
	{
		background-image: url("../images/genero.jpg?crc=4229619256");
		margin-left: 1.71%;
	}

	#u511223 .fluid_height_spacer
	{
		padding-bottom: 48.11965811965812%;
	}

	#ppu511081
	{
		z-index: 0;
		margin-top: 19px;
		width: 100%;
		left: 0%;
		margin-left: 1.71%;
	}

	#pu511081
	{
		z-index: 19;
		margin-right: -10000px;
		width: 49.15%;
	}

	#u511081
	{
		background-image: url("../images/etiqueta-sitec.jpg?crc=121879363");
	}

	#u511077
	{
		background-image: url("../images/arara-camada%201.jpg?crc=491548839");
	}

	#pu511076
	{
		z-index: 18;
		margin-right: -10000px;
		width: 49.15%;
		margin-left: 50.86%;
	}

	#u511076
	{
		background-image: url("../images/balao-site.jpg?crc=4157709668");
	}

	#u511077 .fluid_height_spacer,#u511076 .fluid_height_spacer
	{
		padding-bottom: 137.3913043478261%;
	}

	#u511079
	{
		background-image: url("../images/bone.jpg?crc=189374027");
	}

	#u511078
	{
		background-image: url("../images/sacola-logo2%20copiar.jpg?crc=74330796");
		margin-left: 1.71%;
	}

	#u511078 .fluid_height_spacer
	{
		padding-bottom: 60.085470085470085%;
	}

	#pu511406
	{
		z-index: 22;
		margin-top: 21px;
		width: 100%;
		left: 0%;
		margin-left: 1.71%;
	}

	#u511406
	{
		background-image: url("../images/jaqueta1.jpg?crc=442837057");
		margin-right: -10000px;
		width: 42.91%;
	}

	#u511406 .fluid_height_spacer
	{
		padding-bottom: 148.60557768924303%;
	}

	#pu511411
	{
		padding-bottom: 0px;
		margin-right: -10000px;
		width: 26.84%;
		margin-left: 44.62%;
	}

	#u511411
	{
		background-image: url("../images/jaqueta2.jpg?crc=3778196667");
		width: 100%;
	}

	#u511420
	{
		background-image: url("../images/jaqueta4.jpg?crc=339404348");
		margin-top: 20px;
		width: 100%;
	}

	#pu511429
	{
		z-index: 24;
		margin-right: -10000px;
		width: 26.84%;
		margin-left: 73.17%;
	}

	#u511429
	{
		background-image: url("../images/jaqueta3.jpg?crc=4165880352");
		width: 100%;
	}

	#u511438
	{
		background-image: url("../images/jaqueta5.jpg?crc=421723907");
		margin-top: 20px;
		width: 100%;
	}

	#u511411 .fluid_height_spacer,#u511420 .fluid_height_spacer,#u511429 .fluid_height_spacer,#u511438 .fluid_height_spacer
	{
		padding-bottom: 115.60509554140128%;
	}

	#u511080
	{
		margin-top: 19px;
		margin-left: 51.71%;
	}

	.nosvg #u511080
	{
		margin-left: 51.71%;
	}

	.css_verticalspacer .verticalspacer
	{
		height: calc(100vh - 5027px);
	}


