	#muse_css_mq
	{
		background-color: #FFFFFF;
	}

	#bp_infinity.active
	{
		display: block;
	}

	#page
	{
		min-height: 3850px;
		max-width: 1210px;
	}

	#buttonu521566_align_to_page
	{
		max-width: 1210px;
	}

	#u521567-4
	{
		left: 26.04%;
	}

	#u521572-4
	{
		left: 28.93%;
	}

	#u521571-4
	{
		left: 31.82%;
	}

	#buttonu521568
	{
		left: 56.2%;
	}

	#pu521319
	{
		width: 96.7%;
	}

	#u521319
	{
		width: 72.65%;
		margin-left: 15.82%;
	}

	#u521313-13
	{
		min-height: 69px;
		width: 90.59%;
		left: 4.71%;
	}

	#pu521316
	{
		z-index: 20;
		margin-top: 50px;
		width: 99.92%;
		left: 0%;
		margin-left: 1.71%;
	}

	#u521316
	{
		background-image: url("../images/logo_site_1.png?crc=3832731632");
		margin-right: -10000px;
		width: 49.19%;
	}

	#pu521322
	{
		padding-bottom: 0px;
		margin-right: -10000px;
		width: 23.7%;
		margin-left: 50.9%;
	}

	#u521322
	{
		background-image: url("../images/logo_site_2.png?crc=4134555671");
		width: 100%;
	}

	#u521427
	{
		background-image: url("../images/logo_site_4.png?crc=3910407063");
		margin-top: 20px;
		width: 100%;
	}

	#pu521445
	{
		z-index: 31;
		margin-right: -10000px;
		width: 23.7%;
		margin-left: 76.31%;
	}

	#u521445
	{
		background-image: url("../images/logo_site_3.png?crc=3979574486");
		width: 100%;
	}

	#u521436
	{
		background-image: url("../images/logo_site_5.png?crc=450784361");
		margin-top: 21px;
		width: 100%;
	}

	#u521322 .fluid_height_spacer,#u521427 .fluid_height_spacer,#u521445 .fluid_height_spacer,#u521436 .fluid_height_spacer
	{
		padding-bottom: 100%;
	}

	#u521308
	{
		background-image: url("../images/app.png?crc=3844989407");
		margin-left: 1.71%;
	}

	#ppu521317
	{
		z-index: 0;
		margin-top: 20px;
		width: 100%;
		left: 0%;
		margin-left: 1.71%;
	}

	#pu521317
	{
		padding-bottom: 0px;
		margin-right: -10000px;
		width: 23.68%;
	}

	#u521317
	{
		background-image: url("../images/husky_site.png?crc=3860089181");
		width: 100%;
	}

	#u521318
	{
		background-image: url("../images/golden_site.png?crc=322671490");
		margin-top: 20px;
		width: 100%;
	}

	#pu521320
	{
		z-index: 25;
		margin-right: -10000px;
		width: 23.68%;
		margin-left: 25.39%;
	}

	#u521320
	{
		background-image: url("../images/buldogue_site.png?crc=4046254916");
		width: 100%;
	}

	#u521640
	{
		background-image: url("../images/poodle_site.png?crc=322631169");
		margin-top: 20px;
		width: 100%;
	}

	#u521317 .fluid_height_spacer,#u521318 .fluid_height_spacer,#u521320 .fluid_height_spacer,#u521640 .fluid_height_spacer
	{
		padding-bottom: 138.98916967509024%;
	}

	#u521311
	{
		background-image: url("../images/chihuahua_site.png?crc=4044631022");
		margin-right: -10000px;
		width: 49.15%;
		left: 50.86%;
	}

	#u521310
	{
		background-image: url("../images/template_todos.png?crc=276991388");
		margin-top: 21px;
		margin-left: 1.71%;
	}

	#u521310 .fluid_height_spacer
	{
		padding-bottom: 60.085470085470085%;
	}

	#pu521324
	{
		margin-left: 1.71%;
	}

	#u521324
	{
		background-image: url("../images/template_poddle.png?crc=276321532");
		width: 49.15%;
	}

	#u521314
	{
		background-image: url("../images/template_chihuahua.png?crc=488388240");
		width: 49.15%;
		left: 50.86%;
	}

	#pu521323
	{
		margin-top: 20px;
		margin-left: 1.71%;
	}

	#u521323
	{
		background-image: url("../images/template_buldogue.png?crc=367165082");
		width: 49.15%;
	}

	#u521312
	{
		background-image: url("../images/template_golden.png?crc=154464721");
		width: 49.15%;
		left: 50.86%;
	}

	#u521311 .fluid_height_spacer,#u521324 .fluid_height_spacer,#u521314 .fluid_height_spacer,#u521323 .fluid_height_spacer,#u521312 .fluid_height_spacer
	{
		padding-bottom: 137.3913043478261%;
	}

	#u521710
	{
		background-image: url("../images/template_husky.png?crc=261398669");
		margin-top: 19px;
		margin-left: 1.71%;
	}

	#u521308 .fluid_height_spacer,#u521710 .fluid_height_spacer
	{
		padding-bottom: 48.46153846153846%;
	}

	#u521309
	{
		margin-top: 21px;
		margin-left: 51.71%;
	}

	.nosvg #u521309
	{
		margin-left: 51.71%;
	}

	.css_verticalspacer .verticalspacer
	{
		height: calc(100vh - 5291px);
	}


