	#muse_css_mq
	{
		background-color: #FFFFFF;
	}

	#bp_infinity.active
	{
		display: block;
	}

	#page
	{
		min-height: 500px;
		max-width: 1210px;
	}

	#u521094
	{
		width: 93.39%;
		margin-left: 3.31%;
	}

	#u519289-6
	{
		min-height: 53px;
		width: 96.47%;
		margin-left: 1.77%;
	}

	#pu516572
	{
		z-index: 11;
		margin-top: 50px;
		width: 100%;
	}

	#u516572
	{
		padding-bottom: 21.496423982928945px;
		margin-right: -10000px;
		width: 22.15%;
		left: 3.31%;
	}

	#u517034-4
	{
		min-height: 20px;
		width: 83.34%;
	}

	#u516592-4
	{
		min-height: 35px;
		margin-top: 14px;
		width: 85.08%;
		margin-left: 7.47%;
	}

	#u516573
	{
		padding-bottom: 20.496423982928945px;
		margin-right: -10000px;
		width: 22.07%;
		left: 27.11%;
	}

	#u516586-4
	{
		min-height: 34px;
		margin-top: 14px;
		width: 85.02%;
		margin-left: 7.5%;
	}

	#u516574
	{
		padding-top: 20px;
		padding-bottom: 20.496423982928945px;
		margin-right: -10000px;
		width: 22.07%;
		left: 50.83%;
	}

	#pu518841,#pu518825
	{
		margin-left: 20px;
		width: 85.02%;
	}

	#u517048-4,#u517057-4
	{
		min-height: 26px;
		width: 83.26%;
	}

	#u516590-4
	{
		min-height: 42px;
		margin-top: 14px;
		width: 85.02%;
		margin-left: 7.5%;
	}

	#u516576
	{
		padding-bottom: 21.496423982928945px;
		margin-right: -10000px;
		width: 22.15%;
		left: 74.55%;
	}

	#pu518807,#pu518850
	{
		margin-left: 20px;
		width: 85.08%;
	}

	#u517066-4
	{
		min-height: 26px;
		width: 83.34%;
	}

	#u516589-4
	{
		min-height: 42px;
		margin-top: 14px;
		width: 85.08%;
		margin-left: 7.47%;
	}

	#u510491
	{
		width: 30.09%;
		left: 3.31%;
	}

	#u510558
	{
		width: 29.92%;
		left: 35.05%;
	}

	#u510567
	{
		width: 30.09%;
		left: 66.62%;
	}

	#pu510594
	{
		z-index: 9;
		margin-top: 20px;
		width: 100%;
	}

	#u510594
	{
		width: 30.09%;
		left: 3.31%;
	}

	#u510576
	{
		width: 29.92%;
		left: 35.05%;
	}

	#u510558:hover,#u510576:hover
	{
		width: 29.92%;
	}

	#u510558 .fluid_height_spacer,#u510576 .fluid_height_spacer
	{
		padding-bottom: 100.55248618784532%;
	}

	#u510585
	{
		width: 30.09%;
		left: 66.62%;
	}

	#u510491:hover,#u510567:hover,#u510594:hover,#u510585:hover
	{
		width: 30.09%;
	}

	#buttonu518771
	{
		padding-bottom: 14px;
		width: 29.76%;
		margin-left: 34.88%;
	}

	#buttonu518771:hover
	{
		width: 29.76%;
		margin-left: 34.88%;
	}

	#buttonu518771.ButtonSelected
	{
		width: 29.76%;
		margin-left: 34.88%;
	}

	#u518772-4
	{
		min-height: 12px;
		margin-top: 13px;
	}

	#buttonu518771:hover #u518772-4
	{
		margin-top: 13px;
		min-height: 12px;
	}

	#buttonu518771.ButtonSelected #u518772-4
	{
		margin-top: 13px;
		min-height: 12px;
	}

	#u517471-4
	{
		min-height: 9px;
	}

	#u517471-4-bw
	{
		min-height: 9px;
		margin-top: 17px;
	}

	.css_verticalspacer .verticalspacer
	{
		height: calc(100vh - 1435px);
	}

