	#muse_css_mq
	{
		background-color: #FFFFFF;
	}

	#bp_infinity.active
	{
		display: block;
	}

	#page
	{
		max-width: 1210px;
	}

	#u535366
	{
		left: -70px;
	}

	.nosvg #u535366,#u535366.MuseLinkActive
	{
		left: -70px;
	}

	.nosvg #u535366.MuseLinkActive
	{
		left: -70px;
	}

	#pu534953
	{
		z-index: 3;
		margin-top: 45px;
		width: 93.39%;
		left: 0%;
		margin-left: 3.31%;
	}

	#u534953
	{
		margin-right: -10000px;
		width: 49.12%;
	}

	#u532741
	{
		margin-right: -10000px;
		width: 49.12%;
		left: 50.89%;
	}

	#pu532750
	{
		z-index: 9;
		margin-top: 20px;
		width: 93.39%;
		left: 0%;
		margin-left: 3.31%;
	}

	#u532750
	{
		margin-right: -10000px;
		width: 49.12%;
	}

	#u532759
	{
		margin-right: -10000px;
		width: 49.12%;
		left: 50.89%;
	}

	#pu532768
	{
		z-index: 11;
		margin-top: 20px;
		width: 93.39%;
		left: 0%;
		margin-left: 3.31%;
	}

	#u532768
	{
		margin-right: -10000px;
		width: 49.12%;
	}

	#u532777
	{
		margin-right: -10000px;
		width: 49.12%;
		left: 50.89%;
	}

	#u534953:hover,#u532741:hover,#u532750:hover,#u532759:hover,#u532768:hover,#u532777:hover
	{
		margin-right: -10000px;
		margin-top: 0px;
		width: 49.12%;
		margin-left: 0%;
	}

	#u517471-4-bw
	{
		margin-top: 40px;
	}

	#accordionu535265
	{
		position: relative;
		left: -50%;
		margin-left: 240px;
		width: 100%;
		max-width: 480px;
	}

	#u535348
	{
		min-height: 602px;
		width: 100%;
	}

	#accordionu535265-wrapper
	{
		position: fixed;
		top: 20px;
		z-index: 13;
		left: 50%;
		margin-left: 105px;
		width: 39.67%;
		max-width: 480px;
	}

	.css_verticalspacer .verticalspacer
	{
		height: calc(100vh - 1881px);
	}


