	#muse_css_mq
	{
		background-color: #FFFFFF;
	}

	#bp_infinity.active
	{
		display: block;
	}

	#page
	{
		min-height: 539px;
		padding-bottom: 27px;
		max-width: 1210px;
	}

	#pu534414
	{
		z-index: 7;
		width: 93.39%;
		margin-left: 3.31%;
	}

	#u534414
	{
		margin-right: -10000px;
		width: 23.63%;
	}

	#u534423
	{
		margin-right: -10000px;
		width: 23.63%;
		left: 25.49%;
	}

	#u534431
	{
		margin-right: -10000px;
		width: 23.63%;
		left: 50.89%;
	}

	#u534440
	{
		margin-right: -10000px;
		width: 23.63%;
		left: 76.38%;
	}

	#u534413-4,#u534422-4,#u534438-4,#u534441-4
	{
		min-height: 26px;
		left: 59px;
		width: 70.79%;
	}

	#u534415,#u534424,#u534437,#u534447
	{
		left: 20px;
	}

	#u534420-14,#u534429-20,#u534435-22,#u534446-12
	{
		min-height: 41px;
		width: 85.77%;
		left: 7.5%;
	}

	#u534448
	{
		margin-top: 53px;
		width: 90.09%;
		margin-left: 4.96%;
	}

	#u534449-33
	{
		min-height: 41px;
	}

	#u534450
	{
		width: 52px;
		height: 52px;
	}

	#buttonu534410
	{
		padding-bottom: 14px;
		margin-top: 26px;
		width: 29.76%;
		margin-left: 34.05%;
	}

	#buttonu534410:hover
	{
		margin-top: 26px;
		width: 29.76%;
		margin-left: 34.05%;
	}

	#buttonu534410.ButtonSelected
	{
		margin-top: 26px;
		width: 29.76%;
		margin-left: 34.05%;
	}

	#u534411-4
	{
		min-height: 12px;
		margin-top: 13px;
	}

	#buttonu534410:hover #u534411-4
	{
		margin-top: 13px;
		min-height: 12px;
	}

	#buttonu534410.ButtonSelected #u534411-4
	{
		margin-top: 13px;
		min-height: 12px;
	}

	.css_verticalspacer .verticalspacer
	{
		height: calc(100vh - 585px);
	}

