.version.totor /* version checker */
{
	color: #00001F;
	background-color: #E1D301;
}

.js body
{
	visibility: hidden;
}

.js body.initialized
{
	visibility: visible;
}

@font-face
{
	font-family: '__Open Sans_5';
	src: url('../fonts/open-sans-v18-latin-700.eot');
	src: local('☺'), url('../fonts/open-sans-v18-latin-700.woff') format('woff'), url('../fonts/open-sans-v18-latin-700.svg') format('svg');
	font-weight: 700;
	font-style: normal;
}

@font-face
{
	font-family: '__Open Sans_5';
	src: url('../fonts/opensans-bolditalic-webfont.eot');
	src: local('☺'), url('../fonts/opensans-bolditalic-webfont.woff') format('woff'), url('../fonts/opensans-bolditalic-webfont.svg') format('svg');
	font-weight: 700;
	font-style: italic;
}

@font-face
{
	font-family: '__Open Sans_5';
	src: url('../fonts/open-sans-v18-latin-regular.eot');
	src: local('☺'), url('../fonts/open-sans-v18-latin-regular.woff') format('woff'), url('../fonts/open-sans-v18-latin-regular.svg') format('svg');
	font-weight: 400;
	font-style: normal;
}

#page
{
	margin-left: auto;
	border-width: 0px;
	z-index: 1;
	background-image: none;
	padding-top: 20px;
	background-color: #F1F1F1;
	margin-right: auto;
	width: 100%;
	border-color: #000000;
}

#u531945
{
	background-color: #FFFFFF;
	border-width: 0px;
	position: relative;
	border-radius: 10px;
	padding-bottom: 30px;
	border-color: transparent;
	z-index: 15;
}

#u531946-13
{
	color: #000000;
	font-family: '__Open Sans_5';
	text-align: justify;
	margin-top: 30px;
	font-size: 13px;
	position: relative;
	line-height: 2;
	font-weight: 400;
	background-color: transparent;
	z-index: 16;
	margin-right: -10000px;
}

#u531946
{
	font-style: italic;
	font-weight: 700;
	font-family: '__Open Sans_5';
}

#u531946-3,#u531946-5,#u531946-7,#u531946-9
{
	font-weight: 700;
	font-family: '__Open Sans_5';
}

#u531948
{
	border-width: 0px;
	position: relative;
	filter: alpha(opacity=100);
	z-index: 30;
	border-radius: 10px;
	border-color: transparent;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
	opacity: 1;
	background: transparent url("../images/logo_site_1.svg?crc=289558929") no-repeat center center;
	background-size: cover;
}

.nosvg #u531948
{
	background-image: url('../images/logo_site_1_poster_u531726.png?crc=297188781');
}

#u531947
{
	position: relative;
	filter: alpha(opacity=100);
	z-index: 29;
	margin-right: -10000px;
	border-radius: 10px;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
	opacity: 1;
	background: transparent url("../images/logo_site_2.svg?crc=463430305") no-repeat center center;
	background-size: cover;
}

.nosvg #u531947
{
	background-image: url('../images/logo_site_2_poster_u531734.png?crc=497566551');
}

#u531951
{
	position: relative;
	filter: alpha(opacity=100);
	z-index: 32;
	margin-right: -10000px;
	border-radius: 10px;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
	opacity: 1;
	background: transparent url("../images/logo_site_3.svg?crc=4091609446") no-repeat center center;
	background-size: cover;
}

.nosvg #u531951
{
	background-image: url('../images/logo_site_3_poster_u531742.png?crc=4229489969');
}

#u531947 .fluid_height_spacer,#u531951 .fluid_height_spacer
{
	padding-bottom: 100%;
}

#u531934
{
	position: relative;
	filter: alpha(opacity=100);
	z-index: 4;
	margin-right: -10000px;
	border-radius: 10px;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
	opacity: 1;
	background: #FFFFFF url("../images/cor2.svg?crc=4104871212") no-repeat center center;
	background-size: contain;
}

.nosvg #u531934
{
	background-image: url('../images/cor2_poster_u529807.png?crc=29197822');
}

#u531933
{
	position: relative;
	filter: alpha(opacity=100);
	z-index: 3;
	margin-right: -10000px;
	border-radius: 10px;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
	opacity: 1;
	background: #000000 url("../images/cor1.svg?crc=493090095") no-repeat center center;
	background-size: contain;
}

.nosvg #u531933
{
	background-image: url('../images/cor1_poster_u529799.png?crc=128672795');
}

#u531944
{
	position: relative;
	margin-top: 20px;
	z-index: 14;
	filter: alpha(opacity=100);
	border-radius: 10px;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
	opacity: 1;
	background: #FFFFFF url("../images/font.svg?crc=66497958") no-repeat center center;
	background-size: cover;
}

.nosvg #u531944
{
	background-image: url('../images/font_poster_u529751.png?crc=3855587026');
}

#u531949
{
	position: relative;
	margin-top: 20px;
	z-index: 31;
	filter: alpha(opacity=100);
	border-radius: 10px;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
	opacity: 1;
	background: transparent url("../images/template_todos.svg?crc=19012119") no-repeat center center;
	background-size: cover;
}

.nosvg #u531949
{
	background-image: url('../images/template_todos_poster_u531588.png?crc=4231625645');
}

#u531937
{
	position: relative;
	z-index: 7;
	filter: alpha(opacity=100);
	border-radius: 10px;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
	opacity: 1;
	background: transparent url("../images/template_chihuahua.svg?crc=3893653169") no-repeat center center;
	background-size: cover;
}

.nosvg #u531937
{
	background-image: url('../images/template_chihuahua_poster_u533235.png?crc=56519696');
}

#u531938
{
	position: relative;
	z-index: 8;
	filter: alpha(opacity=100);
	border-radius: 10px;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
	opacity: 1;
	background: transparent url("../images/template_poddle.svg?crc=4209980599") no-repeat center center;
	background-size: cover;
}

.nosvg #u531938
{
	background-image: url('../images/template_poddle_poster_u531580.png?crc=215587496');
}

#u531939
{
	position: relative;
	z-index: 9;
	filter: alpha(opacity=100);
	border-radius: 10px;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
	opacity: 1;
	background: transparent url("../images/template_golden1.svg?crc=25261923") no-repeat center center;
	background-size: cover;
}

.nosvg #u531939
{
	background-image: url('../images/template_golden1_poster_u531620.png?crc=89749974');
}

#u531941
{
	position: relative;
	z-index: 11;
	filter: alpha(opacity=100);
	border-radius: 10px;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
	opacity: 1;
	background: transparent url("../images/template_golden2.svg?crc=4084136497") no-repeat center center;
	background-size: cover;
}

.nosvg #u531941
{
	background-image: url('../images/template_golden2_poster_u531612.png?crc=250102430');
}

#u531942
{
	position: relative;
	z-index: 12;
	filter: alpha(opacity=100);
	border-radius: 10px;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
	opacity: 1;
	background: transparent url("../images/template_golden3.svg?crc=4175184785") no-repeat center center;
	background-size: cover;
}

.nosvg #u531942
{
	background-image: url('../images/template_golden3_poster_u531604.png?crc=4241522075');
}

#u531943
{
	position: relative;
	z-index: 13;
	filter: alpha(opacity=100);
	border-radius: 10px;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
	opacity: 1;
	background: transparent url("../images/template_golden4.svg?crc=4102635583") no-repeat center center;
	background-size: cover;
}

.nosvg #u531943
{
	background-image: url('../images/template_golden4_poster_u531636.png?crc=3916251039');
}

#u531940
{
	position: relative;
	z-index: 10;
	filter: alpha(opacity=100);
	border-radius: 10px;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
	opacity: 1;
	background: transparent url("../images/template_buldogue.svg?crc=3788522188") no-repeat center center;
	background-size: cover;
}

.nosvg #u531940
{
	background-image: url('../images/template_buldogue_poster_u531596.png?crc=171330644');
}

#u531936
{
	position: relative;
	margin-top: 20px;
	z-index: 6;
	filter: alpha(opacity=100);
	border-radius: 10px;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
	opacity: 1;
	background: transparent url("../images/template_dalmata.svg?crc=3768392558") no-repeat center center;
	background-size: cover;
}

.nosvg #u531936
{
	background-image: url('../images/template_dalmata_poster_u533243.png?crc=491261074');
}

#u531932
{
	position: relative;
	z-index: 2;
	filter: alpha(opacity=100);
	border-radius: 10px;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
	opacity: 1;
	background: transparent url("../images/template_husky.svg?crc=4286251805") no-repeat left top;
	background-size: cover;
}

.nosvg #u531932
{
	background-image: url('../images/template_husky_poster_u531804.png?crc=14602832');
}

#u531935
{
	position: relative;
	z-index: 5;
	filter: alpha(opacity=100);
	border-radius: 10px;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
	opacity: 1;
	background: transparent url("../images/template_tecnico.svg?crc=4019730414") no-repeat center center;
	background-size: cover;
}

.nosvg #u531935
{
	background-image: url('../images/template_tecnico_poster_u533251.png?crc=4014410980');
}

#u539755
{
	background-color: #F1F1F1;
	z-index: 33;
	height: 20px;
}

#u539755-bw
{
	z-index: 33;
	height: 20px;
}

.html
{
	background-color: #FFFFFF;
}

body
{
	position: relative;
}

@media (min-width: 756px), print
{
	#muse_css_mq
	{
		background-color: #FFFFFF;
	}

	#bp_infinity.active
	{
		display: block;
	}

	#page
	{
		min-height: 10997.992169465124px;
		padding-bottom: 0px;
		max-width: 1130px;
	}

	#u531945
	{
		width: 70.27%;
		margin-left: 14.87%;
	}

	#u531946-13
	{
		min-height: 69px;
		width: 90.56%;
		left: 4.66%;
	}

	#pu531948
	{
		z-index: 30;
		margin-top: 50px;
		width: 100%;
	}

	#u531948
	{
		margin-right: -10000px;
		width: 47.53%;
		left: 1.77%;
	}

	#u531947
	{
		width: 22.93%;
		left: 50.8%;
	}

	#u531951
	{
		width: 22.93%;
		left: 75.31%;
	}

	#pu531933
	{
		z-index: 3;
		margin-top: 19px;
		width: 100%;
	}

	#u531933
	{
		width: 47.53%;
		left: 1.77%;
	}

	#u531948 .fluid_height_spacer,#u531933 .fluid_height_spacer
	{
		padding-bottom: 48.23091247672253%;
	}

	#u531934
	{
		margin-top: 1px;
		width: 47.62%;
		left: 50.62%;
	}

	#u531934 .fluid_height_spacer
	{
		padding-bottom: 48.141263940520446%;
	}

	#u531944 .fluid_height_spacer
	{
		padding-bottom: 110.27522935779817%;
	}

	#u531949 .fluid_height_spacer
	{
		padding-bottom: 60%;
	}

	#u531937
	{
		margin-top: 21px;
		width: 96.47%;
		margin-left: 1.77%;
	}

	#u531938 .fluid_height_spacer
	{
		padding-bottom: 133.6697247706422%;
	}

	#ppu531939
	{
		z-index: 0;
		margin-top: 20px;
		width: 100%;
	}

	#pu531939
	{
		z-index: 9;
		padding-bottom: 0px;
		margin-right: -10000px;
		width: 47.53%;
		margin-left: 1.77%;
	}

	#pu531941
	{
		z-index: 11;
		padding-bottom: 0px;
		margin-right: -10000px;
		width: 47.53%;
		margin-left: 50.71%;
	}

	#u531939,#u531941
	{
		width: 100%;
	}

	#u531943 .fluid_height_spacer,#u531941 .fluid_height_spacer
	{
		padding-bottom: 137.43016759776538%;
	}

	#u531943,#u531942
	{
		margin-top: 20px;
		width: 100%;
	}

	#u531939 .fluid_height_spacer,#u531942 .fluid_height_spacer
	{
		padding-bottom: 100%;
	}

	#u531944,#u531949,#u531936
	{
		width: 96.47%;
		margin-left: 1.77%;
	}

	#u531938,#u531940,#u531932,#u531935
	{
		margin-top: 20px;
		width: 96.47%;
		margin-left: 1.77%;
	}

	#u531937 .fluid_height_spacer,#u531940 .fluid_height_spacer,#u531936 .fluid_height_spacer,#u531932 .fluid_height_spacer,#u531935 .fluid_height_spacer
	{
		padding-bottom: 100.27522935779815%;
	}

	#u539755-bw
	{
		margin-top: -1px;
		margin-bottom: -1px;
	}

	.css_verticalspacer .verticalspacer
	{
		height: calc(100vh - 11017px);
	}
}

@media (min-width: 401px) and (max-width: 755px)
{
	#muse_css_mq
	{
		background-color: #0002f3;
	}

	#bp_755.active
	{
		display: block;
	}

	#page
	{
		min-height: 8000px;
		max-width: 755px;
	}

	#u531945
	{
		width: 88.35%;
		margin-left: 5.83%;
	}

	#u531946-13
	{
		min-height: 69px;
		width: 89.51%;
		left: 5.25%;
	}

	#u531948
	{
		margin-top: 50px;
		width: 94.71%;
		margin-left: 2.65%;
	}

	#u531948 .fluid_height_spacer
	{
		padding-bottom: 47.83216783216783%;
	}

	#pu531947
	{
		z-index: 29;
		margin-top: 19px;
		width: 100%;
	}

	#pu531934
	{
		z-index: 4;
		margin-top: 20px;
		width: 100%;
	}

	#u531947,#u531934
	{
		width: 46.5%;
		left: 2.65%;
	}

	#u531951,#u531933
	{
		width: 46.5%;
		left: 50.87%;
	}

	#u531934 .fluid_height_spacer,#u531933 .fluid_height_spacer
	{
		padding-bottom: 64.95726495726495%;
	}

	#u531944 .fluid_height_spacer
	{
		padding-bottom: 110.76923076923077%;
	}

	#u531949 .fluid_height_spacer
	{
		padding-bottom: 60.13986013986013%;
	}

	#u531938 .fluid_height_spacer
	{
		padding-bottom: 133.84615384615384%;
	}

	#ppu531939
	{
		z-index: 0;
		margin-top: 21px;
		width: 100%;
	}

	#pu531939
	{
		z-index: 9;
		margin-right: -10000px;
		width: 46.5%;
		margin-left: 2.65%;
	}

	#pu531941
	{
		z-index: 11;
		margin-right: -10000px;
		width: 46.5%;
		margin-left: 50.87%;
	}

	#u531939,#u531941
	{
		width: 100%;
	}

	#u531943 .fluid_height_spacer,#u531941 .fluid_height_spacer
	{
		padding-bottom: 140.74074074074073%;
	}

	#u531943,#u531942
	{
		margin-top: 21px;
		width: 100%;
	}

	#u531939 .fluid_height_spacer,#u531942 .fluid_height_spacer
	{
		padding-bottom: 100%;
	}

	#u531944,#u531949,#u531936
	{
		width: 94.71%;
		margin-left: 2.65%;
	}

	#u531937,#u531938,#u531940,#u531932,#u531935
	{
		margin-top: 20px;
		width: 94.71%;
		margin-left: 2.65%;
	}

	#u531937 .fluid_height_spacer,#u531940 .fluid_height_spacer,#u531936 .fluid_height_spacer,#u531932 .fluid_height_spacer,#u531935 .fluid_height_spacer
	{
		padding-bottom: 100.69930069930071%;
	}

	.css_verticalspacer .verticalspacer
	{
		height: calc(100vh - 8039px);
	}

	body
	{
		overflow-x: hidden;
	}
}

@media (max-width: 400px)
{
	/*

*/

	#muse_css_mq
	{
		background-color: #000190;
	}

	#bp_400.active
	{
		display: block;
	}

	#page
	{
		min-height: 5749.975309px;
		padding-bottom: 0px;
		max-width: 400px;
	}

	#u531945
	{
		width: 79.25%;
		margin-left: 10.5%;
	}

	#u531946-13
	{
		min-height: 103px;
		width: 78.87%;
		left: 10.42%;
	}

	#u531948
	{
		margin-top: 50px;
		width: 90%;
		margin-left: 5%;
	}

	#u531948 .fluid_height_spacer
	{
		padding-bottom: 48.61111111111111%;
	}

	#pu531947
	{
		z-index: 29;
		margin-top: 20px;
		width: 100%;
	}

	#pu531934
	{
		z-index: 4;
		margin-top: 20px;
		width: 100%;
	}

	#u531947,#u531934
	{
		width: 43.75%;
		left: 5%;
	}

	#u531951,#u531933
	{
		width: 43.75%;
		left: 51.25%;
	}

	#u531934 .fluid_height_spacer,#u531933 .fluid_height_spacer
	{
		padding-bottom: 63.42857142857142%;
	}

	#u531944 .fluid_height_spacer
	{
		padding-bottom: 111.94444444444444%;
	}

	#u531949 .fluid_height_spacer
	{
		padding-bottom: 60.27777777777777%;
	}

	#u531937,#u531939
	{
		margin-top: 20px;
		width: 90%;
		margin-left: 5%;
	}

	#u531938 .fluid_height_spacer,#u531941 .fluid_height_spacer,#u531943 .fluid_height_spacer
	{
		padding-bottom: 135.55555555555557%;
	}

	#u531944,#u531949,#u531936
	{
		width: 90%;
		margin-left: 5%;
	}

	#u531938,#u531941,#u531942,#u531943,#u531940,#u531932,#u531935
	{
		margin-top: 19px;
		width: 90%;
		margin-left: 5%;
	}

	#u531937 .fluid_height_spacer,#u531939 .fluid_height_spacer,#u531942 .fluid_height_spacer,#u531940 .fluid_height_spacer,#u531936 .fluid_height_spacer,#u531932 .fluid_height_spacer,#u531935 .fluid_height_spacer
	{
		padding-bottom: 101.94444444444444%;
	}

	.css_verticalspacer .verticalspacer
	{
		height: calc(100vh - 5770px);
	}

	body
	{
		overflow-x: hidden;
		min-width: 320px;
	}
}

