.version.totor /* version checker */
{
	color: #0000F3;
	background-color: #C40196;
}

@font-face
{
	font-family: '__Open Sans_5';
	src: url('../fonts/open-sans-v18-latin-700.eot');
	src: local('☺'), url('../fonts/open-sans-v18-latin-700.woff') format('woff'), url('../fonts/open-sans-v18-latin-700.svg') format('svg');
	font-weight: 700;
	font-style: normal;
}

@font-face
{
	font-family: '__Open Sans_5';
	src: url('../fonts/opensans-bolditalic-webfont.eot');
	src: local('☺'), url('../fonts/opensans-bolditalic-webfont.woff') format('woff'), url('../fonts/opensans-bolditalic-webfont.svg') format('svg');
	font-weight: 700;
	font-style: italic;
}

@font-face
{
	font-family: '__Open Sans_5';
	src: url('../fonts/open-sans-v18-latin-regular.eot');
	src: local('☺'), url('../fonts/open-sans-v18-latin-regular.woff') format('woff'), url('../fonts/open-sans-v18-latin-regular.svg') format('svg');
	font-weight: 400;
	font-style: normal;
}

#page
{
	z-index: 1;
	margin-left: auto;
	margin-right: auto;
	border-color: #000000;
	width: 100%;
	border-width: 0px;
	background-image: none;
	background-color: #F1F1F1;
}

#buttonu524045
{
	min-height: 55px;
	z-index: 43;
	position: fixed;
	top: 0px;
	background-color: #FFFFFF;
	border-color: #787878;
}

#buttonu524045:hover
{
	min-height: 55px;
	margin: 0px;
}

#buttonu524045.ButtonSelected
{
	min-height: 55px;
	margin: 0px;
}

#buttonu524045_align_to_page
{
	margin-right: auto;
	margin-left: auto;
	position: relative;
}

#buttonu524224
{
	border-color: #787878;
	position: relative;
	opacity: 1;
	filter: alpha(opacity=100);
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
	z-index: 58;
	margin-right: -10000px;
	width: 55px;
	height: 55px;
	background: #FFFFFF url("../images/anterior1.svg?crc=430490106") no-repeat center bottom;
	background-size: cover;
}

.nosvg #buttonu524224
{
	background-image: url('../images/anterior1_poster_u524602.png?crc=528006061');
}

#buttonu524224:hover
{
	height: 55px;
	min-height: 0px;
	background-position: center bottom;
	background-repeat: no-repeat;
	width: 55px;
	margin: 0px -10000px 0px 0px;
	background-size: cover;
}

#buttonu524224:active
{
	height: 55px;
	min-height: 0px;
	background-position: center bottom;
	background-repeat: no-repeat;
	width: 55px;
	margin: 0px -10000px 0px 0px;
	background-size: cover;
}

#buttonu524224.ButtonSelected
{
	height: 55px;
	min-height: 0px;
	background-position: center bottom;
	background-repeat: no-repeat;
	width: 55px;
	margin: 0px -10000px 0px 0px;
	background-size: cover;
}

#u524074-4
{
	margin-right: -10000px;
	color: #B4B4B4;
	background-color: transparent;
	position: relative;
	text-align: center;
	line-height: 3.4;
	min-height: 55px;
	font-family: '__Open Sans_5';
	z-index: 48;
	font-weight: 700;
	width: 35px;
	font-size: 16px;
	letter-spacing: 0px;
}

#buttonu524045:hover #u524074-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 55px;
	width: 35px;
	margin: 0px -10000px 0px 0%;
}

#buttonu524045:hover #u524074-4 p
{
	text-align: center;
	font-size: 16px;
	line-height: 3.4;
}

#u524073-4
{
	margin-right: -10000px;
	color: #B4B4B4;
	background-color: transparent;
	position: relative;
	text-align: center;
	line-height: 3.4;
	min-height: 55px;
	font-family: '__Open Sans_5';
	z-index: 44;
	font-weight: 700;
	width: 35px;
	font-size: 16px;
	letter-spacing: 0px;
}

#buttonu524045.ButtonSelected #u524074-4,#buttonu524045:hover #u524073-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 55px;
	width: 35px;
	margin: 0px -10000px 0px 0%;
}

#buttonu524045.ButtonSelected #u524074-4 p,#buttonu524045:hover #u524073-4 p
{
	text-align: center;
	font-size: 16px;
	line-height: 3.4;
}

#u524075-4
{
	margin-right: -10000px;
	background-color: transparent;
	position: relative;
	text-align: center;
	line-height: 3.4;
	min-height: 55px;
	font-family: '__Open Sans_5';
	letter-spacing: 0px;
	font-weight: 700;
	width: 35px;
	font-size: 16px;
	z-index: 52;
}

#buttonu524045.ButtonSelected #u524073-4,#buttonu524045:hover #u524075-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 55px;
	width: 35px;
	margin: 0px -10000px 0px 0%;
}

#buttonu524045.ButtonSelected #u524075-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 55px;
	width: 35px;
	margin: 0px -10000px 0px 0%;
}

#buttonu524045.ButtonSelected #u524073-4 p,#buttonu524045:hover #u524075-4 p
{
	text-align: center;
	font-size: 16px;
	line-height: 3.4;
}

#buttonu524045.ButtonSelected #u524075-4 p
{
	text-align: center;
	font-size: 16px;
	line-height: 3.4;
}

#buttonu524207
{
	border-color: #787878;
	position: relative;
	opacity: 1;
	filter: alpha(opacity=100);
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
	z-index: 57;
	margin-right: -10000px;
	width: 55px;
	height: 55px;
	background: #FFFFFF url("../images/proximo1.svg?crc=329782524") no-repeat center bottom;
	background-size: cover;
}

.nosvg #buttonu524207
{
	background-image: url('../images/proximo1_poster_u524610.png?crc=447422520');
}

#buttonu524207:hover
{
	min-height: 0px;
	background-position: center bottom;
	background-repeat: no-repeat;
	height: 55px;
	width: 55px;
	margin: 0px -10000px 0px 0%;
	background-size: cover;
}

#buttonu524207.ButtonSelected
{
	min-height: 0px;
	background-position: center bottom;
	background-repeat: no-repeat;
	height: 55px;
	width: 55px;
	margin: 0px -10000px 0px 0%;
	background-size: cover;
}

#buttonu524189
{
	left: -55px;
	margin-left: 100%;
	border-color: #787878;
	position: relative;
	opacity: 1;
	filter: alpha(opacity=100);
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
	z-index: 56;
	margin-right: -10000px;
	width: 55px;
	height: 55px;
	background: #FFFFFF url("../images/fechar.svg?crc=4163833896") no-repeat center top;
	background-size: cover;
}

.nosvg #buttonu524189
{
	left: -55px;
	background-image: url('../images/fechar_poster_u524618.png?crc=4121185911');
	margin-left: 100%;
}

#buttonu524189:hover
{
	min-height: 0px;
	background-position: center bottom;
	background-repeat: no-repeat;
	height: 55px;
	left: -55px;
	width: 55px;
	margin: 0px -10000px 0px 100%;
	background-size: cover;
}

#buttonu524189:active
{
	min-height: 0px;
	background-position: center top;
	background-repeat: no-repeat;
	height: 55px;
	left: -55px;
	width: 55px;
	margin: 0px -10000px 0px 100%;
	background-size: cover;
}

#buttonu524045-bw
{
	z-index: 43;
}

#pu521319
{
	margin-right: -10000px;
	margin-top: 105px;
	z-index: 19;
}

#u521319
{
	padding-bottom: 30px;
	border-radius: 10px;
	z-index: 19;
	position: relative;
	left: 0%;
	background-color: #FFFFFF;
}

#u521313-13
{
	margin-right: -10000px;
	color: #000000;
	position: relative;
	text-align: justify;
	line-height: 2;
	margin-top: 30px;
	font-family: '__Open Sans_5';
	z-index: 20;
	font-weight: 400;
	font-size: 13px;
	background-color: transparent;
}

#u521313
{
	font-weight: 700;
	font-family: '__Open Sans_5';
	font-style: italic;
}

#u521313-3,#u521313-5,#u521313-7,#u521313-9
{
	font-weight: 700;
	font-family: '__Open Sans_5';
}

#u521316
{
	border-color: transparent;
	position: relative;
	opacity: 1;
	border-width: 0px;
	filter: alpha(opacity=100);
	border-radius: 10px;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
	z-index: 36;
	background: transparent url("../images/logo_site_1.svg?crc=289558929") no-repeat center center;
	background-size: cover;
}

.nosvg #u521316
{
	background-image: url('../images/logo_site_1_poster_u531726.png?crc=297188781');
}

#u521322
{
	position: relative;
	opacity: 1;
	filter: alpha(opacity=100);
	border-radius: 10px;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
	z-index: 33;
	margin-right: -10000px;
	background: transparent url("../images/logo_site_2.svg?crc=463430305") no-repeat center center;
	background-size: cover;
}

.nosvg #u521322
{
	background-image: url('../images/logo_site_2_poster_u531734.png?crc=497566551');
}

#u521445
{
	position: relative;
	opacity: 1;
	filter: alpha(opacity=100);
	border-radius: 10px;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
	z-index: 41;
	margin-right: -10000px;
	background: transparent url("../images/logo_site_3.svg?crc=4091609446") no-repeat center center;
	background-size: cover;
}

.nosvg #u521445
{
	background-image: url('../images/logo_site_3_poster_u531742.png?crc=4229489969');
}

#u529116
{
	position: relative;
	opacity: 1;
	filter: alpha(opacity=100);
	border-radius: 10px;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
	z-index: 8;
	margin-right: -10000px;
	background: #FFFFFF url("../images/cor2.svg?crc=4104871212") no-repeat center center;
	background-size: contain;
}

.nosvg #u529116
{
	background-image: url('../images/cor2_poster_u529807.png?crc=29197822');
}

#u529114
{
	position: relative;
	opacity: 1;
	filter: alpha(opacity=100);
	border-radius: 10px;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
	z-index: 7;
	margin-right: -10000px;
	background: #000000 url("../images/cor1.svg?crc=493090095") no-repeat center center;
	background-size: contain;
}

.nosvg #u529114
{
	background-image: url('../images/cor1_poster_u529799.png?crc=128672795');
}

#u524864
{
	left: 0%;
	position: relative;
	opacity: 1;
	filter: alpha(opacity=100);
	border-radius: 10px;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
	z-index: 18;
	width: 100%;
	background: #FFFFFF url("../images/font.svg?crc=66497958") no-repeat center center;
	background-size: cover;
}

.nosvg #u524864
{
	left: 0%;
	background-image: url('../images/font_poster_u529751.png?crc=3855587026');
}

#u524864 .fluid_height_spacer
{
	padding-bottom: 110.00000000000001%;
}

#pu521311
{
	left: 0%;
	width: 100%;
	margin-top: 20px;
	z-index: 34;
}

#u521311
{
	position: relative;
	opacity: 1;
	filter: alpha(opacity=100);
	border-radius: 10px;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
	z-index: 34;
	margin-right: -10000px;
	background: transparent url("../images/site_chihuahua.svg?crc=3765559165") no-repeat center center;
	background-size: cover;
}

.nosvg #u521311
{
	background-image: url('../images/site_chihuahua_poster_u530593.png?crc=242179431');
}

#u521640
{
	position: relative;
	opacity: 1;
	filter: alpha(opacity=100);
	border-radius: 10px;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
	z-index: 42;
	margin-right: -10000px;
	background: transparent url("../images/site_poodle.svg?crc=498633756") no-repeat center center;
	background-size: cover;
}

.nosvg #u521640
{
	background-image: url('../images/site_poodle_poster_u531024.png?crc=436390743');
}

#u521318
{
	position: relative;
	opacity: 1;
	filter: alpha(opacity=100);
	border-radius: 10px;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
	z-index: 39;
	margin-right: -10000px;
	background: transparent url("../images/site_golden.svg?crc=411968410") no-repeat center center;
	background-size: cover;
}

.nosvg #u521318
{
	background-image: url('../images/site_golden_poster_u530721.png?crc=4228779001');
}

#u521320
{
	position: relative;
	opacity: 1;
	filter: alpha(opacity=100);
	border-radius: 10px;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
	z-index: 37;
	margin-right: -10000px;
	background: transparent url("../images/site_buldogue.svg?crc=3879190394") no-repeat center top;
	background-size: cover;
}

.nosvg #u521320
{
	background-image: url('../images/site_buldogue_poster_u530304.png?crc=3896260404');
}

#u522903
{
	position: relative;
	opacity: 1;
	filter: alpha(opacity=100);
	border-radius: 10px;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
	z-index: 6;
	margin-right: -10000px;
	background: transparent url("../images/site_dalmata.svg?crc=4195258058") no-repeat left top;
	background-size: cover;
}

.nosvg #u522903
{
	background-image: url('../images/site_dalmata_poster_u530312.png?crc=214196804');
}

#u521317
{
	position: relative;
	opacity: 1;
	filter: alpha(opacity=100);
	border-radius: 10px;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
	z-index: 35;
	margin-right: -10000px;
	background: transparent url("../images/site_husky.svg?crc=347055059") no-repeat center center;
	background-size: cover;
}

.nosvg #u521317
{
	background-image: url('../images/site_husky_poster_u530296.png?crc=3933047158');
}

#u521310
{
	left: 0%;
	position: relative;
	opacity: 1;
	filter: alpha(opacity=100);
	border-radius: 10px;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
	z-index: 38;
	width: 100%;
	background: transparent url("../images/template_todos.svg?crc=19012119") no-repeat center center;
	background-size: cover;
}

.nosvg #u521310
{
	left: 0%;
	background-image: url('../images/template_todos_poster_u531588.png?crc=4231625645');
}

#u521324
{
	position: relative;
	opacity: 1;
	filter: alpha(opacity=100);
	border-radius: 10px;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
	z-index: 11;
	width: 100%;
	background: transparent url("../images/template_chihuahua.svg?crc=502710276") no-repeat center center;
	background-size: cover;
}

.nosvg #u521324
{
	background-image: url('../images/template_chihuahua_poster_u531628.png?crc=68211884');
}

#u521314
{
	position: relative;
	opacity: 1;
	filter: alpha(opacity=100);
	border-radius: 10px;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
	z-index: 12;
	width: 100%;
	background: transparent url("../images/template_poddle.svg?crc=4209980599") no-repeat center center;
	background-size: cover;
}

.nosvg #u521314
{
	background-image: url('../images/template_poddle_poster_u531580.png?crc=215587496');
}

#u521312
{
	position: relative;
	opacity: 1;
	filter: alpha(opacity=100);
	border-radius: 10px;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
	z-index: 13;
	width: 100%;
	background: transparent url("../images/template_golden1.svg?crc=25261923") no-repeat center center;
	background-size: cover;
}

.nosvg #u521312
{
	background-image: url('../images/template_golden1_poster_u531620.png?crc=89749974');
}

#u525035
{
	position: relative;
	opacity: 1;
	filter: alpha(opacity=100);
	border-radius: 10px;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
	z-index: 15;
	width: 100%;
	background: transparent url("../images/template_golden2.svg?crc=4084136497") no-repeat center center;
	background-size: cover;
}

.nosvg #u525035
{
	background-image: url('../images/template_golden2_poster_u531612.png?crc=250102430');
}

#u525044
{
	position: relative;
	opacity: 1;
	filter: alpha(opacity=100);
	border-radius: 10px;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
	z-index: 16;
	width: 100%;
	background: transparent url("../images/template_golden3.svg?crc=4175184785") no-repeat center center;
	background-size: cover;
}

.nosvg #u525044
{
	background-image: url('../images/template_golden3_poster_u531604.png?crc=4241522075');
}

#u525053
{
	position: relative;
	opacity: 1;
	filter: alpha(opacity=100);
	margin-top: 20px;
	border-radius: 10px;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
	z-index: 17;
	width: 100%;
	background: transparent url("../images/template_golden4.svg?crc=4102635583") no-repeat center center;
	background-size: cover;
}

.nosvg #u525053
{
	background-image: url('../images/template_golden4_poster_u531636.png?crc=3916251039');
}

#u521323
{
	position: relative;
	opacity: 1;
	filter: alpha(opacity=100);
	border-radius: 10px;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
	z-index: 14;
	width: 100%;
	background: transparent url("../images/template_buldogue.svg?crc=3788522188") no-repeat center center;
	background-size: cover;
}

.nosvg #u521323
{
	background-image: url('../images/template_buldogue_poster_u531596.png?crc=171330644');
}

#u527203
{
	left: 0%;
	position: relative;
	opacity: 1;
	filter: alpha(opacity=100);
	border-radius: 10px;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
	z-index: 10;
	width: 100%;
	background: transparent url("../images/template_dalmata.svg?crc=6209567") no-repeat center center;
	background-size: cover;
}

.nosvg #u527203
{
	left: 0%;
	background-image: url('../images/template_dalmata_poster_u531572.png?crc=3842175736');
}

#u526139
{
	position: relative;
	opacity: 1;
	filter: alpha(opacity=100);
	border-radius: 10px;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
	z-index: 2;
	background: transparent url("../images/template_husky1.svg?crc=3910733838") no-repeat left top;
	background-size: cover;
}

.nosvg #u526139
{
	background-image: url('../images/template_husky1_poster_u531644.png?crc=99189843');
}

#u531652
{
	position: relative;
	opacity: 1;
	filter: alpha(opacity=100);
	border-radius: 10px;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
	z-index: 3;
	background: transparent url("../images/template_husky2.svg?crc=4026531711") no-repeat left top;
	background-size: cover;
}

.nosvg #u531652
{
	background-image: url('../images/template_husky2_poster_u531661.png?crc=3987077271');
}

#u531670
{
	position: relative;
	opacity: 1;
	filter: alpha(opacity=100);
	border-radius: 10px;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
	z-index: 5;
	background: transparent url("../images/template_husky3.svg?crc=443517685") no-repeat left top;
	background-size: cover;
}

.nosvg #u531670
{
	background-image: url('../images/template_husky3_poster_u531701.png?crc=3781268186');
}

#u531669
{
	position: relative;
	opacity: 1;
	filter: alpha(opacity=100);
	border-radius: 10px;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
	z-index: 4;
	background: transparent url("../images/template_husky4.svg?crc=4163194030") no-repeat left top;
	background-size: cover;
}

.nosvg #u531669
{
	background-image: url('../images/template_husky4_poster_u531693.png?crc=304669757');
}

#u528538
{
	left: 0%;
	position: relative;
	opacity: 1;
	filter: alpha(opacity=100);
	border-radius: 10px;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
	z-index: 9;
	width: 100%;
	background: transparent url("../images/template_tecnico.svg?crc=226283431") no-repeat center center;
	background-size: cover;
}

.nosvg #u528538
{
	left: 0%;
	background-image: url('../images/template_tecnico_poster_u531106.png?crc=4236028367');
}

#u521322 .fluid_height_spacer,#u521445 .fluid_height_spacer,#u521324 .fluid_height_spacer,#u521312 .fluid_height_spacer,#u521323 .fluid_height_spacer,#u527203 .fluid_height_spacer,#u526139 .fluid_height_spacer,#u531652 .fluid_height_spacer,#u531670 .fluid_height_spacer,#u531669 .fluid_height_spacer,#u528538 .fluid_height_spacer
{
	padding-bottom: 100%;
}

#u521309
{
	left: -70px;
	position: relative;
	opacity: 1;
	filter: alpha(opacity=100);
	margin-top: 20px;
	border-radius: 10px 10px 0px 0px ;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
	z-index: 40;
	width: 140px;
	height: 50px;
	background: #000000 url("../images/uminimo.svg?crc=507500714") no-repeat center center;
	background-size: contain;
}

.nosvg #u521309
{
	left: -70px;
	background-image: url('../images/uminimo_poster_u524327.png?crc=330049046');
}

.html
{
	background-color: #FFFFFF;
}

body
{
	position: relative;
}

@media (min-width: 861px), print
{
	#muse_css_mq
	{
		background-color: #FFFFFF;
	}

	#bp_infinity.active
	{
		display: block;
	}

	#page
	{
		min-height: 6703px;
		max-width: 1210px;
	}

	#buttonu524045_align_to_page
	{
		max-width: 1210px;
	}

	#u524074-4
	{
		left: 26.04%;
	}

	#u524073-4
	{
		left: 28.93%;
	}

	#u524075-4
	{
		left: 31.82%;
	}

	#buttonu524207
	{
		left: 56.2%;
	}

	#pu521319
	{
		width: 96.7%;
	}

	#u521319
	{
		width: 72.65%;
		margin-left: 15.39%;
	}

	#u521313-13
	{
		min-height: 69px;
		width: 90.59%;
		left: 4.71%;
	}

	#pu521316
	{
		z-index: 36;
		margin-top: 50px;
		width: 100%;
		left: 0%;
		margin-left: 1.71%;
	}

	#u521322
	{
		width: 23.68%;
		left: 50.77%;
	}

	#u521445
	{
		width: 23.68%;
		left: 76.33%;
	}

	#pu529114
	{
		z-index: 7;
		margin-top: 20px;
		width: 100%;
		left: 0%;
		margin-left: 1.71%;
	}

	#u529114
	{
		width: 49.15%;
	}

	#u521316 .fluid_height_spacer,#u529114 .fluid_height_spacer
	{
		padding-bottom: 48.17391304347826%;
	}

	#u529116
	{
		width: 49.24%;
		left: 50.77%;
	}

	#u529116 .fluid_height_spacer
	{
		padding-bottom: 48.09027777777778%;
	}

	#u524864
	{
		margin-top: 20px;
		margin-left: 1.71%;
	}

	#u521640
	{
		width: 32.23%;
		left: 33.94%;
	}

	#pu521320
	{
		z-index: 37;
		margin-top: 20px;
		width: 100%;
		left: 0%;
		margin-left: 1.71%;
	}

	#u521311,#u521320
	{
		width: 32.14%;
	}

	#u522903
	{
		width: 32.23%;
		left: 33.85%;
	}

	#u521640 .fluid_height_spacer,#u522903 .fluid_height_spacer
	{
		padding-bottom: 124.6684350132626%;
	}

	#u521318,#u521317
	{
		width: 32.14%;
		left: 67.87%;
	}

	#u521311 .fluid_height_spacer,#u521318 .fluid_height_spacer,#u521320 .fluid_height_spacer,#u521317 .fluid_height_spacer
	{
		padding-bottom: 125%;
	}

	#u521310
	{
		margin-top: 21px;
		margin-left: 1.71%;
	}

	#u521310 .fluid_height_spacer
	{
		padding-bottom: 59.82905982905983%;
	}

	#ppu521324
	{
		z-index: 0;
		margin-top: 20px;
		width: 100%;
		left: 0%;
		margin-left: 1.71%;
	}

	#pu521324
	{
		z-index: 11;
		padding-bottom: 0px;
		margin-right: -10000px;
		width: 49.15%;
	}

	#ppu521312
	{
		z-index: 0;
		margin-top: 20px;
		width: 100%;
	}

	#pu521312
	{
		z-index: 13;
		padding-bottom: 0px;
		margin-right: -10000px;
		width: 48.18%;
	}

	#u525053 .fluid_height_spacer
	{
		padding-bottom: 177.9783393501805%;
	}

	#pu525035
	{
		z-index: 15;
		margin-right: -10000px;
		width: 48.35%;
		margin-left: 51.66%;
	}

	#u525035 .fluid_height_spacer
	{
		padding-bottom: 177.33812949640287%;
	}

	#u525044 .fluid_height_spacer
	{
		padding-bottom: 99.64028776978418%;
	}

	#pu521314
	{
		z-index: 12;
		padding-bottom: 0px;
		margin-right: -10000px;
		width: 49.15%;
		margin-left: 50.86%;
	}

	#u521314 .fluid_height_spacer
	{
		padding-bottom: 137.3913043478261%;
	}

	#u525044,#u521323
	{
		margin-top: 20px;
	}

	#u527203
	{
		margin-top: 21px;
		margin-left: 1.71%;
	}

	#pu526139
	{
		z-index: 2;
		margin-top: 20px;
		width: 100%;
		left: 0%;
		margin-left: 1.71%;
	}

	#pu531670
	{
		z-index: 5;
		margin-top: 20px;
		width: 100%;
		left: 0%;
		margin-left: 1.71%;
	}

	#u521316,#u526139,#u531670
	{
		margin-right: -10000px;
		width: 49.15%;
	}

	#u531652,#u531669
	{
		margin-right: -10000px;
		width: 49.15%;
		left: 50.86%;
	}

	#u528538
	{
		margin-top: 21px;
		margin-left: 1.71%;
	}

	.nosvg #u524864,#pu521311,.nosvg #u521310,.nosvg #u527203,.nosvg #u528538
	{
		margin-left: 1.71%;
	}

	#u521309
	{
		margin-left: 51.71%;
	}

	.nosvg #u521309
	{
		margin-left: 51.71%;
	}

	.css_verticalspacer .verticalspacer
	{
		height: calc(100vh - 8921px);
	}

}

@media (min-width: 481px) and (max-width: 860px)
{
	#muse_css_mq
	{
		background-color: #00035c;
	}

	#bp_860.active
	{
		display: block;
	}

	#page
	{
		min-height: 5118px;
		max-width: 860px;
	}

	#buttonu524045_align_to_page
	{
		max-width: 860px;
	}

	#u524074-4
	{
		left: 25%;
	}

	#u524073-4
	{
		left: 29.07%;
	}

	#u524075-4
	{
		left: 33.14%;
	}

	#buttonu524207
	{
		left: 55.82%;
	}

	#pu521319
	{
		padding-bottom: 0px;
		width: 95.35%;
	}

	#u521319
	{
		width: 92.69%;
		margin-left: 6.1%;
	}

	#u521313-13
	{
		min-height: 69px;
		width: 89.48%;
		left: 5.27%;
	}

	#u521316
	{
		margin-top: 50px;
		width: 100%;
		left: 0%;
		margin-left: 2.44%;
	}

	#u521316 .fluid_height_spacer
	{
		padding-bottom: 47.4390243902439%;
	}

	#pu521322
	{
		z-index: 33;
		margin-top: 20px;
		width: 100%;
		left: 0%;
		margin-left: 2.44%;
	}

	#pu529116
	{
		z-index: 8;
		margin-top: 20px;
		width: 100%;
		left: 0%;
		margin-left: 2.44%;
	}

	#u521322,#u529116
	{
		width: 48.79%;
	}

	#u521445,#u529114
	{
		width: 48.79%;
		left: 51.22%;
	}

	#u529116 .fluid_height_spacer,#u529114 .fluid_height_spacer
	{
		padding-bottom: 65%;
	}

	#u524864
	{
		margin-top: 19px;
		margin-left: 2.44%;
	}

	#u521311
	{
		width: 31.71%;
	}

	#u521640
	{
		width: 31.71%;
		left: 34.15%;
	}

	#pu521320
	{
		z-index: 37;
		margin-top: 20px;
		width: 100%;
		left: 0%;
		margin-left: 2.44%;
	}

	#u521320
	{
		margin-top: 1px;
		width: 31.71%;
	}

	#u522903
	{
		margin-top: 1px;
		width: 31.71%;
		left: 34.15%;
	}

	#u521318,#u521317
	{
		width: 31.71%;
		left: 68.3%;
	}

	#u521311 .fluid_height_spacer,#u521640 .fluid_height_spacer,#u521318 .fluid_height_spacer,#u521320 .fluid_height_spacer,#u522903 .fluid_height_spacer,#u521317 .fluid_height_spacer
	{
		padding-bottom: 126.92307692307692%;
	}

	#u521310
	{
		margin-top: 21px;
		margin-left: 2.44%;
	}

	#u521310 .fluid_height_spacer
	{
		padding-bottom: 59.756097560975604%;
	}

	#u521324
	{
		margin-top: 20px;
		left: 0%;
		margin-left: 2.44%;
	}

	#u521314
	{
		margin-top: 20px;
		left: 0%;
		margin-left: 2.44%;
	}

	#u521314 .fluid_height_spacer
	{
		padding-bottom: 119.8780487804878%;
	}

	#ppu521312
	{
		z-index: 0;
		margin-top: 21px;
		width: 100%;
		left: 0%;
		margin-left: 2.44%;
	}

	#pu521312
	{
		z-index: 13;
		padding-bottom: 0px;
		margin-right: -10000px;
		width: 48.79%;
	}

	#pu525035
	{
		z-index: 15;
		padding-bottom: 0px;
		margin-right: -10000px;
		width: 48.79%;
		margin-left: 51.22%;
	}

	#u525053 .fluid_height_spacer,#u525035 .fluid_height_spacer
	{
		padding-bottom: 140.75%;
	}

	#u525044
	{
		margin-top: 20px;
	}

	#u525044 .fluid_height_spacer
	{
		padding-bottom: 100%;
	}

	#u521323
	{
		margin-top: 20px;
		left: 0%;
		margin-left: 2.44%;
	}

	.nosvg #u521316,.nosvg #u521324,.nosvg #u521314,.nosvg #u521323
	{
		left: 0%;
		margin-left: 2.44%;
	}

	#u527203
	{
		margin-top: 21px;
		margin-left: 2.44%;
	}

	#pu526139
	{
		z-index: 2;
		margin-top: 20px;
		width: 100%;
		left: 0%;
		margin-left: 2.44%;
	}

	#pu531670
	{
		z-index: 5;
		margin-top: 20px;
		width: 100%;
		left: 0%;
		margin-left: 2.44%;
	}

	#u526139,#u531670
	{
		margin-right: -10000px;
		width: 48.79%;
	}

	#u531652,#u531669
	{
		margin-right: -10000px;
		width: 48.79%;
		left: 51.22%;
	}

	#u528538
	{
		margin-top: 20px;
		margin-left: 2.44%;
	}

	.nosvg #u524864,#pu521311,.nosvg #u521310,.nosvg #u527203,.nosvg #u528538
	{
		margin-left: 2.44%;
	}

	#u521309
	{
		margin-left: 52.44%;
	}

	.nosvg #u521309
	{
		margin-left: 52.44%;
	}

	.css_verticalspacer .verticalspacer
	{
		height: calc(100vh - 9792px);
	}

	body
	{
		overflow-x: hidden;
	}

}

@media (max-width: 480px)
{
	/*

*/

	#muse_css_mq
	{
		background-color: #0001e0;
	}

	#bp_480.active
	{
		display: block;
	}

	#page
	{
		min-height: 6757px;
		max-width: 480px;
	}

	#buttonu524045_align_to_page
	{
		max-width: 480px;
	}

	#u524074-4
	{
		left: 20.84%;
	}

	#u524073-4
	{
		left: 28.13%;
	}

	#u524075-4
	{
		left: 35.42%;
	}

	#buttonu524207
	{
		left: 52.09%;
	}

	#pu521319
	{
		width: 91.67%;
	}

	#u521319
	{
		width: 86.37%;
		margin-left: 11.37%;
	}

	#u521313-13
	{
		min-height: 103px;
		width: 78.95%;
		left: 10.53%;
	}

	#u521316
	{
		margin-top: 50px;
		width: 100%;
		left: 0%;
		margin-left: 4.55%;
	}

	#u521316 .fluid_height_spacer
	{
		padding-bottom: 47.72727272727273%;
	}

	#pu521322
	{
		z-index: 33;
		margin-top: 20px;
		width: 100%;
		left: 0%;
		margin-left: 4.55%;
	}

	#pu529116
	{
		z-index: 8;
		margin-top: 20px;
		width: 100%;
		left: 0%;
		margin-left: 4.55%;
	}

	#u529116 .fluid_height_spacer,#u529114 .fluid_height_spacer
	{
		padding-bottom: 63.33333333333333%;
	}

	#u524864
	{
		margin-top: 20px;
		margin-left: 4.55%;
	}

	#pu521318
	{
		z-index: 39;
		margin-top: 20px;
		width: 100%;
		left: 0%;
		margin-left: 4.55%;
	}

	#pu522903
	{
		z-index: 6;
		margin-top: 20px;
		width: 100%;
		left: 0%;
		margin-left: 4.55%;
	}

	#u521322,#u529116,#u521311,#u521318,#u522903
	{
		width: 47.73%;
	}

	#u521445,#u529114,#u521640,#u521320,#u521317
	{
		width: 47.73%;
		left: 52.28%;
	}

	#u521311 .fluid_height_spacer,#u521640 .fluid_height_spacer,#u521318 .fluid_height_spacer,#u521320 .fluid_height_spacer,#u522903 .fluid_height_spacer,#u521317 .fluid_height_spacer
	{
		padding-bottom: 123.80952380952381%;
	}

	#u521310
	{
		margin-top: 20px;
		margin-left: 4.55%;
	}

	#u521310 .fluid_height_spacer
	{
		padding-bottom: 59.09090909090909%;
	}

	#u521324
	{
		margin-top: 20px;
		left: 0%;
		margin-left: 4.55%;
	}

	#u521314
	{
		margin-top: 20px;
		left: 0%;
		margin-left: 4.55%;
	}

	#u521312
	{
		margin-top: 20px;
		left: 0%;
		margin-left: 4.55%;
	}

	#u525035
	{
		margin-top: 20px;
		left: 0%;
		margin-left: 4.55%;
	}

	#u525044
	{
		margin-top: 19px;
		left: 0%;
		margin-left: 4.55%;
	}

	#u525044 .fluid_height_spacer
	{
		padding-bottom: 100%;
	}

	.nosvg #u521316,.nosvg #u521324,.nosvg #u521314,.nosvg #u521312,.nosvg #u525035,.nosvg #u525044,#u525053
	{
		left: 0%;
		margin-left: 4.55%;
	}

	#u521314 .fluid_height_spacer,#u525035 .fluid_height_spacer,#u525053 .fluid_height_spacer
	{
		padding-bottom: 123.86363636363636%;
	}

	#u521323
	{
		margin-top: 19px;
		left: 0%;
		margin-left: 4.55%;
	}

	#u527203
	{
		margin-top: 20px;
		margin-left: 4.55%;
	}

	#u526139
	{
		margin-top: 20px;
		width: 100%;
		left: 0%;
		margin-left: 4.55%;
	}

	#u531652
	{
		margin-top: 19px;
		width: 100%;
		left: 0%;
		margin-left: 4.55%;
	}

	#u531670
	{
		margin-top: 20px;
		width: 100%;
		left: 0%;
		margin-left: 4.55%;
	}

	#u531669
	{
		margin-top: 20px;
		width: 100%;
		left: 0%;
		margin-left: 4.55%;
	}

	.nosvg #u525053,.nosvg #u521323,.nosvg #u526139,.nosvg #u531652,.nosvg #u531670,.nosvg #u531669
	{
		left: 0%;
		margin-left: 4.55%;
	}

	#u528538
	{
		margin-top: 19px;
		margin-left: 4.55%;
	}

	.nosvg #u524864,#pu521311,.nosvg #u521310,.nosvg #u527203,.nosvg #u528538
	{
		margin-left: 4.55%;
	}

	#u521309
	{
		margin-left: 54.55%;
	}

	.nosvg #u521309
	{
		margin-left: 54.55%;
	}

	.css_verticalspacer .verticalspacer
	{
		height: calc(100vh - 8974px);
	}

	body
	{
		overflow-x: hidden;
		min-width: 320px;
	}

}

