.version.totor /* version checker */
{
	color: #0000FE;
	background-color: #CAFECD;
}

@font-face
{
	font-family: '__Open Sans_5';
	src: url('../fonts/open-sans-v18-latin-700.eot');
	src: local('☺'), url('../fonts/open-sans-v18-latin-700.woff') format('woff'), url('../fonts/open-sans-v18-latin-700.svg') format('svg');
	font-weight: 700;
	font-style: normal;
}

@font-face
{
	font-family: '__Open Sans_5';
	src: url('../fonts/open-sans-v18-latin-regular.eot');
	src: local('☺'), url('../fonts/open-sans-v18-latin-regular.woff') format('woff'), url('../fonts/open-sans-v18-latin-regular.svg') format('svg');
	font-weight: 400;
	font-style: normal;
}

@font-face
{
	font-family: '__Open Sans_5';
	src: url('../fonts/opensans-bolditalic-webfont.eot');
	src: local('☺'), url('../fonts/opensans-bolditalic-webfont.woff') format('woff'), url('../fonts/opensans-bolditalic-webfont.svg') format('svg');
	font-weight: 700;
	font-style: italic;
}

#page
{
	z-index: 1;
	background-color: #F1F1F1;
	margin-left: auto;
	margin-right: auto;
	background-image: none;
	width: 100%;
	min-height: 500px;
	border-color: #000000;
	border-width: 0px;
}

#buttonu531952
{
	z-index: 34;
	top: 0px;
	background-color: #FFFFFF;
	position: fixed;
	min-height: 55px;
	border-color: #787878;
}

#buttonu531952:hover
{
	min-height: 55px;
	margin: 0px;
}

#buttonu531952.ButtonSelected
{
	min-height: 55px;
	margin: 0px;
}

#buttonu531952_align_to_page
{
	margin-right: auto;
	margin-left: auto;
	position: relative;
}

#buttonu531958
{
	margin-right: -10000px;
	height: 55px;
	border-color: #787878;
	position: relative;
	z-index: 49;
	width: 55px;
	filter: alpha(opacity=100);
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
	opacity: 1;
	background: #FFFFFF url("../images/anterior.svg?crc=88471217") no-repeat center bottom;
	background-size: cover;
}

#buttonu531958:hover
{
	width: 55px;
	height: 55px;
	filter: alpha(opacity=100);
	opacity: 1;
	min-height: 0px;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
	margin: 0px -10000px 0px 0px;
	background: #FFFFFF url("../images/anterior1.svg?crc=4278190853") no-repeat center bottom;
	background-size: cover;
}

#buttonu531958:active
{
	width: 55px;
	height: 55px;
	filter: alpha(opacity=100);
	opacity: 1;
	min-height: 0px;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
	margin: 0px -10000px 0px 0px;
	background: #FFFFFF url("../images/anterior1.svg?crc=4278190853") no-repeat center bottom;
	background-size: cover;
}

.nosvg #buttonu531958:hover,.nosvg #buttonu531958:active
{
	background-image: url('../images/anterior1_poster_u532693.png?crc=4266939917');
}

#buttonu531958.ButtonSelected
{
	width: 55px;
	height: 55px;
	filter: alpha(opacity=100);
	opacity: 1;
	min-height: 0px;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
	margin: 0px -10000px 0px 0px;
	background: #FFFFFF url("../images/anterior.svg?crc=88471217") no-repeat center bottom;
	background-size: cover;
}

.nosvg #buttonu531958,.nosvg #buttonu531958.ButtonSelected
{
	background-image: url('../images/anterior_poster_u532685.png?crc=15109172');
}

#u531956-4
{
	color: #000000;
	font-weight: 700;
	text-align: center;
	letter-spacing: 0px;
	position: relative;
	background-color: transparent;
	margin-right: -10000px;
	z-index: 39;
	line-height: 3.4;
	font-family: '__Open Sans_5';
	width: 35px;
	min-height: 55px;
	font-size: 16px;
}

#buttonu531952:hover #u531956-4
{
	padding-top: 0px;
	width: 35px;
	min-height: 55px;
	padding-bottom: 0px;
	margin: 0px -10000px 0px 0%;
}

#buttonu531952:hover #u531956-4 p
{
	text-align: center;
	line-height: 3.4;
	font-size: 16px;
}

#u531955-4
{
	color: #B4B4B4;
	font-weight: 700;
	text-align: center;
	letter-spacing: 0px;
	position: relative;
	background-color: transparent;
	margin-right: -10000px;
	z-index: 35;
	line-height: 3.4;
	font-family: '__Open Sans_5';
	width: 35px;
	min-height: 55px;
	font-size: 16px;
}

#buttonu531952.ButtonSelected #u531956-4,#buttonu531952:hover #u531955-4
{
	padding-top: 0px;
	width: 35px;
	min-height: 55px;
	padding-bottom: 0px;
	margin: 0px -10000px 0px 0%;
}

#buttonu531952.ButtonSelected #u531956-4 p,#buttonu531952:hover #u531955-4 p
{
	text-align: center;
	line-height: 3.4;
	font-size: 16px;
}

#u531957-4
{
	font-weight: 700;
	text-align: center;
	letter-spacing: 0px;
	position: relative;
	background-color: transparent;
	font-size: 16px;
	z-index: 43;
	line-height: 3.4;
	font-family: '__Open Sans_5';
	width: 35px;
	min-height: 55px;
	margin-right: -10000px;
}

#buttonu531952.ButtonSelected #u531955-4,#buttonu531952:hover #u531957-4
{
	padding-top: 0px;
	width: 35px;
	min-height: 55px;
	padding-bottom: 0px;
	margin: 0px -10000px 0px 0%;
}

#buttonu531952.ButtonSelected #u531957-4
{
	padding-top: 0px;
	width: 35px;
	min-height: 55px;
	padding-bottom: 0px;
	margin: 0px -10000px 0px 0%;
}

#buttonu531952.ButtonSelected #u531955-4 p,#buttonu531952:hover #u531957-4 p
{
	text-align: center;
	line-height: 3.4;
	font-size: 16px;
}

#buttonu531952.ButtonSelected #u531957-4 p
{
	text-align: center;
	line-height: 3.4;
	font-size: 16px;
}

#buttonu531954
{
	margin-right: -10000px;
	height: 55px;
	border-color: #787878;
	position: relative;
	z-index: 48;
	width: 55px;
	filter: alpha(opacity=100);
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
	opacity: 1;
	background: #FFFFFF url("../images/proximo.svg?crc=3759981555") no-repeat center bottom;
	background-size: cover;
}

#buttonu531954:hover
{
	opacity: 1;
	filter: alpha(opacity=100);
	height: 55px;
	width: 55px;
	min-height: 0px;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
	margin: 0px -10000px 0px 0%;
	background: #FFFFFF url("../images/proximo1.svg?crc=3769644600") no-repeat center bottom;
	background-size: cover;
}

.nosvg #buttonu531954:hover
{
	background-image: url('../images/proximo1_poster_u532559.png?crc=482156039');
}

#buttonu531954.ButtonSelected
{
	opacity: 1;
	filter: alpha(opacity=100);
	height: 55px;
	width: 55px;
	min-height: 0px;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
	margin: 0px -10000px 0px 0%;
	background: #FFFFFF url("../images/proximo.svg?crc=3759981555") no-repeat center bottom;
	background-size: cover;
}

.nosvg #buttonu531954,.nosvg #buttonu531954.ButtonSelected
{
	background-image: url('../images/proximo_poster_u532551.png?crc=315632786');
}

#buttonu531953
{
	left: -55px;
	margin-right: -10000px;
	height: 55px;
	border-color: #787878;
	position: relative;
	z-index: 47;
	margin-left: 100%;
	width: 55px;
	filter: alpha(opacity=100);
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
	opacity: 1;
	background: #FFFFFF url("../images/fechar.svg?crc=4163833896") no-repeat center top;
	background-size: cover;
}

.nosvg #buttonu531953
{
	background-image: url('../images/fechar_poster_u524618.png?crc=4121185911');
	left: -55px;
	margin-left: 100%;
}

#buttonu531953:hover
{
	left: -55px;
	background-repeat: no-repeat;
	height: 55px;
	background-position: center bottom;
	width: 55px;
	min-height: 0px;
	margin: 0px -10000px 0px 100%;
	background-size: cover;
}

#buttonu531953:active
{
	left: -55px;
	background-repeat: no-repeat;
	height: 55px;
	background-position: center top;
	width: 55px;
	min-height: 0px;
	margin: 0px -10000px 0px 100%;
	background-size: cover;
}

#buttonu531952-bw
{
	z-index: 34;
}

#pu531945
{
	margin-top: 105px;
	z-index: 15;
	margin-right: -10000px;
}

#u531945
{
	z-index: 15;
	position: relative;
	left: 0%;
	background-color: #FFFFFF;
	padding-bottom: 30px;
	border-radius: 10px;
}

#u531946-13
{
	color: #000000;
	font-weight: 400;
	text-align: justify;
	position: relative;
	background-color: transparent;
	margin-top: 30px;
	z-index: 16;
	line-height: 2;
	font-family: '__Open Sans_5';
	font-size: 13px;
	margin-right: -10000px;
}

#u531946
{
	font-style: italic;
	font-weight: 700;
	font-family: '__Open Sans_5';
}

#u531946-3,#u531946-5,#u531946-7,#u531946-9
{
	font-weight: 700;
	font-family: '__Open Sans_5';
}

#u531948
{
	position: relative;
	border-color: transparent;
	border-radius: 10px;
	border-width: 0px;
	z-index: 30;
	filter: alpha(opacity=100);
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
	opacity: 1;
	background: transparent url("../images/logo_site_1.svg?crc=289558929") no-repeat center center;
	background-size: cover;
}

.nosvg #u531948
{
	background-image: url('../images/logo_site_1_poster_u531726.png?crc=297188781');
}

#u531947
{
	position: relative;
	border-radius: 10px;
	opacity: 1;
	z-index: 29;
	filter: alpha(opacity=100);
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
	margin-right: -10000px;
	background: transparent url("../images/logo_site_2.svg?crc=463430305") no-repeat center center;
	background-size: cover;
}

.nosvg #u531947
{
	background-image: url('../images/logo_site_2_poster_u531734.png?crc=497566551');
}

#u531951
{
	position: relative;
	border-radius: 10px;
	opacity: 1;
	z-index: 33;
	filter: alpha(opacity=100);
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
	margin-right: -10000px;
	background: transparent url("../images/logo_site_3.svg?crc=4091609446") no-repeat center center;
	background-size: cover;
}

.nosvg #u531951
{
	background-image: url('../images/logo_site_3_poster_u531742.png?crc=4229489969');
}

#u531934
{
	position: relative;
	border-radius: 10px;
	opacity: 1;
	z-index: 4;
	filter: alpha(opacity=100);
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
	margin-right: -10000px;
	background: #FFFFFF url("../images/cor2.svg?crc=4104871212") no-repeat center center;
	background-size: contain;
}

.nosvg #u531934
{
	background-image: url('../images/cor2_poster_u529807.png?crc=29197822');
}

#u531933
{
	position: relative;
	border-radius: 10px;
	opacity: 1;
	z-index: 3;
	filter: alpha(opacity=100);
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
	margin-right: -10000px;
	background: #000000 url("../images/cor1.svg?crc=493090095") no-repeat center center;
	background-size: contain;
}

.nosvg #u531933
{
	background-image: url('../images/cor1_poster_u529799.png?crc=128672795');
}

#u531944
{
	left: 0%;
	width: 100%;
	position: relative;
	border-radius: 10px;
	z-index: 14;
	filter: alpha(opacity=100);
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
	opacity: 1;
	background: #FFFFFF url("../images/font.svg?crc=66497958") no-repeat center center;
	background-size: cover;
}

.nosvg #u531944
{
	background-image: url('../images/font_poster_u529751.png?crc=3855587026');
	left: 0%;
}

#u531944 .fluid_height_spacer
{
	padding-bottom: 110.00000000000001%;
}

#u531949
{
	left: 0%;
	width: 100%;
	position: relative;
	border-radius: 10px;
	margin-top: 20px;
	z-index: 31;
	filter: alpha(opacity=100);
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
	opacity: 1;
	background: transparent url("../images/template_todos.svg?crc=19012119") no-repeat center center;
	background-size: cover;
}

.nosvg #u531949
{
	background-image: url('../images/template_todos_poster_u531588.png?crc=4231625645');
	left: 0%;
}

#u531937
{
	left: 0%;
	width: 100%;
	position: relative;
	border-radius: 10px;
	z-index: 7;
	filter: alpha(opacity=100);
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
	opacity: 1;
	background: transparent url("../images/template_chihuahua.svg?crc=3893653169") no-repeat center center;
	background-size: cover;
}

.nosvg #u531937
{
	background-image: url('../images/template_chihuahua_poster_u532128.png?crc=56519696');
	left: 0%;
}

#u531938
{
	left: 0%;
	width: 100%;
	position: relative;
	border-radius: 10px;
	z-index: 8;
	filter: alpha(opacity=100);
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
	opacity: 1;
	background: transparent url("../images/template_poddle.svg?crc=4209980599") no-repeat center center;
	background-size: cover;
}

.nosvg #u531938
{
	background-image: url('../images/template_poddle_poster_u531580.png?crc=215587496');
	left: 0%;
}

#u531939
{
	position: relative;
	border-radius: 10px;
	z-index: 9;
	width: 100%;
	filter: alpha(opacity=100);
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
	opacity: 1;
	background: transparent url("../images/template_golden1.svg?crc=25261923") no-repeat center center;
	background-size: cover;
}

.nosvg #u531939
{
	background-image: url('../images/template_golden1_poster_u531620.png?crc=89749974');
}

#u531941
{
	position: relative;
	border-radius: 10px;
	z-index: 11;
	width: 100%;
	filter: alpha(opacity=100);
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
	opacity: 1;
	background: transparent url("../images/template_golden2.svg?crc=4084136497") no-repeat center center;
	background-size: cover;
}

.nosvg #u531941
{
	background-image: url('../images/template_golden2_poster_u531612.png?crc=250102430');
}

#u531942
{
	width: 100%;
	position: relative;
	border-radius: 10px;
	margin-top: 20px;
	z-index: 12;
	filter: alpha(opacity=100);
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
	opacity: 1;
	background: transparent url("../images/template_golden3.svg?crc=4175184785") no-repeat center center;
	background-size: cover;
}

.nosvg #u531942
{
	background-image: url('../images/template_golden3_poster_u531604.png?crc=4241522075');
}

#u531943
{
	width: 100%;
	position: relative;
	border-radius: 10px;
	margin-top: 20px;
	z-index: 13;
	filter: alpha(opacity=100);
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
	opacity: 1;
	background: transparent url("../images/template_golden4.svg?crc=4102635583") no-repeat center center;
	background-size: cover;
}

.nosvg #u531943
{
	background-image: url('../images/template_golden4_poster_u531636.png?crc=3916251039');
}

#u531940
{
	width: 100%;
	position: relative;
	border-radius: 10px;
	z-index: 10;
	filter: alpha(opacity=100);
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
	opacity: 1;
	background: transparent url("../images/template_buldogue.svg?crc=3788522188") no-repeat center center;
	background-size: cover;
}

.nosvg #u531940
{
	background-image: url('../images/template_buldogue_poster_u531596.png?crc=171330644');
}

#u531936
{
	left: 0%;
	width: 100%;
	position: relative;
	border-radius: 10px;
	margin-top: 20px;
	z-index: 6;
	filter: alpha(opacity=100);
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
	opacity: 1;
	background: transparent url("../images/template_dalmata.svg?crc=3768392558") no-repeat center center;
	background-size: cover;
}

.nosvg #u531936
{
	background-image: url('../images/template_dalmata_poster_u532136.png?crc=491261074');
	left: 0%;
}

#u531932
{
	width: 100%;
	position: relative;
	border-radius: 10px;
	z-index: 2;
	filter: alpha(opacity=100);
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
	opacity: 1;
	background: transparent url("../images/template_husky.svg?crc=4286251805") no-repeat left top;
	background-size: cover;
}

.nosvg #u531932
{
	background-image: url('../images/template_husky_poster_u531804.png?crc=14602832');
}

#u532701
{
	z-index: 50;
	margin-right: -10000px;
	position: relative;
	height: 120px;
}

.ie #u532701
{
	background-color: #FFFFFF;
	filter: alpha(opacity=1);
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=1)";
	opacity: 0.01;
}

#u531935
{
	left: 0%;
	width: 100%;
	position: relative;
	border-radius: 10px;
	z-index: 5;
	filter: alpha(opacity=100);
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
	opacity: 1;
	background: transparent url("../images/template_tecnico.svg?crc=4019730414") no-repeat center center;
	background-size: cover;
}

.nosvg #u531935
{
	background-image: url('../images/template_tecnico_poster_u532144.png?crc=4014410980');
	left: 0%;
}

#u531947 .fluid_height_spacer,#u531951 .fluid_height_spacer,#u531937 .fluid_height_spacer,#u531939 .fluid_height_spacer,#u531942 .fluid_height_spacer,#u531940 .fluid_height_spacer,#u531936 .fluid_height_spacer,#u531932 .fluid_height_spacer,#u531935 .fluid_height_spacer
{
	padding-bottom: 100%;
}

#u531950
{
	margin-top: 20px;
	height: 50px;
	left: -70px;
	border-radius: 10px 10px 0px 0px ;
	position: relative;
	z-index: 32;
	width: 140px;
	filter: alpha(opacity=100);
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
	opacity: 1;
	background: #000000 url("../images/uminimo.svg?crc=507500714") no-repeat center center;
	background-size: contain;
}

.nosvg #u531950
{
	background-image: url('../images/uminimo_poster_u524327.png?crc=330049046');
	left: -70px;
}

.html
{
	background-color: #FFFFFF;
}

body
{
	position: relative;
}

@media (min-width: 861px), print
{
	#muse_css_mq
	{
		background-color: #FFFFFF;
	}

	#bp_infinity.active
	{
		display: block;
	}

	#page,#buttonu531952_align_to_page
	{
		max-width: 1210px;
	}

	#u531956-4
	{
		left: 26.04%;
	}

	#u531955-4
	{
		left: 28.93%;
	}

	#u531957-4
	{
		left: 31.82%;
	}

	#buttonu531954
	{
		left: 56.2%;
	}

	#pu531945
	{
		width: 96.7%;
	}

	#u531945
	{
		width: 72.65%;
		margin-left: 15.39%;
	}

	#u531946-13
	{
		min-height: 69px;
		width: 90.59%;
		left: 4.71%;
	}

	#pu531948
	{
		z-index: 30;
		margin-top: 50px;
		width: 100%;
		left: 0%;
		margin-left: 1.71%;
	}

	#u531948
	{
		margin-right: -10000px;
		width: 49.15%;
	}

	#u531947
	{
		width: 23.68%;
		left: 50.77%;
	}

	#u531951
	{
		width: 23.68%;
		left: 76.33%;
	}

	#pu531933
	{
		z-index: 3;
		margin-top: 20px;
		width: 100%;
		left: 0%;
		margin-left: 1.71%;
	}

	#u531933
	{
		width: 49.15%;
	}

	#u531948 .fluid_height_spacer,#u531933 .fluid_height_spacer
	{
		padding-bottom: 48.17391304347826%;
	}

	#u531934
	{
		width: 49.24%;
		left: 50.77%;
	}

	#u531934 .fluid_height_spacer
	{
		padding-bottom: 48.09027777777778%;
	}

	#u531944
	{
		margin-top: 20px;
		margin-left: 1.71%;
	}

	.nosvg #u531944,#u531949
	{
		margin-left: 1.71%;
	}

	#u531949 .fluid_height_spacer
	{
		padding-bottom: 59.82905982905983%;
	}

	#u531937
	{
		margin-top: 21px;
		margin-left: 1.71%;
	}

	#u531938
	{
		margin-top: 20px;
		margin-left: 1.71%;
	}

	#u531938 .fluid_height_spacer
	{
		padding-bottom: 136.75213675213675%;
	}

	#ppu531939
	{
		z-index: 0;
		margin-top: 20px;
		width: 100%;
		left: 0%;
		margin-left: 1.71%;
	}

	#pu531939
	{
		z-index: 9;
		padding-bottom: 1px;
		margin-right: -10000px;
		width: 49.15%;
	}

	#u532701
	{
		margin-top: 96px;
		width: 1.71%;
		left: 49.15%;
	}

	#pu531941
	{
		z-index: 11;
		padding-bottom: 0px;
		margin-right: -10000px;
		width: 49.15%;
		margin-left: 50.86%;
	}

	#u531943 .fluid_height_spacer,#u531941 .fluid_height_spacer
	{
		padding-bottom: 174.43478260869566%;
	}

	#u531940
	{
		margin-top: 20px;
		left: 0%;
		margin-left: 1.71%;
	}

	.nosvg #u531949,.nosvg #u531937,.nosvg #u531938,#u531936
	{
		margin-left: 1.71%;
	}

	#u531932
	{
		margin-top: 21px;
		left: 0%;
		margin-left: 1.71%;
	}

	.nosvg #u531940,.nosvg #u531932
	{
		left: 0%;
		margin-left: 1.71%;
	}

	#u531935
	{
		margin-top: 20px;
		margin-left: 1.71%;
	}

	.nosvg #u531936,.nosvg #u531935
	{
		margin-left: 1.71%;
	}

	#u531950
	{
		margin-left: 51.71%;
	}

	.nosvg #u531950
	{
		margin-left: 51.71%;
	}

	.css_verticalspacer .verticalspacer
	{
		height: calc(100vh - 12154px);
	}

}

@media (min-width: 481px) and (max-width: 860px)
{
	#muse_css_mq
	{
		background-color: #00035c;
	}

	#bp_860.active
	{
		display: block;
	}

	#page,#buttonu531952_align_to_page
	{
		max-width: 860px;
	}

	#u531956-4
	{
		left: 25%;
	}

	#u531955-4
	{
		left: 29.07%;
	}

	#u531957-4
	{
		left: 33.14%;
	}

	#buttonu531954
	{
		left: 55.82%;
	}

	#pu531945
	{
		width: 95.35%;
	}

	#u531945
	{
		width: 92.69%;
		margin-left: 6.1%;
	}

	#u531946-13
	{
		min-height: 69px;
		width: 89.48%;
		left: 5.27%;
	}

	#u531948
	{
		margin-top: 50px;
		width: 100%;
		left: 0%;
		margin-left: 2.44%;
	}

	#u531948 .fluid_height_spacer
	{
		padding-bottom: 47.4390243902439%;
	}

	#pu531947
	{
		z-index: 29;
		margin-top: 20px;
		width: 100%;
		left: 0%;
		margin-left: 2.44%;
	}

	#pu531934
	{
		z-index: 4;
		margin-top: 20px;
		width: 100%;
		left: 0%;
		margin-left: 2.44%;
	}

	#u531947,#u531934
	{
		width: 48.79%;
	}

	#u531951,#u531933
	{
		width: 48.79%;
		left: 51.22%;
	}

	#u531934 .fluid_height_spacer,#u531933 .fluid_height_spacer
	{
		padding-bottom: 65%;
	}

	#u531944
	{
		margin-top: 19px;
		margin-left: 2.44%;
	}

	.nosvg #u531944,#u531949
	{
		margin-left: 2.44%;
	}

	#u531949 .fluid_height_spacer
	{
		padding-bottom: 59.756097560975604%;
	}

	#u531937
	{
		margin-top: 20px;
		margin-left: 2.44%;
	}

	#u531938
	{
		margin-top: 21px;
		margin-left: 2.44%;
	}

	#u531938 .fluid_height_spacer
	{
		padding-bottom: 119.8780487804878%;
	}

	#ppu531939
	{
		z-index: 0;
		margin-top: 20px;
		width: 100%;
		left: 0%;
		margin-left: 2.44%;
	}

	#pu531939
	{
		z-index: 9;
		padding-bottom: 0px;
		margin-right: -10000px;
		width: 48.79%;
	}

	#pu531941
	{
		z-index: 11;
		padding-bottom: 0px;
		margin-right: -10000px;
		width: 48.79%;
		margin-left: 51.22%;
	}

	#u531943 .fluid_height_spacer,#u531941 .fluid_height_spacer
	{
		padding-bottom: 140.75%;
	}

	#pu531940
	{
		z-index: 10;
		margin-top: 21px;
		width: 100%;
		left: 0%;
		margin-left: 2.44%;
	}

	#u531940
	{
		margin-right: -10000px;
	}

	#u532701
	{
		margin-top: 140px;
		width: 1.71%;
		left: 49.15%;
	}

	.nosvg #u531949,.nosvg #u531937,.nosvg #u531938,#u531936
	{
		margin-left: 2.44%;
	}

	#u531932
	{
		margin-top: 20px;
		left: 0%;
		margin-left: 2.44%;
	}

	.nosvg #u531948,.nosvg #u531932
	{
		left: 0%;
		margin-left: 2.44%;
	}

	#u531935
	{
		margin-top: 21px;
		margin-left: 2.44%;
	}

	.nosvg #u531936,.nosvg #u531935
	{
		margin-left: 2.44%;
	}

	#u531950
	{
		margin-left: 52.44%;
	}

	.nosvg #u531950
	{
		margin-left: 52.44%;
	}

	.css_verticalspacer .verticalspacer
	{
		height: calc(100vh - 9091px);
	}

	body
	{
		overflow-x: hidden;
	}

}

@media (max-width: 480px)
{
	/*

*/

	#muse_css_mq
	{
		background-color: #0001e0;
	}

	#bp_480.active
	{
		display: block;
	}

	#page,#buttonu531952_align_to_page
	{
		max-width: 480px;
	}

	#u531956-4
	{
		left: 20.84%;
	}

	#u531955-4
	{
		left: 28.13%;
	}

	#u531957-4
	{
		left: 35.42%;
	}

	#buttonu531954
	{
		left: 52.09%;
	}

	#pu531945
	{
		padding-bottom: 0px;
		width: 91.67%;
	}

	#u531945
	{
		width: 86.37%;
		margin-left: 11.37%;
	}

	#u531946-13
	{
		min-height: 103px;
		width: 78.95%;
		left: 10.53%;
	}

	#u531948
	{
		margin-top: 50px;
		width: 100%;
		left: 0%;
		margin-left: 4.55%;
	}

	#u531948 .fluid_height_spacer
	{
		padding-bottom: 47.72727272727273%;
	}

	#pu531947
	{
		z-index: 29;
		margin-top: 20px;
		width: 100%;
		left: 0%;
		margin-left: 4.55%;
	}

	#pu531934
	{
		z-index: 4;
		margin-top: 20px;
		width: 100%;
		left: 0%;
		margin-left: 4.55%;
	}

	#u531947,#u531934
	{
		width: 47.73%;
	}

	#u531951,#u531933
	{
		width: 47.73%;
		left: 52.28%;
	}

	#u531934 .fluid_height_spacer,#u531933 .fluid_height_spacer
	{
		padding-bottom: 63.33333333333333%;
	}

	#u531944
	{
		margin-top: 20px;
		margin-left: 4.55%;
	}

	.nosvg #u531944,#u531949
	{
		margin-left: 4.55%;
	}

	#u531949 .fluid_height_spacer
	{
		padding-bottom: 59.09090909090909%;
	}

	#u531937
	{
		margin-top: 20px;
		margin-left: 4.55%;
	}

	#u531938
	{
		margin-top: 20px;
		margin-left: 4.55%;
	}

	#u531939
	{
		margin-top: 20px;
		left: 0%;
		margin-left: 4.55%;
	}

	#u531941
	{
		margin-top: 19px;
		left: 0%;
		margin-left: 4.55%;
	}

	.nosvg #u531948,.nosvg #u531939,.nosvg #u531941,#u531942
	{
		left: 0%;
		margin-left: 4.55%;
	}

	.nosvg #u531942,#u531943
	{
		left: 0%;
		margin-left: 4.55%;
	}

	#u531938 .fluid_height_spacer,#u531941 .fluid_height_spacer,#u531943 .fluid_height_spacer
	{
		padding-bottom: 123.86363636363636%;
	}

	#u531940
	{
		margin-top: 19px;
		left: 0%;
		margin-left: 4.55%;
	}

	.nosvg #u531943,.nosvg #u531940
	{
		left: 0%;
		margin-left: 4.55%;
	}

	.nosvg #u531949,.nosvg #u531937,.nosvg #u531938,#u531936
	{
		margin-left: 4.55%;
	}

	#pu531932
	{
		z-index: 2;
		margin-top: 20px;
		width: 100%;
		left: 0%;
		margin-left: 4.55%;
	}

	#u531932
	{
		margin-right: -10000px;
	}

	#u532701
	{
		margin-top: 34px;
		width: 1.82%;
		left: 49.1%;
	}

	#u531935
	{
		margin-top: 19px;
		margin-left: 4.55%;
	}

	.nosvg #u531936,.nosvg #u531935
	{
		margin-left: 4.55%;
	}

	#u531950
	{
		margin-left: 54.55%;
	}

	.nosvg #u531950
	{
		margin-left: 54.55%;
	}

	.css_verticalspacer .verticalspacer
	{
		height: calc(100vh - 6756px);
	}

	body
	{
		overflow-x: hidden;
		min-width: 320px;
	}

}

