.version.totor /* version checker */
{
	color: #000012;
	background-color: #A8E425;
}

@font-face
{
	font-family: '__Open Sans_5';
	src: url('../fonts/open-sans-v18-latin-regular.eot');
	src: local('☺'), url('../fonts/open-sans-v18-latin-regular.woff') format('woff'), url('../fonts/open-sans-v18-latin-regular.svg') format('svg');
	font-weight: 400;
	font-style: normal;
}

@font-face
{
	font-family: '__Open Sans_5';
	src: url('../fonts/open-sans-v18-latin-700.eot');
	src: local('☺'), url('../fonts/open-sans-v18-latin-700.woff') format('woff'), url('../fonts/open-sans-v18-latin-700.svg') format('svg');
	font-weight: 700;
	font-style: normal;
}

@font-face
{
	font-family: '__Open Sans_5';
	src: url('../fonts/opensans-bolditalic-webfont.eot');
	src: local('☺'), url('../fonts/opensans-bolditalic-webfont.woff') format('woff'), url('../fonts/opensans-bolditalic-webfont.svg') format('svg');
	font-weight: 700;
	font-style: italic;
}

#page
{
	margin-left: auto;
	border-color: #000000;
	margin-right: auto;
	background-color: #F1F1F1;
	border-width: 0px;
	width: 100%;
	background-image: none;
	z-index: 1;
}

#buttonu524045
{
	z-index: 44;
	position: fixed;
	min-height: 55px;
	top: 0px;
	border-color: #787878;
	background-color: #FFFFFF;
}

#buttonu524045:hover
{
	min-height: 55px;
	margin: 0px;
}

#buttonu524045.ButtonSelected
{
	min-height: 55px;
	margin: 0px;
}

#buttonu524045_align_to_page
{
	margin-left: auto;
	margin-right: auto;
	position: relative;
}

#buttonu524224
{
	z-index: 59;
	height: 55px;
	filter: alpha(opacity=100);
	border-color: #787878;
	position: relative;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
	width: 55px;
	margin-right: -10000px;
	opacity: 1;
	background: #FFFFFF url("../images/anterior1.svg?crc=430490106") no-repeat center bottom;
	background-size: cover;
}

.nosvg #buttonu524224
{
	background-image: url('../images/anterior1_poster_u524602.png?crc=528006061');
}

#buttonu524224:hover
{
	width: 55px;
	background-position: center bottom;
	min-height: 0px;
	background-repeat: no-repeat;
	height: 55px;
	margin: 0px -10000px 0px 0px;
	background-size: cover;
}

#buttonu524224:active
{
	width: 55px;
	background-position: center bottom;
	min-height: 0px;
	background-repeat: no-repeat;
	height: 55px;
	margin: 0px -10000px 0px 0px;
	background-size: cover;
}

#buttonu524224.ButtonSelected
{
	width: 55px;
	background-position: center bottom;
	min-height: 0px;
	background-repeat: no-repeat;
	height: 55px;
	margin: 0px -10000px 0px 0px;
	background-size: cover;
}

#u524074-4
{
	color: #B4B4B4;
	z-index: 49;
	letter-spacing: 0px;
	min-height: 55px;
	font-weight: 700;
	position: relative;
	line-height: 3.4;
	font-family: '__Open Sans_5';
	background-color: transparent;
	width: 35px;
	text-align: center;
	margin-right: -10000px;
	font-size: 16px;
}

#buttonu524045:hover #u524074-4
{
	padding-top: 0px;
	width: 35px;
	min-height: 55px;
	padding-bottom: 0px;
	margin: 0px -10000px 0px 0%;
}

#buttonu524045:hover #u524074-4 p
{
	line-height: 3.4;
	text-align: center;
	font-size: 16px;
}

#u524073-4
{
	color: #B4B4B4;
	z-index: 45;
	letter-spacing: 0px;
	min-height: 55px;
	font-weight: 700;
	position: relative;
	line-height: 3.4;
	font-family: '__Open Sans_5';
	background-color: transparent;
	width: 35px;
	text-align: center;
	margin-right: -10000px;
	font-size: 16px;
}

#buttonu524045.ButtonSelected #u524074-4,#buttonu524045:hover #u524073-4
{
	padding-top: 0px;
	width: 35px;
	min-height: 55px;
	padding-bottom: 0px;
	margin: 0px -10000px 0px 0%;
}

#buttonu524045.ButtonSelected #u524074-4 p,#buttonu524045:hover #u524073-4 p
{
	line-height: 3.4;
	text-align: center;
	font-size: 16px;
}

#u524075-4
{
	z-index: 53;
	letter-spacing: 0px;
	min-height: 55px;
	font-weight: 700;
	position: relative;
	line-height: 3.4;
	margin-right: -10000px;
	background-color: transparent;
	width: 35px;
	text-align: center;
	font-family: '__Open Sans_5';
	font-size: 16px;
}

#buttonu524045.ButtonSelected #u524073-4,#buttonu524045:hover #u524075-4
{
	padding-top: 0px;
	width: 35px;
	min-height: 55px;
	padding-bottom: 0px;
	margin: 0px -10000px 0px 0%;
}

#buttonu524045.ButtonSelected #u524075-4
{
	padding-top: 0px;
	width: 35px;
	min-height: 55px;
	padding-bottom: 0px;
	margin: 0px -10000px 0px 0%;
}

#buttonu524045.ButtonSelected #u524073-4 p,#buttonu524045:hover #u524075-4 p
{
	line-height: 3.4;
	text-align: center;
	font-size: 16px;
}

#buttonu524045.ButtonSelected #u524075-4 p
{
	line-height: 3.4;
	text-align: center;
	font-size: 16px;
}

#buttonu524207
{
	z-index: 58;
	height: 55px;
	filter: alpha(opacity=100);
	border-color: #787878;
	position: relative;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
	width: 55px;
	margin-right: -10000px;
	opacity: 1;
	background: #FFFFFF url("../images/proximo1.svg?crc=329782524") no-repeat center bottom;
	background-size: cover;
}

.nosvg #buttonu524207
{
	background-image: url('../images/proximo1_poster_u524610.png?crc=447422520');
}

#buttonu524207:hover
{
	min-height: 0px;
	background-position: center bottom;
	width: 55px;
	background-repeat: no-repeat;
	height: 55px;
	margin: 0px -10000px 0px 0%;
	background-size: cover;
}

#buttonu524207.ButtonSelected
{
	min-height: 0px;
	background-position: center bottom;
	width: 55px;
	background-repeat: no-repeat;
	height: 55px;
	margin: 0px -10000px 0px 0%;
	background-size: cover;
}

#buttonu524189
{
	left: -55px;
	margin-left: 100%;
	z-index: 57;
	height: 55px;
	filter: alpha(opacity=100);
	border-color: #787878;
	position: relative;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
	width: 55px;
	margin-right: -10000px;
	opacity: 1;
	background: #FFFFFF url("../images/fechar.svg?crc=4163833896") no-repeat center top;
	background-size: cover;
}

.nosvg #buttonu524189
{
	left: -55px;
	margin-left: 100%;
	background-image: url('../images/fechar_poster_u524618.png?crc=4121185911');
}

#buttonu524189:hover
{
	min-height: 0px;
	background-position: center bottom;
	left: -55px;
	width: 55px;
	background-repeat: no-repeat;
	height: 55px;
	margin: 0px -10000px 0px 100%;
	background-size: cover;
}

#buttonu524189:active
{
	min-height: 0px;
	background-position: center top;
	left: -55px;
	width: 55px;
	background-repeat: no-repeat;
	height: 55px;
	margin: 0px -10000px 0px 100%;
	background-size: cover;
}

#buttonu524045-bw
{
	z-index: 44;
}

#pu521319
{
	margin-top: 105px;
	margin-right: -10000px;
	z-index: 20;
}

#u521319
{
	left: 0%;
	border-radius: 10px;
	z-index: 20;
	position: relative;
	padding-bottom: 30px;
	background-color: #FFFFFF;
}

#u521313-13
{
	color: #000000;
	z-index: 21;
	position: relative;
	font-weight: 400;
	margin-top: 30px;
	line-height: 2;
	margin-right: -10000px;
	background-color: transparent;
	text-align: justify;
	font-family: '__Open Sans_5';
	font-size: 13px;
}

#u521313
{
	font-style: italic;
	font-family: '__Open Sans_5';
	font-weight: 700;
}

#u521313-3,#u521313-5,#u521313-7,#u521313-9
{
	font-family: '__Open Sans_5';
	font-weight: 700;
}

#u521316
{
	z-index: 37;
	position: relative;
	border-width: 0px;
	filter: alpha(opacity=100);
	border-color: transparent;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
	border-radius: 10px;
	opacity: 1;
	background: transparent url("../images/logo_site_1.svg?crc=94901394") no-repeat center center;
	background-size: cover;
}

.nosvg #u521316
{
	background-image: url('../images/logo_site_1_poster_u529767.png?crc=475775694');
}

#u521322
{
	z-index: 34;
	position: relative;
	filter: alpha(opacity=100);
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
	border-radius: 10px;
	margin-right: -10000px;
	opacity: 1;
	background: transparent url("../images/logo_site_2.svg?crc=4196856951") no-repeat center center;
	background-size: cover;
}

.nosvg #u521322
{
	background-image: url('../images/logo_site_2_poster_u529775.png?crc=84548140');
}

#u521445
{
	z-index: 42;
	position: relative;
	filter: alpha(opacity=100);
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
	border-radius: 10px;
	margin-right: -10000px;
	opacity: 1;
	background: transparent url("../images/logo_site_3.svg?crc=3974281768") no-repeat center center;
	background-size: cover;
}

.nosvg #u521445
{
	background-image: url('../images/logo_site_3_poster_u529759.png?crc=4034666142');
}

#u529116
{
	z-index: 4;
	position: relative;
	filter: alpha(opacity=100);
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
	border-radius: 10px;
	margin-right: -10000px;
	opacity: 1;
	background: #FFFFFF url("../images/cor2.svg?crc=4104871212") no-repeat center center;
	background-size: contain;
}

.nosvg #u529116
{
	background-image: url('../images/cor2_poster_u529807.png?crc=29197822');
}

#u529114
{
	z-index: 3;
	position: relative;
	filter: alpha(opacity=100);
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
	border-radius: 10px;
	margin-right: -10000px;
	opacity: 1;
	background: #000000 url("../images/cor1.svg?crc=493090095") no-repeat center center;
	background-size: contain;
}

.nosvg #u529114
{
	background-image: url('../images/cor1_poster_u529799.png?crc=128672795');
}

#u524864
{
	left: 0%;
	z-index: 19;
	position: relative;
	filter: alpha(opacity=100);
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
	border-radius: 10px;
	width: 100%;
	opacity: 1;
	background: #FFFFFF url("../images/font.svg?crc=66497958") no-repeat center center;
	background-size: cover;
}

.nosvg #u524864
{
	left: 0%;
	background-image: url('../images/font_poster_u529751.png?crc=3855587026');
}

#u524864 .fluid_height_spacer
{
	padding-bottom: 110.00000000000001%;
}

#u528549
{
	left: 0%;
	z-index: 5;
	position: relative;
	filter: alpha(opacity=100);
	margin-top: 20px;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
	border-radius: 10px;
	width: 100%;
	opacity: 1;
	background: transparent url("../images/icon.svg?crc=289767743") no-repeat center center;
	background-size: cover;
}

.nosvg #u528549
{
	left: 0%;
	background-image: url('../images/icon_poster_u529511.png?crc=308547901');
}

#pu521311
{
	width: 100%;
	left: 0%;
	z-index: 35;
}

#u521311
{
	z-index: 35;
	position: relative;
	filter: alpha(opacity=100);
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
	border-radius: 10px;
	margin-right: -10000px;
	opacity: 1;
	background: transparent url("../images/site_chihuahua.svg?crc=3765559165") no-repeat center center;
	background-size: cover;
}

.nosvg #u521311
{
	background-image: url('../images/site_chihuahua_poster_u530593.png?crc=242179431');
}

#u521640
{
	z-index: 43;
	position: relative;
	filter: alpha(opacity=100);
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
	border-radius: 10px;
	margin-right: -10000px;
	opacity: 1;
	background: transparent url("../images/site_poodle.svg?crc=438491455") no-repeat center center;
	background-size: cover;
}

.nosvg #u521640
{
	background-image: url('../images/site_poodle_poster_u530601.png?crc=3959678318');
}

#u521318
{
	z-index: 40;
	position: relative;
	filter: alpha(opacity=100);
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
	border-radius: 10px;
	margin-right: -10000px;
	opacity: 1;
	background: transparent url("../images/site_golden.svg?crc=411968410") no-repeat center center;
	background-size: cover;
}

.nosvg #u521318
{
	background-image: url('../images/site_golden_poster_u530721.png?crc=4228779001');
}

#u521320
{
	z-index: 38;
	position: relative;
	filter: alpha(opacity=100);
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
	border-radius: 10px;
	margin-right: -10000px;
	opacity: 1;
	background: transparent url("../images/site_buldogue.svg?crc=3879190394") no-repeat center top;
	background-size: cover;
}

.nosvg #u521320
{
	background-image: url('../images/site_buldogue_poster_u530304.png?crc=3896260404');
}

#u522903
{
	z-index: 2;
	position: relative;
	filter: alpha(opacity=100);
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
	border-radius: 10px;
	margin-right: -10000px;
	opacity: 1;
	background: transparent url("../images/site_dalmata.svg?crc=4195258058") no-repeat left top;
	background-size: cover;
}

.nosvg #u522903
{
	background-image: url('../images/site_dalmata_poster_u530312.png?crc=214196804');
}

#u521317
{
	z-index: 36;
	position: relative;
	filter: alpha(opacity=100);
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
	border-radius: 10px;
	margin-right: -10000px;
	opacity: 1;
	background: transparent url("../images/site_husky.svg?crc=347055059") no-repeat center center;
	background-size: cover;
}

.nosvg #u521317
{
	background-image: url('../images/site_husky_poster_u530296.png?crc=3933047158');
}

#u521310
{
	left: 0%;
	z-index: 39;
	position: relative;
	filter: alpha(opacity=100);
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
	border-radius: 10px;
	width: 100%;
	opacity: 1;
	background: transparent url("../images/template_todos.svg?crc=4218628023") no-repeat center center;
	background-size: cover;
}

.nosvg #u521310
{
	left: 0%;
	background-image: url('../images/template_todos_poster_u530617.png?crc=3886777836');
}

#u521324
{
	z-index: 12;
	position: relative;
	filter: alpha(opacity=100);
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
	border-radius: 10px;
	width: 100%;
	opacity: 1;
	background: transparent url("../images/template_chihuahua.svg?crc=236159158") no-repeat center center;
	background-size: cover;
}

.nosvg #u521324
{
	background-image: url('../images/template_chihuahua_poster_u530625.png?crc=4237682985');
}

#u521314
{
	z-index: 13;
	position: relative;
	filter: alpha(opacity=100);
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
	border-radius: 10px;
	width: 100%;
	opacity: 1;
	background: transparent url("../images/template_poddle.svg?crc=4216377591") no-repeat center center;
	background-size: cover;
}

.nosvg #u521314
{
	background-image: url('../images/template_poddle_poster_u530641.png?crc=4216012839');
}

#u521312
{
	z-index: 14;
	position: relative;
	filter: alpha(opacity=100);
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
	border-radius: 10px;
	width: 100%;
	opacity: 1;
	background: transparent url("../images/template_golden1.svg?crc=412967634") no-repeat center center;
	background-size: cover;
}

.nosvg #u521312
{
	background-image: url('../images/template_golden1_poster_u530681.png?crc=534810351');
}

#u521322 .fluid_height_spacer,#u521445 .fluid_height_spacer,#u528549 .fluid_height_spacer,#u521324 .fluid_height_spacer,#u521312 .fluid_height_spacer
{
	padding-bottom: 100%;
}

#u525035
{
	z-index: 16;
	position: relative;
	filter: alpha(opacity=100);
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
	border-radius: 10px;
	width: 100%;
	opacity: 1;
	background: transparent url("../images/template_golden2.svg?crc=3819972747") no-repeat center center;
	background-size: cover;
}

.nosvg #u525035
{
	background-image: url('../images/template_golden2_poster_u530689.png?crc=103841806');
}

#u525044
{
	z-index: 17;
	position: relative;
	filter: alpha(opacity=100);
	margin-top: 20px;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
	border-radius: 10px;
	width: 100%;
	opacity: 1;
	background: transparent url("../images/template_golden3.svg?crc=3963381608") no-repeat center center;
	background-size: cover;
}

.nosvg #u525044
{
	background-image: url('../images/template_golden3_poster_u530697.png?crc=3762285338');
}

#u525053
{
	z-index: 18;
	position: relative;
	filter: alpha(opacity=100);
	margin-top: 20px;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
	border-radius: 10px;
	width: 100%;
	opacity: 1;
	background: transparent url("../images/template_golden4.svg?crc=464593124") no-repeat center center;
	background-size: cover;
}

.nosvg #u525053
{
	background-image: url('../images/template_golden4_poster_u530705.png?crc=94295898');
}

#u521323
{
	z-index: 15;
	position: relative;
	filter: alpha(opacity=100);
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
	border-radius: 10px;
	width: 100%;
	opacity: 1;
	background: transparent url("../images/template_buldogue.svg?crc=4028365489") no-repeat center center;
	background-size: cover;
}

.nosvg #u521323
{
	background-image: url('../images/template_buldogue_poster_u530633.png?crc=4047070502');
}

#u527203
{
	left: 0%;
	z-index: 7;
	position: relative;
	filter: alpha(opacity=100);
	margin-top: 20px;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
	border-radius: 10px;
	width: 100%;
	opacity: 1;
	background: transparent url("../images/template_husky.svg?crc=759545") no-repeat center center;
	background-size: cover;
}

.nosvg #u527203
{
	left: 0%;
	background-image: url('../images/template_husky_poster_u530649.png?crc=152005125');
}

#u526139
{
	border-radius: 10px;
	z-index: 8;
	position: relative;
	left: 0%;
	width: 100%;
	background-color: #B596DC;
}

#u524841
{
	z-index: 9;
	position: relative;
	filter: alpha(opacity=100);
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
	border-radius: 10px 10px 0px 0px ;
	width: 100%;
	opacity: 1;
	background: transparent url("../images/template_dalmata1.svg?crc=3932354538") no-repeat center center;
	background-size: cover;
}

.nosvg #u524841
{
	background-image: url('../images/template_dalmata1_poster_u530673.png?crc=499405578');
}

#u525118
{
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
	position: relative;
	width: 100%;
	filter: alpha(opacity=100);
	z-index: 10;
	opacity: 1;
	background: transparent url("../images/template_dalmata2.svg?crc=7348072") no-repeat center center;
	background-size: cover;
}

.nosvg #u525118
{
	background-image: url('../images/template_dalmata2_poster_u530665.png?crc=3807113879');
}

#u525127
{
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
	position: relative;
	width: 100%;
	filter: alpha(opacity=100);
	z-index: 11;
	opacity: 1;
	background: transparent url("../images/template_dalmata3.svg?crc=4214355487") no-repeat center center;
	background-size: cover;
}

.nosvg #u525127
{
	background-image: url('../images/template_dalmata3_poster_u530657.png?crc=4001323421');
}

#u528538
{
	left: 0%;
	z-index: 6;
	position: relative;
	filter: alpha(opacity=100);
	margin-top: 19px;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
	border-radius: 10px;
	width: 100%;
	opacity: 1;
	background: transparent url("../images/template_tecnico.svg?crc=410870639") no-repeat center center;
	background-size: cover;
}

.nosvg #u528538
{
	left: 0%;
	background-image: url('../images/template_tecnico_poster_u530713.png?crc=437923153');
}

#u521309
{
	left: -70px;
	z-index: 41;
	height: 50px;
	filter: alpha(opacity=100);
	position: relative;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
	border-radius: 10px 10px 0px 0px ;
	width: 140px;
	opacity: 1;
	background: #000000 url("../images/uminimo.svg?crc=507500714") no-repeat center center;
	background-size: contain;
}

.nosvg #u521309
{
	left: -70px;
	background-image: url('../images/uminimo_poster_u524327.png?crc=330049046');
}

.html
{
	background-color: #FFFFFF;
}

body
{
	position: relative;
}

@media (min-width: 861px), print
{
	#muse_css_mq
	{
		background-color: #FFFFFF;
	}

	#bp_infinity.active
	{
		display: block;
	}

	#page
	{
		min-height: 6703px;
		max-width: 1210px;
	}

	#buttonu524045_align_to_page
	{
		max-width: 1210px;
	}

	#u524074-4
	{
		left: 26.04%;
	}

	#u524073-4
	{
		left: 28.93%;
	}

	#u524075-4
	{
		left: 31.82%;
	}

	#buttonu524207
	{
		left: 56.2%;
	}

	#pu521319
	{
		width: 96.7%;
	}

	#u521319
	{
		width: 72.65%;
		margin-left: 15.39%;
	}

	#u521313-13
	{
		min-height: 69px;
		width: 90.59%;
		left: 4.71%;
	}

	#pu521316
	{
		z-index: 37;
		margin-top: 50px;
		width: 100%;
		left: 0%;
		margin-left: 1.71%;
	}

	#u521316
	{
		margin-right: -10000px;
		width: 49.15%;
	}

	#u521322
	{
		width: 23.68%;
		left: 50.77%;
	}

	#u521445
	{
		width: 23.68%;
		left: 76.33%;
	}

	#pu529114
	{
		z-index: 3;
		margin-top: 20px;
		width: 100%;
		left: 0%;
		margin-left: 1.71%;
	}

	#u529114
	{
		width: 49.15%;
	}

	#u521316 .fluid_height_spacer,#u529114 .fluid_height_spacer
	{
		padding-bottom: 48.17391304347826%;
	}

	#u529116
	{
		width: 49.24%;
		left: 50.77%;
	}

	#u529116 .fluid_height_spacer
	{
		padding-bottom: 48.09027777777778%;
	}

	#u524864
	{
		margin-top: 20px;
		margin-left: 1.71%;
	}

	.nosvg #u524864,#u528549
	{
		margin-left: 1.71%;
	}

	#u521640
	{
		width: 32.23%;
		left: 33.94%;
	}

	#pu521320
	{
		z-index: 38;
		margin-top: 20px;
		width: 100%;
		left: 0%;
		margin-left: 1.71%;
	}

	#u521311,#u521320
	{
		width: 32.14%;
	}

	#u522903
	{
		width: 32.23%;
		left: 33.85%;
	}

	#u521640 .fluid_height_spacer,#u522903 .fluid_height_spacer
	{
		padding-bottom: 124.6684350132626%;
	}

	#u521318,#u521317
	{
		width: 32.14%;
		left: 67.87%;
	}

	#u521311 .fluid_height_spacer,#u521318 .fluid_height_spacer,#u521320 .fluid_height_spacer,#u521317 .fluid_height_spacer
	{
		padding-bottom: 125%;
	}

	#pu521311,#u521310
	{
		margin-top: 20px;
		margin-left: 1.71%;
	}

	#u521310 .fluid_height_spacer
	{
		padding-bottom: 59.82905982905983%;
	}

	#ppu521324
	{
		z-index: 0;
		margin-top: 21px;
		width: 100%;
		left: 0%;
		margin-left: 1.71%;
	}

	#pu521324
	{
		z-index: 12;
		padding-bottom: 0px;
		margin-right: -10000px;
		width: 49.15%;
	}

	#ppu521312
	{
		z-index: 0;
		margin-top: 20px;
		width: 100%;
	}

	#pu521312
	{
		z-index: 14;
		padding-bottom: 0px;
		margin-right: -10000px;
		width: 48.18%;
	}

	#u525053 .fluid_height_spacer
	{
		padding-bottom: 177.9783393501805%;
	}

	#pu525035
	{
		z-index: 16;
		margin-right: -10000px;
		width: 48.35%;
		margin-left: 51.66%;
	}

	#u525035 .fluid_height_spacer
	{
		padding-bottom: 177.33812949640287%;
	}

	#u525044 .fluid_height_spacer
	{
		padding-bottom: 99.64028776978418%;
	}

	#pu521314
	{
		z-index: 13;
		margin-right: -10000px;
		width: 49.15%;
		margin-left: 50.86%;
	}

	#u521323
	{
		margin-top: 21px;
	}

	#u521314 .fluid_height_spacer,#u521323 .fluid_height_spacer
	{
		padding-bottom: 118.6086956521739%;
	}

	.nosvg #u528549,.nosvg #u521310,#u527203
	{
		margin-left: 1.71%;
	}

	#u526139
	{
		margin-top: 21px;
		margin-left: 1.71%;
	}

	#u527203 .fluid_height_spacer,#u524841 .fluid_height_spacer,#u525118 .fluid_height_spacer,#u525127 .fluid_height_spacer
	{
		padding-bottom: 85.47008547008546%;
	}

	.nosvg #u527203,#u528538
	{
		margin-left: 1.71%;
	}

	.nosvg #u528538
	{
		margin-left: 1.71%;
	}

	#u528538 .fluid_height_spacer
	{
		padding-bottom: 266.66666666666663%;
	}

	#u521309
	{
		margin-top: 21px;
		margin-left: 51.71%;
	}

	.nosvg #u521309
	{
		margin-left: 51.71%;
	}

	.css_verticalspacer .verticalspacer
	{
		height: calc(100vh - 13720px);
	}

}

@media (min-width: 481px) and (max-width: 860px)
{
	#muse_css_mq
	{
		background-color: #00035c;
	}

	#bp_860.active
	{
		display: block;
	}

	#page
	{
		min-height: 5118px;
		max-width: 860px;
	}

	#buttonu524045_align_to_page
	{
		max-width: 860px;
	}

	#u524074-4
	{
		left: 25%;
	}

	#u524073-4
	{
		left: 29.07%;
	}

	#u524075-4
	{
		left: 33.14%;
	}

	#buttonu524207
	{
		left: 55.82%;
	}

	#pu521319
	{
		padding-bottom: 0px;
		width: 95.35%;
	}

	#u521319
	{
		width: 92.69%;
		margin-left: 6.1%;
	}

	#u521313-13
	{
		min-height: 69px;
		width: 89.48%;
		left: 5.27%;
	}

	#u521316
	{
		margin-top: 50px;
		width: 100%;
		left: 0%;
		margin-left: 2.44%;
	}

	#u521316 .fluid_height_spacer
	{
		padding-bottom: 47.4390243902439%;
	}

	#pu521322
	{
		z-index: 34;
		margin-top: 20px;
		width: 100%;
		left: 0%;
		margin-left: 2.44%;
	}

	#pu529116
	{
		z-index: 4;
		margin-top: 20px;
		width: 100%;
		left: 0%;
		margin-left: 2.44%;
	}

	#u521322,#u529116
	{
		width: 48.79%;
	}

	#u521445,#u529114
	{
		width: 48.79%;
		left: 51.22%;
	}

	#u529116 .fluid_height_spacer,#u529114 .fluid_height_spacer
	{
		padding-bottom: 65%;
	}

	#u524864
	{
		margin-top: 19px;
		margin-left: 2.44%;
	}

	.nosvg #u524864,#u528549
	{
		margin-left: 2.44%;
	}

	#pu521320
	{
		z-index: 38;
		margin-top: 20px;
		width: 100%;
		left: 0%;
		margin-left: 2.44%;
	}

	#u521311,#u521320
	{
		width: 31.71%;
	}

	#u521640,#u522903
	{
		width: 31.71%;
		left: 34.15%;
	}

	#u521318,#u521317
	{
		width: 31.71%;
		left: 68.3%;
	}

	#u521311 .fluid_height_spacer,#u521640 .fluid_height_spacer,#u521318 .fluid_height_spacer,#u521320 .fluid_height_spacer,#u522903 .fluid_height_spacer,#u521317 .fluid_height_spacer
	{
		padding-bottom: 126.92307692307692%;
	}

	#pu521311,#u521310
	{
		margin-top: 20px;
		margin-left: 2.44%;
	}

	#u521310 .fluid_height_spacer
	{
		padding-bottom: 59.756097560975604%;
	}

	#u521324
	{
		margin-top: 20px;
		left: 0%;
		margin-left: 2.44%;
	}

	#u521314
	{
		margin-top: 21px;
		left: 0%;
		margin-left: 2.44%;
	}

	#ppu521312
	{
		z-index: 0;
		margin-top: 20px;
		width: 100%;
		left: 0%;
		margin-left: 2.44%;
	}

	#pu521312
	{
		z-index: 14;
		padding-bottom: 0px;
		margin-right: -10000px;
		width: 48.79%;
	}

	#pu525035
	{
		z-index: 16;
		padding-bottom: 0px;
		margin-right: -10000px;
		width: 48.79%;
		margin-left: 51.22%;
	}

	#u525053 .fluid_height_spacer,#u525035 .fluid_height_spacer
	{
		padding-bottom: 140.75%;
	}

	#u525044 .fluid_height_spacer
	{
		padding-bottom: 100%;
	}

	#u521323
	{
		margin-top: 21px;
		left: 0%;
		margin-left: 2.44%;
	}

	.nosvg #u521316,.nosvg #u521324,.nosvg #u521314,.nosvg #u521323
	{
		left: 0%;
		margin-left: 2.44%;
	}

	#u521314 .fluid_height_spacer,#u521323 .fluid_height_spacer
	{
		padding-bottom: 146.34146341463415%;
	}

	.nosvg #u528549,.nosvg #u521310,#u527203
	{
		margin-left: 2.44%;
	}

	#u526139
	{
		padding-bottom: 0px;
		margin-top: 21px;
		margin-left: 2.44%;
	}

	#u526139_position_content
	{
		width: 100%;
	}

	#u527203 .fluid_height_spacer,#u524841 .fluid_height_spacer,#u525118 .fluid_height_spacer,#u525127 .fluid_height_spacer
	{
		padding-bottom: 85.36585365853658%;
	}

	.nosvg #u527203,#u528538
	{
		margin-left: 2.44%;
	}

	.nosvg #u528538
	{
		margin-left: 2.44%;
	}

	#u528538 .fluid_height_spacer
	{
		padding-bottom: 266.7073170731707%;
	}

	#u521309
	{
		margin-top: 20px;
		margin-left: 52.44%;
	}

	.nosvg #u521309
	{
		margin-left: 52.44%;
	}

	.css_verticalspacer .verticalspacer
	{
		height: calc(100vh - 13755px);
	}

	body
	{
		overflow-x: hidden;
	}

}

@media (max-width: 480px)
{
	/*

*/

	#muse_css_mq
	{
		background-color: #0001e0;
	}

	#bp_480.active
	{
		display: block;
	}

	#page
	{
		min-height: 6757px;
		max-width: 480px;
	}

	#buttonu524045_align_to_page
	{
		max-width: 480px;
	}

	#u524074-4
	{
		left: 20.84%;
	}

	#u524073-4
	{
		left: 28.13%;
	}

	#u524075-4
	{
		left: 35.42%;
	}

	#buttonu524207
	{
		left: 52.09%;
	}

	#pu521319
	{
		padding-bottom: 0px;
		width: 91.67%;
	}

	#u521319
	{
		width: 86.37%;
		margin-left: 11.37%;
	}

	#u521313-13
	{
		min-height: 103px;
		width: 78.95%;
		left: 10.53%;
	}

	#u521316
	{
		margin-top: 50px;
		width: 100%;
		left: 0%;
		margin-left: 4.55%;
	}

	#u521316 .fluid_height_spacer
	{
		padding-bottom: 47.72727272727273%;
	}

	#pu521322
	{
		z-index: 34;
		margin-top: 20px;
		width: 100%;
		left: 0%;
		margin-left: 4.55%;
	}

	#pu529116
	{
		z-index: 4;
		margin-top: 20px;
		width: 100%;
		left: 0%;
		margin-left: 4.55%;
	}

	#u529116 .fluid_height_spacer,#u529114 .fluid_height_spacer
	{
		padding-bottom: 63.33333333333333%;
	}

	#u524864
	{
		margin-top: 20px;
		margin-left: 4.55%;
	}

	.nosvg #u524864,#u528549
	{
		margin-left: 4.55%;
	}

	#pu521311
	{
		margin-top: 19px;
		margin-left: 4.55%;
	}

	#pu521318
	{
		z-index: 40;
		margin-top: 20px;
		width: 100%;
		left: 0%;
		margin-left: 4.55%;
	}

	#pu522903
	{
		z-index: 2;
		margin-top: 20px;
		width: 100%;
		left: 0%;
		margin-left: 4.55%;
	}

	#u521322,#u529116,#u521311,#u521318,#u522903
	{
		width: 47.73%;
	}

	#u521445,#u529114,#u521640,#u521320,#u521317
	{
		width: 47.73%;
		left: 52.28%;
	}

	#u521311 .fluid_height_spacer,#u521640 .fluid_height_spacer,#u521318 .fluid_height_spacer,#u521320 .fluid_height_spacer,#u522903 .fluid_height_spacer,#u521317 .fluid_height_spacer
	{
		padding-bottom: 123.80952380952381%;
	}

	#u521310
	{
		margin-top: 21px;
		margin-left: 4.55%;
	}

	#u521310 .fluid_height_spacer
	{
		padding-bottom: 59.09090909090909%;
	}

	#u521324
	{
		margin-top: 20px;
		left: 0%;
		margin-left: 4.55%;
	}

	#u521314
	{
		margin-top: 20px;
		left: 0%;
		margin-left: 4.55%;
	}

	#u521312
	{
		margin-top: 20px;
		left: 0%;
		margin-left: 4.55%;
	}

	#u525035
	{
		margin-top: 19px;
		left: 0%;
		margin-left: 4.55%;
	}

	.nosvg #u521316,.nosvg #u521324,.nosvg #u521314,.nosvg #u521312,.nosvg #u525035,#u525044
	{
		left: 0%;
		margin-left: 4.55%;
	}

	#u525044 .fluid_height_spacer
	{
		padding-bottom: 100%;
	}

	.nosvg #u525044,#u525053
	{
		left: 0%;
		margin-left: 4.55%;
	}

	#u525035 .fluid_height_spacer,#u525053 .fluid_height_spacer
	{
		padding-bottom: 123.86363636363636%;
	}

	#u521323
	{
		margin-top: 19px;
		left: 0%;
		margin-left: 4.55%;
	}

	.nosvg #u525053,.nosvg #u521323
	{
		left: 0%;
		margin-left: 4.55%;
	}

	#u521314 .fluid_height_spacer,#u521323 .fluid_height_spacer
	{
		padding-bottom: 143.1818181818182%;
	}

	.nosvg #u528549,.nosvg #u521310,#u527203
	{
		margin-left: 4.55%;
	}

	#u526139
	{
		padding-bottom: 0px;
		margin-top: 20px;
		margin-left: 4.55%;
	}

	#u526139_position_content
	{
		width: 100%;
	}

	#u527203 .fluid_height_spacer,#u524841 .fluid_height_spacer,#u525118 .fluid_height_spacer,#u525127 .fluid_height_spacer
	{
		padding-bottom: 90.9090909090909%;
	}

	.nosvg #u527203,#u528538
	{
		margin-left: 4.55%;
	}

	.nosvg #u528538
	{
		margin-left: 4.55%;
	}

	#u528538 .fluid_height_spacer
	{
		padding-bottom: 266.5909090909091%;
	}

	#u521309
	{
		margin-top: 20px;
		margin-left: 54.55%;
	}

	.nosvg #u521309
	{
		margin-left: 54.55%;
	}

	.css_verticalspacer .verticalspacer
	{
		height: calc(100vh - 9783px);
	}

	body
	{
		overflow-x: hidden;
		min-width: 320px;
	}

}

